---
partial: themetoggle
---
{{!-- Edit this file at https://github.com/chocolatey/choco-theme/partials --}}
<input id="themeToggle" class="toggle-checkbox theme-toggle" type="checkbox" aria-label="Toggle theme settings" />
<div class="toggle-slot">
    <div class="sun-icon-wrapper">
        <div class="sun-icon fas fa-sun"></div>
    </div>
    <div class="toggle-button"></div>
    <div class="moon-icon-wrapper">
        <div class="moon-icon fas fa-moon"></div>
    </div>
</div>