/***** Metadata *****/
.m-meta-group {

}
.meta-group {
  display: block;
}

.meta-group * {
  display: inline;
}

.meta-data {
  color: lighten($text_color, 20%);
  font-size: 13px;
  font-weight: 300;
}

.meta-data:not(:last-child)::after {
  content: "\00B7";
  margin: 0 5px;
}