/***** Vote *****/
.m-vote {

}

.vote {
  display: inline-block;
  text-align: center;
  width: 35px;
}

.vote a {
  outline: none;
}

.vote a:active, .vote a:hover, .vote a:focus {
  text-decoration: none;
}

.vote-sum {
  color: lighten($text_color, 20%);
  display: block;
  margin: 3px 0;
}

[dir="rtl"] .vote-sum {
  direction: ltr;
  unicode-bidi: bidi-override;
}

.vote-up:hover::before,
.vote-down:hover::before {
  color: $brand_color;
}

.vote-up::before, .vote-down::before {
  color: lighten($text_color, 20%);
  font-size: 24px;
}

.vote-up::before {
  content: "\2B06";
}

.vote-down::before {
  content: "\2B07";
}

.vote-voted::before {
  color: $brand_color;
}

.vote-voted:hover::before {
  color: darken($brand_color, 20%);
}
