# Copy to .env and fill in. Never commit .env.
# ZCLI: https://developer.zendesk.com/documentation/apps/getting-started/using-zcli

ZENDESK_SUBDOMAIN=d3v-ontec
ZENDESK_EMAIL==eug.borisov91@gmail.com 
ZENDESK_API_TOKEN=Qb8GqWe3ModTnlYnmQvj1CYYU1zJX3hlXgzfc7sF
