<div class="dropdown comment-sorter">
  <button class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
    {{t 'sort_by'}}
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
    </svg>
  </button>
  <span class="dropdown-menu" role="menu">
    {{#each comment_sorters}}
      <a aria-checked="{{selected}}" href="{{url}}" role="menuitemradio">{{name}}</a>
    {{/each}}
  </span>
</div>
