<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header__container">
    <nav class="header__menu header__menu--responsive">
      <button class="header__hamburger" aria-label="Abrir menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <ul class="menu menu__responsive">
        <li class="menu__item">
          <span>Celular</span>

          <div class="menu__submenu">
            <ul>
              <li>
                <a href="https://www.pier.digital/seguro-celular">Seguro de celular</a>
              </li>
              <li>
                <a href="https://www.pier.digital/seguro-celular/tabela-pipe">Tabela Pipe</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="menu__item">
          <span>Auto</span>

          <div class="menu__submenu">
            <ul>
              <li>
                <a href="https://www.pier.digital/seguro-auto">Seguro auto</a>
              </li>
              <li>
                <a href="https://www.pier.digital/seguro-auto/sobre-os-servicos">Assistência 24h</a>
              </li>
              <li>
                <a href="https://www.pier.digital/seguro-auto/terceiros">Acionar cobertura para terceiros</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="menu__item">
          <a href="https://blog.pier.digital/">Blog</a>
        </li>
        <li class="menu__item">
          <a href="https://www.pier.digital/carreiras">Carreiras</a>
        </li>
        <li class="menu__item">
          <a href="https://www.pier.digital/seguro-celular/condicoes-gerais">Termos</a>
        </li>
        <li class="menu__item">
          <a href="https://ajuda.pier.digital/hc/pt-br">Dúvidas</a>
        </li>

        <li class="menu__item menu__item--mobile">
          <a href="https://www.pier.digital/pedir-reembolso">Pedir reembolso</a>
        </li>
        <li class="menu__item menu__item--mobile">
          <a href="https://app.pier.digital/auth/session/new?step=kind">Login</a>
        </li>
      </ul>
    </nav>

    <div class="header__logo">
      {{#link 'help_center'}}
        <img src="{{asset '_logo-pier.svg'}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{/link}}
    </div>

    <nav class="header__actions">
      <ul class="menu">
        <li class="menu__item">
          <a href="https://www.pier.digital/pedir-reembolso">Pedir reembolso</a>
        </li>
        <li class="menu__item">
          <a href="https://app.pier.digital/auth/session/new?step=kind">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
