.article-page {
  .section--article {
    padding-top: 48px;
    padding-bottom: 48px;

    .section {
      &__container {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        justify-content: flex-start;
      }

      &__related {
        margin-bottom: 24px;

        .articles-list {
          flex-flow: column wrap;
          margin: 0;

          &__item {
            flex: 1 1 100%;
            width: 100%;
            padding: 0;

            a {
              border-color: transparent;
            }

            .article__title {
              font-weight: normal;
            }

            &--current {
              a {
                background-color: map-get($base-colors-grey, '100');
              }
            }

            &:hover {
              a {
                background-color: map-get($base-colors-grey, '200');
              }
            }

            & + li {
              margin-top: 8px;
            }
          }
        }

        .section__cta {
          display: block;
          margin-top: 16px;
          padding-top: 16px;
          border-top: 1px solid map-get($base-colors-grey, '200');
          font-weight: bold;
          text-align: right;
          color: map-get($base-colors-secondary, '700');

          &:after {
            display: inline-block;
            margin: 0 4px;
            content: '\003E'; // greater than: >
          }
        }
      }

      &__article {
        margin-top: 24px;

        section {
          h2 {
            margin: 0 0 24px;
            font-size: 40px;
          }

          & + section {
            margin-top: 56px;
          }
        }
      }
    }

    @media screen and (min-width: map-get($viewports, 'desktop')) {
      padding-bottom: 96px;

      .section {
        &__container {
          flex-flow: row wrap;
          align-items: flex-start;
          justify-content: flex-start;
        }

        &__related {
          position: sticky;
          top: 96px;
          width: 25%;
          flex-basis: 25%;
          margin-bottom: 0;
          padding-right: 12px;
        }

        &__article {
          width: 75%;
          flex-basis: 75%;
          margin-top: 0;
          padding-left: 12px;

          section {
            h2 {
              margin: 0 0 24px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
