.category-page {
  .section--head {
    .category {
      &__icon {
        position: absolute;
        height: 72px;
        bottom: -24px;
        right: 0;
      }
    }

    @media screen and (min-width: map-get($viewports, "tablet")) {
      .category {
        &__icon {
          height: 140px;
        }
      }
    }
  }

  .section--topics {
    .section {
      &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &__subjects {
        position: sticky;
        top: 96px;
        width: 25%;
        flex-basis: 25%;
        padding-right: 12px;

        ul {
          li {
            & + li {
              margin-top: 8px;
            }
          }
        }
      }

      &__articles {
        width: 75%;
        flex-basis: 75%;
        padding-left: 12px;

        section {
          scroll-margin-top: $header-height;

          h2 {
            margin: 0 0 16px;
            font-size: 32px;
          }

          & + section {
            margin-top: 56px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 16px;
      font-family: $text_font;
      font-size: 16px;
      font-weight: bold;
    }

    @media screen and (min-width: map-get($viewports, "desktop")) {
      .section {
        &__articles {
          section {
            h2 {
              margin: 0 0 24px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
