.article-page {
  .section--article {
    .section {
      &__container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &__related {
        position: sticky;
        top: 96px;
        width: 25%;
        flex-basis: 25%;
        padding-right: 12px;

        .articles-list {
          flex-flow: column wrap;
          margin: 0;

          &__item {
            flex: 1 1 100%;
            width: 100%;
            padding: 0;

            .article__title {
              font-weight: normal;
            }

            & + li {
              margin-top: 8px;
            }
          }
        }
      }

      &__article {
        width: 75%;
        flex-basis: 75%;
        padding-left: 12px;

        section {
          h2 {
            margin: 0 0 24px;
            font-size: 40px;
          }

          & + section {
            margin-top: 56px;
          }
        }
      }
    }

    h3 {
      margin-bottom: 16px;
      font-family: $text_font;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
