$background_color:$sui-color-brand-denim-100;
$text_color: $sui-color-text;
$brand_color:$sui-color-brand-akane;
$brand_text_color: $sui-color-text-light;
$link_color:$sui-color-primary;
$text-font: $sui-font-family-secondary;
$heading_font: $sui-font-family-primary;
$homepage_background_image: "assets/hero-background.jpg";

@charset "UTF-8";
