<main class="text-center">
  <div class="snmk-container">
    <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
      <nav class="sub-nav breadcrums-box">
        <ol class="breadcrumbs">
          <li title="Supoort"><a href="/hc/en-us">Support</a></li>
          <li title="Snapmaker Care"><a href="/hc/en-us/p/care">Snapmaker Care</a></li>
        </ol>
      </nav>
    </div>
  </div>

  <section class="care-banner">
    <div class="snmk-container">
      <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-5 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-5 snmk-col-l-offset-5 snmk-col-m-offset-3">
        <h1 class="big-title-1 font-bw-1">Snapmaker Care</h1>
      </div>
    </div>
  </section>


  <section class="text-center">
    <div class="snmk-container">
      <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-6 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-3 snmk-col-l-offset-3 snmk-col-m-offset-3">
        <h2 class="title-1 bold-700">What is Snapmaker Care?</h2>
        <div class="c-black title-3 mt-2xl">Snapmaker Care covers two incidents of repair or replacement from the purchase of the machine to one year after the end of the standard warranty. We offer comprehensive and reliable protection and you can just enjoy creating with peace of mind.</div>
      </div>
      <div class="snmk-col-8 snmk-col-l-8 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-2 snmk-col-l-offset-2 mt-2xl">
        <div class=""><img src="" alt=""></div>
      </div>
    </div>
  </section>

  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">What can I get from<br>Snapmaker Care?</h2>
        <div class="service-content">
          <div class="service-content-item mt-3xl">
            <div><img src="" alt=""></div>
            <div>
              <div class="c-blue title-3 bold-700 mt-xl">Warranty for two incidents</div>
              <div class="font-2 font-bw-2 mt-xs">Two incidents of repair or replacement from the purchase of the machine to one year after the end of the standard warranty. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">Which model can I purchase Snapmaker Care for?</h2>
        <div class="enable-service-model mt-2xl">
          <div class="enable-service-model-item">
            <div><img src="" alt=""></div>
            <div>
              <div class="c-blue title-3 bold-700">Warranty for two incidents</div>
              <div class="font-2 font-bw-2">Two incidents of repair or replacement from the purchase of the machine to one year after the end of the standard warranty. </div>
            </div>
          </div>
        </div>
        <div class="font-2">Note: Snapmaker Care only covers the module of which the damage is confirmed by our echnical support, and it only covers one type of module each time.</div>
      </div>
    </div>
  </section>


  <section class="text-center">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">How to purchase Snapmaker Care?</h2>
        
      </div>
    </div>
  </section>


  <section class="text-center">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">How to obtain service?</h2>
        
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">FAQ</h2>
        
      </div>
    </div>
  </section>


  
</main>