<div class="container">
  <div id="service-catalog"></div>
</div>

<script type="module">
  import { renderServiceCatalogTwo } from "service-catalog";

  const container = document.getElementById("service-catalog");

  const settings = {{json settings}};

  renderServiceCatalogTwo(settings, container);
</script>