<div class="container">
  <h1>To Do List</h1>
  <div id="todo_app_content">
    <input type="text" id="todo_item" />
    <button id="add-item">Add Item</button>
    <br /><br />
    <ul id="todo_list">
      <li>Loading items ...</li>
    </ul>
  </div>
</div>
