.hero {
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }

  &--home {
    background-position: center;
    background-size: cover;

    h2 {
      font-size: 48px;
    }
  }
}
