.articles-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 0 -12px;

  &__item {
    padding: 12px;

    a {
      display: block;
      position: relative;
      padding: 8px 32px 8px 16px;
      border: 1px solid map-get($base-colors-grey, "400");
      border-radius: 4px;
      color: map-get($base-colors-primary, "700");

      &:before {
        position: absolute;
        top: 50%;
        right: 16px;
        content: "\003E"; // greater than: >
        font-weight: bold;
        transform: translateY(-50%);
      }
    }
  }

  .article {
    span {
      display: block;
    }
  }

  @media screen and (min-width: map-get($viewports, "desktop")) {
    flex-flow: row wrap;

    &__item {
      flex: 1 1 50%;
      width: 50%;

      a {
        height: 100%;
      }
    }
  }
}
