.breadcrumbs {
  position: relative;
  margin: 0;
  padding: 0;

  li {
    display: inline;
    font-size: 12px;

    a {
      color: map-get($base-colors-primary, "700");
    }

    & + li:before {
      content: ">";
      margin: 0 4px;
    }
  }
}
