.categories-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 -8px;

  &__item {
    flex: 1 1 50%;
    padding: 8px;
    text-align: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 32px 16px;
      border: 1px solid map-get($base-colors-grey, "200");
      border-radius: 4px;
      color: map-get($base-colors-secondary, "600");
      text-decoration: none;
      transition: all ease-in-out 200ms;

      &:hover {
        background-color: $color-light-grey;
      }
    }

    .category {
      &__icon {
        height: 48px;
        margin-bottom: 8px;
        
      }
    }
  }

  @media screen and (max-width: map-get($viewports, "tablet")) {
    .category {
      &__description {
        display: none;
      }
    }
  }

  @media screen and (min-width: map-get($viewports, "desktop")) {
    margin: 0 -12px;

    &__item {
      flex: 1 1 25%;
      padding: 12px;
    }

    .category {
      &__icon {
        height: 80px;
        margin-bottom: 16px;
      } 
    }
  }
}
