.feedback {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h4 {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: $text_font;
    font-weight: bold;
  }

  &__button {
    position: relative;
    padding: 16px 16px 16px 38px;
    font-size: 16px;
    line-height: 1;

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }

    &--up {
      &:before {
        content: '\01F60D'; // smiling face with heart-eyes emoji: 😍
      }
    }

    &--down {
      &:before {
        content: '\01F641'; // slightly frowning face emoji: 🙁
      }
    }

    &--msg {
      &:before {
        content: '\01F4AC'
      }
    }

    & + .button {
      margin-left: 16px;
    }
  }

  &__cta {
    margin-top: 24px;
  }

  @media screen and (min-width: map-get($viewports, "tablet")) {
    &__container {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
    }

    &__form,
    &__cta {
      flex: 1 0 50%;
    }

    &__cta {
      margin-top: 0;
    }
  }
}
