.header {
  position: sticky;
  top: 0;
  height: $header-height;
  padding: 0 24px;
  background-color: $color-white;
  border-bottom: 1px solid map-get($base-colors-grey, "100");
  z-index: 3;

  &__hamburger {
    display: none;
    position: relative;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-color: $color-white;
    border: none;
    appearance: none;
    cursor: pointer;
    outline: 0;
    z-index: 2;

    span {
      display: block;
      position: relative;
      height: 2px;
      width: 100%;
      top: 0;
      left: 0;
      background-color: map-get($base-colors-secondary, "600");
      opacity: 1;
      pointer-events: none;
      transition: all .31s cubic-bezier(.4,0,.2,1);

      & + span {
        margin-top: 4px;
      }
    }

    &--open {
      span {
        & + span {
          margin-top: 0;
        }

        &:nth-child(1) {
          transform: rotate(40deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-40deg);
          top: -4px;
        }
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      width: 64px;
      object-fit: contain;
    }
  }

  &__menu,
  &__actions {
    height: 100%;
  }

  @media screen and (max-width: map-get($viewports, "wide")) {
    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__hamburger {
      display: block;
    }

    &__actions {
      li:first-child {
        display: none;
      }
    }
  }
}
