.header {
  position: sticky;
  top: 0;
  height: 80px;
  padding: 0 24px;
  background-color: $color-white;
  border-bottom: 1px solid map-get($base-colors-grey, "100");
  z-index: 3;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      width: 64px;
      object-fit: contain;
    }
  }

  &__menu,
  &__actions {
    height: 100%;
  }
}
