.voting {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h4 {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: $text_font;
    font-weight: bold;
  }

  h4,
  p {
    color: map-get($base-colors-grey, "500");
  }

  &__button {
    position: relative;
    padding: 16px 16px 16px 38px;
    font-size: 16px;
    line-height: 1;

    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }

    &--up {
      &:before {
        content: '\01F60D'; // smiling face with heart-eyes emoji: 😍
      }
    }

    &--down {
      &:before {
        content: '\01F641'; // slightly frowning face emoji: 🙁
      }
    }

    &--msg {
      &:before {
        content: '\01F4AC'
      }
    }

    & + .button {
      margin-left: 16px;
    }
  }

  &__cta {
    margin-top: 24px;
  }

  &__feedback {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 100%;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 250ms;
    z-index: 1;

    &--active {
      opacity: 1;
      visibility: visible;
    }

    img {
      flex: 0 0 86px;
      width: 86px;
      margin-right: 16px;
    }

    h4 {
      font-size: 18px;
    }

    .feedback__text {
      flex: 1;
    }
  }

  @media screen and (min-width: map-get($viewports, "tablet")) {
    &__container {
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
    }

    &__form,
    &__cta {
      flex: 1 0 50%;
    }

    &__cta {
      margin-top: 0;
    }

    &__feedback {
      img {
        flex: 0 0 122px;
        width: 122px;
        margin-right: 24px;
      }

      h4 {
        font-size: 24px;
      }
    }
  }
}
