/***** Footer *****/
.l-footer {
  padding: rem(20) 0;
  background-color: $sui-color-brand-denim-700;

  a {
    color: $sui-color-brand-denim-100;
  }
}

.footer-language-selector {
  color: lighten($text_color, 20%);
  display: inline-block;
  font-weight: 300;
}
