// styles/settings/_colors.scss

$base-colors-primary: (
  "100": #FFE6EC,
  "200": #FFCCD9,
  "300": #FFB3C7,
  "400": #FF99B4,
  "500": #FF80A1,
  "600": #FF678E
);

$base-colors-secondary: (
  "100": #EBEDFF,
  "200": #CCD0FF,
  "300": #A2AAFF,
  "400": #6C72B0,
  "500": #6C72B0,
  "600": #24263B,
  "700": #23263B
);

$base-colors-grey: (
  "100": #E4E4E4,
  "200": #C9CBD1,
  "300": #A3A5AE,
  "400": #787982,
  "500": #39393E
);

$colors-yellow: (
  "100": #AA8043,
  "base": #FFE0B3,
  "dark": #FFC774
);

$colors-green: (
  "100": #98EED9,
  "200": #428A77,
  "base": #A2CA9E,
  "dark": #88BB83
);

$colors-orange: (
  "base": #FFAFA1,
  "dark": #FF907B
);

$colors-background: (
  "yellow": #F9F2E9,
  "green": #E3F4E6,
  "orange": #FFE1DB
);

$color-light-grey: #F5F5F5;
$color-white: white;
$color-black: black;

