*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.\!container {
  width: 100% !important;
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .\!container {
    max-width: 768px !important;
  }

  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .\!container {
    max-width: 1280px !important;
  }

  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1441px) {
  .\!container {
    max-width: 1441px !important;
  }

  .container {
    max-width: 1441px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.left-2 {
  left: 0.5rem;
}

.right-0 {
  right: 0px;
}

.right-2 {
  right: 0.5rem;
}

.top-0 {
  top: 0px;
}

.isolate {
  isolation: isolate;
}

.z-10 {
  z-index: 10;
}

.z-modal {
  z-index: 900;
}

.z-nav {
  z-index: 800;
}

.z-scrim {
  z-index: 850;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.\!my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-1\.5 {
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-padding-large {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-\[0\.1875rem\] {
  margin-bottom: 0.1875rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-padding-small {
  margin-left: 0.75rem;
}

.ml-padding-small-dense {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-\[1\.875rem\] {
  margin-top: 1.875rem;
}

.mt-padding-x-large {
  margin-top: 2.25rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.inline-table {
  display: inline-table;
}

.table-caption {
  display: table-caption;
}

.table-cell {
  display: table-cell;
}

.table-column {
  display: table-column;
}

.table-column-group {
  display: table-column-group;
}

.table-footer-group {
  display: table-footer-group;
}

.table-header-group {
  display: table-header-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.flow-root {
  display: flow-root;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.contents {
  display: contents;
}

.list-item {
  display: list-item;
}

.hidden {
  display: none;
}

.size-0 {
  width: 0px;
  height: 0px;
}

.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.size-40 {
  width: 10rem;
  height: 10rem;
}

.\!h-8 {
  height: 2rem !important;
}

.h-3\.5 {
  height: 0.875rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[4\.5rem\] {
  height: 4.5rem;
}

.h-padding-large {
  height: 1.5rem;
}

.w-3\.5 {
  width: 0.875rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-\[3\.75rem\] {
  width: 3.75rem;
}

.w-full {
  width: 100%;
}

.w-padding-large {
  width: 1.5rem;
}

.w-screen {
  width: 100vw;
}

.min-w-\[10\.25rem\] {
  min-width: 10.25rem;
}

.flex-shrink {
  flex-shrink: 1;
}

.shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-4 {
  --tw-translate-y: 1rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.select-all {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}

.resize {
  resize: both;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-gap-large {
  gap: 1rem;
}

.space-x-gap-large > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-\[0\.3125rem\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.3125rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.3125rem * var(--tw-space-y-reverse));
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-wrap {
  text-wrap: wrap;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-large {
  border-radius: 1.25rem;
}

.rounded-medium {
  border-radius: 1rem;
}

.rounded-small {
  border-radius: 0.75rem;
}

.rounded-t-large {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.border-\[top\2c left\2c right\2c bottom\] {
  border-color: top,left,right,bottom;
}

.border-dark-surface-3 {
  border-color: rgba(255,255,255,0.12);
}

.border-light-surface-3 {
  border-color: rgba(34,34,34,0.05);
}

.bg-dark-accent-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 116 254 / var(--tw-bg-opacity));
}

.bg-dark-accent-1-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(253 60 254 / var(--tw-bg-opacity));
}

.bg-dark-accent-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(54 26 55 / var(--tw-bg-opacity));
}

.bg-dark-accent-2-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(81 13 67 / var(--tw-bg-opacity));
}

.bg-dark-blue-light {
  background-color: rgba(16, 20, 61, 0.8);
}

.bg-dark-green-light {
  background-color: rgba(15, 44, 26, 0.8);
}

.bg-dark-orange-light {
  background-color: rgba(55, 27, 12, 0.8);
}

.bg-dark-pink-light {
  --tw-bg-opacity: 1;
  background-color: rgb(54 26 55 / var(--tw-bg-opacity));
}

.bg-dark-surface-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(19 19 19 / var(--tw-bg-opacity));
}

.bg-dark-surface-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity));
}

.bg-dark-surface-2-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(36 36 36 / var(--tw-bg-opacity));
}

.bg-dark-surface-3 {
  background-color: rgba(255,255,255,0.12);
}

.bg-dark-surface-3-hovered {
  background-color: rgba(255,255,255,0.16);
}

.bg-light-accent-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 13 180 / var(--tw-bg-opacity));
}

.bg-light-accent-1-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(199 10 146 / var(--tw-bg-opacity));
}

.bg-light-accent-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 244 255 / var(--tw-bg-opacity));
}

.bg-light-accent-2-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(254 235 252 / var(--tw-bg-opacity));
}

.bg-light-blue-light {
  --tw-bg-opacity: 1;
  background-color: rgb(239 244 255 / var(--tw-bg-opacity));
}

.bg-light-green-light {
  --tw-bg-opacity: 1;
  background-color: rgb(238 251 241 / var(--tw-bg-opacity));
}

.bg-light-orange-light {
  --tw-bg-opacity: 1;
  background-color: rgb(254 245 234 / var(--tw-bg-opacity));
}

.bg-light-pink-light {
  --tw-bg-opacity: 1;
  background-color: rgb(254 244 255 / var(--tw-bg-opacity));
}

.bg-light-surface-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-light-surface-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.bg-light-surface-2-hovered {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.bg-light-surface-3 {
  background-color: rgba(34,34,34,0.05);
}

.bg-scrim {
  background-color: rgba(0,0,0,0.60);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.fill-dark-accent-1 {
  fill: #FC74FE;
}

.fill-dark-blue-vibrant {
  fill: #0C8911;
}

.fill-dark-brown-vibrant {
  fill: #85754A;
}

.fill-dark-green-base {
  fill: #0C8911;
}

.fill-dark-neutral-1 {
  fill: #FFFFFF;
}

.fill-dark-neutral-2 {
  fill: #9B9B9B;
}

.fill-dark-orange-vibrant {
  fill: #FF4D00;
}

.fill-dark-pink-vibrant {
  fill: #FC74FE;
}

.fill-light-accent-1 {
  fill: #F50DB4;
}

.fill-light-blue-vibrant {
  fill: #0047FF;
}

.fill-light-brown-vibrant {
  fill: #85754A;
}

.fill-light-green-base {
  fill: #0C8911;
}

.fill-light-neutral-1 {
  fill: #222222;
}

.fill-light-neutral-2 {
  fill: #7D7D7D;
}

.fill-light-orange-vibrant {
  fill: #FF4D00;
}

.fill-light-pink-vibrant {
  fill: #F50DB4;
}

.p-2 {
  padding: 0.5rem;
}

.p-padding-medium {
  padding: 1rem;
}

.p-padding-small-dense {
  padding: 0.5rem;
}

.\!py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-margin-extension {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-margin-mobile {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-padding-large {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-padding-medium {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-padding-small {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-\[1\.15625rem\] {
  padding-top: 1.15625rem;
  padding-bottom: 1.15625rem;
}

.py-\[4\.84375rem\] {
  padding-top: 4.84375rem;
  padding-bottom: 4.84375rem;
}

.py-margin-mobile-dense {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-margin-web {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-padding-large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-padding-small {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-padding-small-dense {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-padding-x-large {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.py-padding-x-small-dense {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.pt-margin-web {
  padding-top: 2.5rem;
}

.pt-padding-x-large {
  padding-top: 2.25rem;
}

.text-justify {
  text-align: justify;
}

.font-light {
  font-weight: 300;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.lining-nums {
  --tw-numeric-figure: lining-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.proportional-nums {
  --tw-numeric-spacing: proportional-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.text-dark-accent-1 {
  --tw-text-opacity: 1;
  color: rgb(252 116 254 / var(--tw-text-opacity));
}

.text-dark-blue-vibrant {
  --tw-text-opacity: 1;
  color: rgb(12 137 17 / var(--tw-text-opacity));
}

.text-dark-green-base {
  --tw-text-opacity: 1;
  color: rgb(12 137 17 / var(--tw-text-opacity));
}

.text-dark-neutral-1 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-dark-neutral-2 {
  --tw-text-opacity: 1;
  color: rgb(155 155 155 / var(--tw-text-opacity));
}

.text-dark-orange-vibrant {
  --tw-text-opacity: 1;
  color: rgb(255 77 0 / var(--tw-text-opacity));
}

.text-dark-pink-vibrant {
  --tw-text-opacity: 1;
  color: rgb(252 116 254 / var(--tw-text-opacity));
}

.text-light-accent-1 {
  --tw-text-opacity: 1;
  color: rgb(245 13 180 / var(--tw-text-opacity));
}

.text-light-blue-vibrant {
  --tw-text-opacity: 1;
  color: rgb(0 71 255 / var(--tw-text-opacity));
}

.text-light-green-base {
  --tw-text-opacity: 1;
  color: rgb(12 137 17 / var(--tw-text-opacity));
}

.text-light-neutral-1 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.text-light-neutral-2 {
  --tw-text-opacity: 1;
  color: rgb(125 125 125 / var(--tw-text-opacity));
}

.text-light-orange-vibrant {
  --tw-text-opacity: 1;
  color: rgb(255 77 0 / var(--tw-text-opacity));
}

.text-light-pink-vibrant {
  --tw-text-opacity: 1;
  color: rgb(245 13 180 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.overline {
  text-decoration-line: overline;
}

.line-through {
  text-decoration-line: line-through;
}

.decoration-inherit {
  text-decoration-color: inherit;
}

.opacity-0 {
  opacity: 0;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-dark-medium {
  --tw-shadow: 0px 10px 15px -3px rgba(18, 18, 23, 0.54), 0px 4px 6px -2px rgba(18, 18, 23, 0.40);
  --tw-shadow-colored: 0px 10px 15px -3px var(--tw-shadow-color), 0px 4px 6px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-light-medium {
  --tw-shadow: 0px 6px 15px -3px rgba(18, 18, 23, 0.18), 0px 2px 6px -2px rgba(18, 18, 23, 0.17);
  --tw-shadow-colored: 0px 6px 15px -3px var(--tw-shadow-color), 0px 2px 6px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.\[a-zA-Z0-9\:_-\] {
  a-z-a--z0-9: -;
}

/* @import '../assets/types.css'; */

.site-max-width {
  max-width: 1440px;
}

.default-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .default-grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}

.page-wrapper {
  margin-top: 3.6875rem;
  padding: 1.5rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .page-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 7.5rem;
  }
}

.hover\:bg-dark-accent-1-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 60 254 / var(--tw-bg-opacity));
}

.hover\:bg-dark-accent-2-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(81 13 67 / var(--tw-bg-opacity));
}

.hover\:bg-dark-surface-2-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(36 36 36 / var(--tw-bg-opacity));
}

.hover\:bg-light-accent-1-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(199 10 146 / var(--tw-bg-opacity));
}

.hover\:bg-light-accent-2:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 244 255 / var(--tw-bg-opacity));
}

.hover\:bg-light-accent-2-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 235 252 / var(--tw-bg-opacity));
}

.hover\:bg-light-surface-2-hovered:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}

.hover\:bg-light-surface-3:hover {
  background-color: rgba(34,34,34,0.05);
}

.hover\:bg-light-surface-3-hovered:hover {
  background-color: rgba(34,34,34,0.09);
}

.group:hover .group-hover\:fill-light-neutral-1 {
  fill: #222222;
}

.group:hover .group-hover\:text-dark-neutral-1 {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-light-neutral-1 {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.group:hover .group-hover\:text-light-pink-vibrant {
  --tw-text-opacity: 1;
  color: rgb(245 13 180 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.data-\[active\]\:bg-light-surface-3[data-active] {
  background-color: rgba(34,34,34,0.05);
}

.data-\[active\]\:text-light-neutral-1[data-active] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.group[data-checked] .group-data-\[checked\]\:translate-x-8 {
  --tw-translate-x: 2rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
  .sm\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .sm\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .sm\:mb-20 {
    margin-bottom: 5rem;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .sm\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:border-0 {
    border-width: 0px;
  }

  .sm\:border-t {
    border-top-width: 1px;
  }

  .sm\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm\:px-\[0\.9375rem\] {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .sm\:px-margin-web {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .sm\:py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .sm\:py-\[3\.75rem\] {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .sm\:pb-margin-web {
    padding-bottom: 2.5rem;
  }

  .sm\:pt-padding-large {
    padding-top: 1.5rem;
  }
}

@media (min-width: 1280px) {
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:block {
    display: block;
  }
}

.dark\:border-dark-surface-3:where(.dark, .dark *) {
  border-color: rgba(255,255,255,0.12);
}

.dark\:bg-dark-accent-1:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(252 116 254 / var(--tw-bg-opacity));
}

.dark\:bg-dark-accent-2:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(54 26 55 / var(--tw-bg-opacity));
}

.dark\:bg-dark-blue-light:where(.dark, .dark *) {
  background-color: rgba(16, 20, 61, 0.8);
}

.dark\:bg-dark-green-light:where(.dark, .dark *) {
  background-color: rgba(15, 44, 26, 0.8);
}

.dark\:bg-dark-orange-light:where(.dark, .dark *) {
  background-color: rgba(55, 27, 12, 0.8);
}

.dark\:bg-dark-pink-light:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(54 26 55 / var(--tw-bg-opacity));
}

.dark\:bg-dark-surface-1:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(19 19 19 / var(--tw-bg-opacity));
}

.dark\:bg-dark-surface-2:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity));
}

.dark\:bg-dark-surface-3:where(.dark, .dark *) {
  background-color: rgba(255,255,255,0.12);
}

.dark\:fill-dark-accent-1:where(.dark, .dark *) {
  fill: #FC74FE;
}

.dark\:fill-dark-blue-vibrant:where(.dark, .dark *) {
  fill: #0C8911;
}

.dark\:fill-dark-brown-vibrant:where(.dark, .dark *) {
  fill: #85754A;
}

.dark\:fill-dark-green-base:where(.dark, .dark *) {
  fill: #0C8911;
}

.dark\:fill-dark-neutral-1:where(.dark, .dark *) {
  fill: #FFFFFF;
}

.dark\:fill-dark-neutral-2:where(.dark, .dark *) {
  fill: #9B9B9B;
}

.dark\:fill-dark-orange-vibrant:where(.dark, .dark *) {
  fill: #FF4D00;
}

.dark\:fill-dark-pink-vibrant:where(.dark, .dark *) {
  fill: #FC74FE;
}

.dark\:text-dark-accent-1:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(252 116 254 / var(--tw-text-opacity));
}

.dark\:text-dark-blue-vibrant:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(12 137 17 / var(--tw-text-opacity));
}

.dark\:text-dark-green-base:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(12 137 17 / var(--tw-text-opacity));
}

.dark\:text-dark-neutral-1:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:text-dark-neutral-2:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(155 155 155 / var(--tw-text-opacity));
}

.dark\:text-dark-orange-vibrant:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 77 0 / var(--tw-text-opacity));
}

.dark\:text-dark-pink-vibrant:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(252 116 254 / var(--tw-text-opacity));
}

.dark\:hover\:bg-dark-accent-1-hovered:hover:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(253 60 254 / var(--tw-bg-opacity));
}

.dark\:hover\:bg-dark-accent-2-hovered:hover:where(.dark, .dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(81 13 67 / var(--tw-bg-opacity));
}

.dark\:hover\:bg-dark-surface-3:hover:where(.dark, .dark *) {
  background-color: rgba(255,255,255,0.12);
}

.dark\:hover\:bg-dark-surface-3-hovered:hover:where(.dark, .dark *) {
  background-color: rgba(255,255,255,0.16);
}

.hover\:dark\:bg-dark-accent-2:where(.dark, .dark *):hover {
  --tw-bg-opacity: 1;
  background-color: rgb(54 26 55 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:dark\:fill-dark-neutral-1:where(.dark, .dark *) {
  fill: #FFFFFF;
}

.group:hover .dark\:group-hover\:text-dark-neutral-1:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.group:hover .dark\:group-hover\:text-dark-pink-vibrant:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(252 116 254 / var(--tw-text-opacity));
}

.group:hover .group-hover\:dark\:text-dark-neutral-1:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.dark\:data-\[active\]\:bg-dark-surface-3[data-active]:where(.dark, .dark *) {
  background-color: rgba(255,255,255,0.12);
}

.dark\:data-\[active\]\:text-dark-neutral-1[data-active]:where(.dark, .dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
