$sui-border-radius-sm: rem(2) !default;
$sui-border-radius-md: rem(4) !default;
$sui-border-radius-lg: rem(6) !default;
$sui-border-radius-xl: rem(8) !default;
$sui-border-radius-rounded: rem(1000) !default;
