$sui-curve-easeInOutCubic: cubic-bezier(0.42, 0, 0.58, 1) !default;
$sui-curve-easeInOutQuint: cubic-bezier(0.7, 0, 0.3, 1) !default;
$sui-curve-easeOutBack: cubic-bezier(0.46, 0.01, 0.31, 1.15) !default;
