$sui-size-border: rem(1) !default;

$sui-size-xxs: rem(16) !default;
$sui-size-xs:  rem(36) !default;
$sui-size-sm:  rem(64) !default;
$sui-size-md:  rem(100) !default;
$sui-size-lg:  rem(144) !default;
$sui-size-xl:  rem(196) !default;
$sui-size-xxl: rem(256) !default;
