$sui-space-xxs:  rem(4) !default;
$sui-space-xs:   rem(6.25) !default;
$sui-space-sm:   rem(9) !default;
$sui-space-md:   rem(16) !default;
$sui-space-lg:   rem(25) !default;
$sui-space-xl:   rem(36) !default;
$sui-space-xxl:  rem(49) !default;
