$sui-font-path: '~saagie-ui/src/assets/fonts' !default;

$sui-font-family-primary: 'Luengo', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$sui-font-family-secondary: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$sui-font-family-code: 'Source Code Pro', monospace !default;

$sui-line-height: 1.5;
$sui-font-size-xxs:  rem(9) !default;  // Extra extra small
$sui-font-size-xs:   rem(10.5) !default; // Extra small
$sui-font-size-sm:   rem(12.25) !default; // Small
$sui-font-size-ms:   rem(14) !default; // Medium small
$sui-font-size-md:   rem(16) !default; // Medium
$sui-font-size-ml:   rem(18) !default; // Medium large
$sui-font-size-lg:   rem(22) !default; // Large
$sui-font-size-xl:   rem(30.25) !default; // Extra large
$sui-font-size-xxl:  rem(42.25) !default; // Extra extra large

$sui-font-size-primary-title: rem(25) !default;
