$sui-z-index-t-app-layout-message: 6;
$sui-z-index-o-second-level-nav: 7;
$sui-z-index-o-secondary-nav: 7; /* DEPRECATED - LEGACY 0.55.0 */
$sui-z-index-o-primary-nav: 8;
$sui-z-index-o-topbar: 9;
$sui-z-index-o-second-level-nav-mobile: 10;
$sui-z-index-o-secondary-nav-mobile: 10; /* DEPRECATED - LEGACY 0.55.0 */
$sui-z-index-o-primary-nav-mobile: 11;
$sui-z-index-o-side-panel-open: 12;
$sui-z-index-o-side-panel: 13;
$sui-z-index-o-page-popin: 14;
$sui-z-index-l-focus-mode: 20;
$sui-z-index-prj-pipeline-drag: 21;
$sui-z-index-o-modal: 99;
$sui-z-index-m-add-box: 100;
$sui-z-index-o-dropdown: 101;
$sui-z-index-o-notification: 102;
$sui-z-index-o-confirm: 103;
$sui-z-index-a-tooltip: 104;
