.pagination {
  margin: 24px 0;

  &-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 8px;

      a {
        display: block;
        position: relative;
        padding: 12px;
        background-color: $color-white;
        border: 1px solid map-get($base-colors-primary, '600');
        border-radius: 4px;
        color: map-get($base-colors-primary, '600');
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        text-decoration: none;
        transition: all ease-in-out 250ms;

        &:hover {
          background-color: map-get($base-colors-primary, '600');
          color: $color-white;
        }
      }
    }
  }

  &-first,
  &-last {
    &-link {
      padding: 0 10px;
    }

    &-text {
      @include visually-hidden;
    }
  }
}
