<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{!-- MKTODO: add breadcrumbs --}}
  </div>

  {{! MKTODO: add translation for page header }}
  <h1>Approval Request List Page</h1>

  <div id="main-content">
    <div id="approval-request-list"></div>
  </div>
</div>

<script type="module">
  import { renderApprovalRequestList } from "approval-requests"; 
  const helpCenterPath ={{json (page_path "help_center")}}; 
  const container = document.getElementById("approval-request-list");
  renderApprovalRequestList(container, helpCenterPath);
</script>
