<div class="container-divider"></div>
<div id="main-content" class="error-page text-center">

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

{{#is error 'not_found'}}
  <h1 class="compact-bottom">404</h1>
  <h2 class="compact-top">Page not found</h2>
  <p>The link you followed may be broken or we may have moved the page. If you cannot find what you are looking for, <a href="https://www.artstor.org/contact-us">contact us</a>.
  <p>
  	<a href="/" class="button">Back to Homepage</a>
  </p>
<div>
  <img src="{{asset 'Error-page-art.jpg'}}" alt="Philippe Mercier, The Sense of Sight, 1744 – 1747. Yale Center for British Art">
  <p class="caption-text compact">Philippe Mercier, The Sense of Sight, 1744 – 1747. Yale Center for British Art.</p>
</div>
{{/is}}
