<div class="container-divider"></div>
<div id="main-content" class="error-page text-center">

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

{{#is error 'not_found'}}
  <h1 class="compact-bottom">404</h1>
  <h2 class="compact-top">Page not found</h2>
  <p>The link you followed may be broken or we may have moved the page. If you cannot find what you are looking for, <a href="https://www.artstor.org/contact-us">contact us</a>.
  <p>
  	<a href="/" class="button">Back to Homepage</a>
  </p>
<div>
  <img src="{{asset 'Error-page-art.jpg'}}" alt="Philippe Mercier, The Sense of Sight, 1744 – 1747. Yale Center for British Art">
  <p class="caption-text compact">Philippe Mercier, The Sense of Sight, 1744 – 1747. Yale Center for British Art.</p>
</div>
<script>
  var base_pattern = 'https://support.artstor.org/';
  /*the below is slicing off everything in the URL bar that appears after the base_pattern*/
  var t_url = window.location.href.slice( base_pattern.length );

  /*below is the end of the URL that a user inputs in the URL bar*/
  var redirect_from_array = [
    "?article=01-webinars",
    "?article=onsite-training-3",
    "?article=group-online-training-2",
    "?article=materials-4",
    "?article=finding-viewing-downloading",
    "?article=organizing",
    "?article=offline-image-viewer-oiv",
    "?article=watch-self-paced-training-for-k-12-subscribers",
    "?article=watch-self-paced-training-for-higher-ed-institutions",
    "?article=view-register",
    "?article=remote-and-proxy-access",
    "?article=user-preferences",
    "?article=register-for-an-artstor-account",
    "?article=system-requirements-2",
    "?article=institutional-log-in",
    "?article=moving-your-artstor-account-to-a-new-institution",
    "?article=linking-your-artstor-account-with-an-institutional-account",
    "?article=k-12-access",
    "?article=user-account-passwords",
    "?article=setting-up-shibboleth-institutional-access",
    "?article=password-help",
    "?article=accessibility-in-the-artstor-digital-library",
    "?article=advanced-search",
    "?article=keyword-search",
    "?article=searching-overview",
    "?article=browse-3",
    "?article=faceted-search",
    "?article=using-wildcards",
    "?article=search-by-media-type",
    "?article=search-for-creative-commons-zero-content",
    "?article=libguides",
    "?article=search-by-item-i-d",
    "?article=about-public-access-to-artstor",
    "?article=using-public-collections-content",
    "?article=thumbnail-icons",
    "?article=image-viewer",
    "?article=image-thumbnails",
    "?article=image-data",
    "?article=working-with-iap-images",
    "?article=working-with-qtvr-files",
    "?article=working-with-audio-files",
    "?article=working-with-videos",
    "?article=working-with-3d-files",
    "?article=embedded-metadata",
    "?article=working-with-pdf-files",
    "?article=multi-view-items",
    "?article=export-citations",
    "?article=create-and-manage-image-groups",
    "?article=image-groups-and-folders-overview",
    "?article=index-artstor-content-with-zotero",
    "?article=teaching-resources-overview",
    "?article=tags",
    "?article=save-selections-to-a-group",
    "?article=tips-for-using-tags",
    "?article=printing-images",
    "?article=downloading-images",
    "?article=downloading-on-a-mac",
    "?article=downloading-on-a-pc",
    "?article=creating-links",
    "?article=export-to-powerpoint",
    "?article=download-an-image-group-as-a-zip-file",
    "?article=download-an-image-detail",
    "?article=sharing-overview",
    "?article=index-artstor-content-with-zotero",
    "?article=image-download-size",
    "?article=presenting-with-the-image-viewer",
    "?article=presenting-with-oiv",
    "?article=presenting-with-other-tools",
    "?article=convert-an-oiv-presentation-to-powerpoint",
    "?article=quiz-mode-in-fullscreen",
    "?article=multi-view-items",
    "?article=citing-sources",
    "?article=images-for-academic-publishing",
    "?article=permitted-and-prohibited-uses-2",
    "?article=fair-use-of-images",
    "?article=iap-terms-and-conditions-of-use",
    "?article=personal-collections-overview",
    "?article=upload-images-to-personal-collections",
    "?article=organize-files-in-personal-collections",
    "?article=using-your-personal-collection",
    "?article=shared-shelf-institutional-collections-overview",
    "?article=535",
    "?article=usage-reports",
    "?article=technical-information",
    "?article=promoting-artstor-on-campus",
    "?article=setting-up-proxy-access-for-your-institution",
    "?article=methods-of-access-for-the-digital-library",
    "?article=promote-artstor-at-your-secondary-school",
    "?article=gifs-for-promotion",
    "?article=gifs-for-support",
    "?article=installing-oiv",
    "?article=importing-images-to-oiv",
    "?article=organize-and-work-with-images-in-oiv",
    "?article=creating-slides-in-oiv",
    "?article=oiv-presenting-saving-and-sharing",
    "?article=troubleshooting-oiv",
    "?article=about-oiv",
    "?article=oiv-release-notes",
    "?article=system-requirements",
    "?article=saving-and-sharing-presentations-in-oiv",
    "?article=user-preferences-for-oiv",
    "?article=guides-to-icons-menus-and-slide-templates-in-oiv",
    "?article=oiv-authentication",
    "?article=guide-to-toolbar-menu-options",
    "?article=guide-to-oiv-slide-template",
    "?article=convert-an-oiv-presentation-to-powerpoint",
    "?article=download-previous-versions-of-oiv",
    "?article=oiv-workflow-getting-started",
    "?article=troubleshooting-tips",
    "?article=system-requirements",
    "?article=system-requirements-2",
    "?article=im-getting-an-error-message-that-my-remote-access-has-expired-article",
    "?article=i-cant-savedownload-images-article",
    "?article=im-still-having-trouble",
    "?article=current-technical-issues-alerts",
    "?article=time-out-issues",
    "?article=where-are-my-folders",
    "?article=report-an-issue",
    "?article=about-adl",
    "?article=stay-in-touch",
    "?article=user-services-team",
    "?article=upcoming-changes-to-artstor",
    "?article=materials-4",
    "?article=libguides",
    "?article=registering-2",
    "?page_id=52",
    "?page_id=461",
    "?page_id=39",
    "?page_id=37",
    "?article=transitioning-from-the-oiv-to-other-tools",
    "?article=zooming-image-details",
    "?article-category=01-training",
    "?article-category=02-video-library",
    "?article-category=03-accessing-the-artstor-digital-library",
    "?article-category=04-finding",
    "?article-category=05-public-access-to-artstor",
    "?article-category=05-viewing-artstor-content",
    "?article-category=06-organizing",
    "?article-category=07-sharing",
    "?article-category=08-presenting",
    "?article-category=09-copyright-using-images",
    "?article-category=09-using-your-own-images",
    "?article-category=10-for-administrators",
    "?article-category=11-gif-library",
    "?article-category=12-oiv",
    "?article-category=13-troubleshooting",
    "?article-category=14-artstor-digital-library",
    "?article-category=getting-started"
];

/*the below is where a user is redirected to*/
  var redirect_to_array = [
    "",
    "",
    "sections/360003844874",
    "",
    "articles/360021823351",
    "articles/360021823352",
    "sections/360003891813",
    "articles/360021823354",
    "articles/360021823355",
    "articles/360021823356",
    "articles/360021180273",
    "articles/360020982854",
    "articles/360021181213",
    "articles/360021201754",
    "sections/360003875294",
    "articles/360020983834",
    "articles/360020983994",
    "articles/360021181913",
    "articles/360020982854",
    "articles/360021182033",
    "articles/360020982854",
    "articles/360020984514",
    "articles/360021186793",
    "articles/360021186913",
    "articles/360021186953",
    "articles/360020988794",
    "articles/360020989054",
    "articles/360020989094",
    "articles/360020989314",
    "articles/360021187673",
    "articles/360021202934",
    "articles/360020989474",
    "articles/360021188153",
    "articles/360021188613",
    "articles/360020995474-",
    "articles/360020994994",
    "articles/360020995474",
    "articles/360021194513",
    "articles/360021187714",
    "articles/360021195013",
    "articles/360020996474",
    "articles/360020996654",
    "articles/360020996754",
    "articles/360021195453",
    "articles/360020996814",
    "articles/360020997034",
    "articles/360021272793",
    "articles/360021077674",
    "articles/360021273213",
    "articles/360021078014",
    "articles/360021078334",
    "articles/360021273673",
    "articles/360021274013",
    "articles/360021273673",
    "articles/360021274413",
    "articles/360021274553",
    "articles/360021080014",
    "articles/360021080054",
    "articles/360021274713",
    "articles/360021274813",
    "articles/360021080654",
    "articles/360021080854",
    "articles/360021081174",
    "articles/360021078014",
    "articles/360021275713",
    "articles/360021276113",
    "articles/360021276153",
    "articles/360021276233",
    "articles/360021081954",
    "articles/360021276333",
    "articles/360020997034",
    "articles/360021272793",
    "articles/360021187714",
    "articles/360021187774",
    "articles/360021380253",
    "articles/360021380333",
    "articles/360021380973",
    "articles/360021188854",
    "articles/360021189994",
    "articles/360021382653",
    "articles/360021190534",
    "articles/360021383913",
    "articles/360021192474",
    "articles/360021385253",
    "articles/360021193094",
    "articles/360021387233",
    "articles/360021194554",
    "articles/360021194714",
    "articles/360021195114",
    "articles/360021388233",
    "articles/360021196054",
    "articles/360021388933",
    "articles/360021389153",
    "articles/360021197254",
    "articles/360021389913",
    "articles/360021198274",
    "articles/360021390553",
    "sections/360003891813",
    "articles/360021198954",
    "articles/360021199434",
    "articles/360021392073",
    "articles/360021393353",
    "articles/360021200794",
    "articles/360021201114",
    "articles/360021201174",
    "articles/360021081954",
    "articles/360021394073",
    "articles/360021201594",
    "articles/360021201754",
    "articles/360021198954",
    "articles/360021201754",
    "articles/360021202114",
    "articles/360021394473",
    "",
    "",
    "",
    "articles/360021273673",
    "",
    "",
    "",
    "",
    "",
    "articles/360021395193",
    "articles/360021202934",
    "articles/360021181213",
    "articles/360021395193",
    "",
    "",
    "articles/360022908854",
    "articles/360021504533",
    "articles/360021316554",
    "sections/360003941254",
    "sections/360003941254",
    "sections/360003875294",
    "sections/360003852333",
    "sections/360003941454",
    "sections/360003919613",
    "sections/360003919613",
    "sections/360003865333",
    "sections/360003986613",
    "sections/360003843214",
    "sections/360003890173",
    "sections/360003890733",
    "sections/360003941254",
    "sections/360003891813",
    "sections/360003875294",
    "",
    "sections/360003875294"
];
  /*The below looks at the end of the base URL (t_url), and gives the position in the array named redirect_from_array.*/
  var idx = redirect_from_array.indexOf( t_url );

  /*as long as t_url is in redirect_from_array, it should have an idx value of >=0. If it's not in the array, nothing is redirected*/
  if ( idx >= 0 ) {
      window.location.replace(base_pattern + 'hc/en-us/' + redirect_to_array[idx]);
  }

</script>
{{/is}}
