<footer class="footer">
  <div class="footer-inner">
      <div class="footer-container">
        <div class="footer-links">
          <ul class="footer-nav">
            <li><a href="http://www.adobe.com/privacy/policy.html">Privacy</a></li>
            <li><a href="http://www.adobe.com/legal/terms.html">Terms of Use</a></li>
            <li><a href="#" id="openCookieModal" onclick="adobePrivacy.showConsentPopup();">Cookie Preferences</a></li>
            <li><a href="https://adobe.com/legal/terms">Do not sell my personal information</a></li>
          </ul>
        </div>
        <div class="copyright-date">© 2016-2022 Adobe. All rights reserved.</div>
      </div>
  </div>
</footer>
