<footer class="footer">
  <div class="footer-inner">
    <ul class="footer-social">
      <li>
        <a href="https://twitter.com/currenxie" target="_blank">
          <svg width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>twitter</title>
              <g id="twitter" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M120,33.5443871 C115.584769,35.502469 110.839899,36.8258532 105.859761,37.4210469 C110.943048,34.3739712 114.846483,29.5492154 116.684736,23.8005048 C111.928015,26.6215297 106.659059,28.6704707 101.051245,29.7748272 C96.5600789,24.9900143 90.1617469,22 83.0808736,22 C69.4840336,22 58.4606606,33.0229343 58.4606606,46.6188961 C58.4606606,48.5484473 58.6788103,50.4275211 59.0984306,52.2293427 C38.6371118,51.2026775 20.4964337,41.4012948 8.35378031,26.5065291 C6.23460989,30.1426533 5.02052016,34.3717766 5.02052016,38.8835729 C5.02052016,47.4247778 9.36727753,54.9603863 15.9732251,59.3751783 C11.9372325,59.2474487 8.14133653,58.1400197 4.8216833,56.2960606 C4.81992759,56.398771 4.81992759,56.5019203 4.81992759,56.6055086 C4.81992759,68.5339623 13.3062658,78.4845827 24.5688577,80.7459672 C22.5027982,81.30868 20.3278832,81.6093494 18.0823,81.6093494 C16.4959947,81.6093494 14.9535828,81.4552834 13.4506748,81.1677822 C16.5833425,90.9489742 25.6754087,98.066718 36.4485899,98.2655547 C28.0228245,104.86843 17.4072204,108.804346 5.87292877,108.804346 C3.88587732,108.804346 1.92603972,108.688028 0,108.46066 C10.8952047,115.445846 23.8362779,119.521343 37.739493,119.521343 C83.023373,119.521343 107.786239,82.0070228 107.786239,49.4737188 C107.786239,48.4062329 107.762537,47.344453 107.715132,46.2888182 C112.524964,42.8177329 116.699221,38.4815099 120,33.5443871" fill="#ffffff" fill-rule="nonzero"></path>
              </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/currenxie" target="_blank">
          <svg width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>linkedin</title>
              <g id="linkedin" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M14.5524902,5 C23.3532714,5 28.7687989,10.7780763 28.9365234,18.3725587 C28.9365234,25.7993165 23.3532714,31.7421875 14.3818359,31.7421875 L14.2148438,31.7421875 C5.58178706,31.7421875 0,25.7993165 0,18.3725587 C0,10.7780763 5.75317387,5 14.5524902,5 Z M1.52050781,42.3088379 L27.244629,42.3088379 L27.244629,119.700928 L1.52050781,119.700928 L1.52050781,42.3088379 Z M90.385254,40.4924317 C107.308594,40.4924317 120,51.5541993 120,75.3256837 L120,119.700928 L94.2780761,119.700928 L94.2780761,78.2985839 C94.2780761,67.8945313 90.5551759,60.7973634 81.2468261,60.7973634 C74.1401366,60.7973634 69.9082031,65.5837402 68.0485839,70.2038576 C67.3688964,71.8583984 67.2011719,74.1684571 67.2011719,76.4821777 L67.2011719,119.700928 L41.4777833,119.700928 L41.4777833,42.3088379 L67.2026366,42.3088379 L67.2026366,53.5324708 C67.2026366,53.5324708 76.5080567,40.4924317 90.385254,40.4924317 Z" id="Combined-Shape" fill="#ffffff" fill-rule="nonzero"></path>
              </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/Currenxie/" target="_blank">
          <svg width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>facebook</title>
              <g id="facebook" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M67.5,41.25 L67.5,26.25 C67.5,22.11 70.86,18.75 75,18.75 L82.5,18.75 L82.5,0 L67.5,0 C55.0725,0 45,10.0725 45,22.5 L45,41.25 L30,41.25 L30,60 L45,60 L45,120 L67.5,120 L67.5,60 L82.5,60 L90,41.25 L67.5,41.25 Z" id="Path" fill="#ffffff" fill-rule="nonzero"></path>
              </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://medium.com/@currenxie" target="_blank">
          <svg width="120px" height="120px" viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>medium</title>
              <g id="medium" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M110.425,36.165 L120,27.005 L120,25 L86.83,25 L63.19,83.84 L36.295,25 L1.515,25 L1.515,27.005 L12.7,40.47 C13.79,41.465 14.36,42.92 14.215,44.385 L14.215,97.3 C14.56,99.205 13.94,101.165 12.6,102.55 L0,117.82 L0,119.8 L35.725,119.8 L35.725,117.795 L23.125,102.55 C21.76,101.16 21.115,99.235 21.39,97.3 L21.39,51.53 L52.75,119.825 L56.395,119.825 L83.36,51.53 L83.36,105.935 C83.36,107.37 83.36,107.665 82.42,108.605 L72.72,117.99 L72.72,120 L119.78,120 L119.78,117.995 L110.43,108.84 C109.61,108.22 109.185,107.18 109.36,106.17 L109.36,38.835 C109.185,37.82 109.605,36.78 110.425,36.165 L110.425,36.165 Z" id="Path" fill="#ffffff" fill-rule="nonzero"></path>
              </g>
          </svg>
        </a>
      </li>
    </ul>

    2021 © Currenxie Limited
  </div>
</footer>
