<footer class="footer">
  <div class="footer-inner">
    <div class="row bottom-section">
      <div class="columns top-spacing footer-logo">
        <a href="https://www.artstor.org"><svg width="80px" height="75px" viewBox="0 0 80 75" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
                <title>Artstor logo</title>
                <desc>Created with Sketch.</desc>
                <defs>
                    <polygon id="path-1" points="0 0.0218536585 79.9843902 0.0218536585 79.9843902 38.6107317 0 38.6107317"></polygon>
                </defs>
                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="footer" transform="translate(-140.000000, -84.000000)">
                        <g id="a-logo-color-hex" transform="translate(140.000000, 84.000000)">
                            <polygon id="Fill-1" fill="#000000" points="12.9049756 34.126439 49.022439 34.126439 49.022439 0.0663414634 12.9049756 0.0663414634"></polygon>
                            <polygon id="Fill-3" fill="#000000" points="50.8226341 34.1272195 65.7592195 34.1272195 65.7592195 0.0671219512 50.8226341 0.0671219512"></polygon>
                            <polygon id="Fill-4" fill="#000000" points="37.1843902 52.9877073 65.7635122 52.9877073 65.7635122 35.9211707 37.1843902 35.9211707"></polygon>
                            <g id="Group-14" transform="translate(0.000000, 35.902439)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-6"></g>
                                <polygon id="Fill-5" fill="#000000" mask="url(#mask-2)" points="12.9018537 17.0883902 35.3955122 17.0883902 35.3955122 0.0218536585 12.9018537 0.0218536585"></polygon>
                                <path d="M39.729561,30.2403902 C38.3742439,29.3147317 37.0934634,28.4405854 37.0934634,26.7320976 C37.0934634,25.7198049 37.6909268,24.6380488 39.3670244,24.6380488 C40.8105366,24.6380488 41.7162927,25.3799024 41.9867317,26.7836098 C41.9929756,26.8156098 42.0210732,26.8386341 42.0538537,26.8386341 L42.1697561,26.8386341 C42.188878,26.8386341 42.2068293,26.8312195 42.2197073,26.8171707 C42.2325854,26.803122 42.2392195,26.7847805 42.2380488,26.7660488 C42.2181463,26.4803902 42.2181463,26.003122 42.2181463,25.7178537 C42.2181463,25.1785366 42.2403902,24.8370732 42.2755122,24.4616585 C42.2774634,24.4401951 42.2696585,24.4195122 42.2540488,24.4050732 C42.2388293,24.3906341 42.2150244,24.3851707 42.1962927,24.3875122 C42.0874146,24.4058537 41.9964878,24.4058537 41.8813659,24.4058537 C41.550439,24.4058537 41.2214634,24.3430244 40.8737561,24.2762927 C40.4390244,24.193561 39.9469268,24.0995122 39.3283902,24.0995122 C37.1976585,24.0995122 35.7096585,25.5356098 35.7096585,27.5925854 C35.7096585,29.76 37.2359024,30.7933659 38.7118049,31.7931707 C40.1291707,32.7531707 41.4677073,33.6597073 41.4677073,35.4958049 C41.4677073,37.2327805 40.1912195,38.0105366 38.9260488,38.0105366 C37.4622439,38.0105366 35.9804878,37.2058537 35.9804878,35.6679024 C35.9804878,35.5363902 35.9957073,35.3998049 36.0120976,35.2550244 L36.0183415,35.196878 C36.0206829,35.1773659 36.014439,35.1582439 36.001561,35.1438049 C35.9886829,35.1289756 35.9699512,35.1211707 35.950439,35.1211707 L35.854439,35.1211707 C35.8279024,35.1211707 35.8033171,35.1367805 35.7923902,35.1609756 C35.5730732,35.6476098 35.5562927,36.2286829 35.5562927,36.3953171 C35.5562927,36.6427317 35.5816585,36.8702439 35.6062439,37.0903415 C35.6296585,37.3030244 35.6522927,37.5036098 35.6522927,37.7155122 C35.6522927,37.8821463 35.6522927,38.1100488 35.6343415,38.1994146 C35.6300488,38.2212683 35.6366829,38.2439024 35.6522927,38.2602927 C35.6679024,38.2762927 35.6897561,38.2817561 35.7127805,38.2801951 C35.8220488,38.2618537 35.8743415,38.2618537 35.9890732,38.2618537 C36.4039024,38.2618537 36.7500488,38.3383415 37.1164878,38.419122 C37.553561,38.5155122 38.0491707,38.6247805 38.7531707,38.6247805 C41.1441951,38.6247805 42.8136585,36.9998049 42.8136585,34.6731707 C42.8136585,32.3469268 41.2460488,31.2757073 39.729561,30.2403902" id="Fill-7" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M66.0600976,31.5254634 C66.0600976,35.5508293 64.0663415,38.051122 60.8577561,38.051122 C57.6850732,38.051122 55.7908293,35.5676098 55.7908293,31.4087805 C55.7908293,28.3000976 57.1180488,24.6700488 60.8577561,24.6700488 C63.2573659,24.6700488 66.0600976,26.4651707 66.0600976,31.5254634 Z M61.0130732,24.1065366 C56.531122,24.1065366 53.8532683,27.8489756 53.8532683,31.4673171 C53.8532683,34.9900488 56.4729756,38.6341463 60.8577561,38.6341463 C64.8507317,38.6341463 67.9789268,35.4602927 67.9789268,31.4087805 C67.9789268,27.3139512 64.9190244,24.1065366 61.0130732,24.1065366 Z" id="Fill-8" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M20.7457561,28.3836098 C20.7457561,29.7767805 20.3758049,31.6284878 17.1765854,31.6284878 L16.2852683,31.6284878 L16.2852683,24.8862439 C16.8542439,24.736 17.2339512,24.7051707 17.6561951,24.7051707 C19.532878,24.7051707 20.7457561,26.1490732 20.7457561,28.3836098 Z M24.5970732,38.3625366 C23.4364878,37.9644878 22.0905366,35.5656585 21.1079024,33.8134634 C20.5689756,32.8526829 20.1338537,32.076878 19.8165854,31.7443902 C21.5379512,31.1047805 22.561561,29.76 22.561561,28.1276098 C22.561561,25.6901463 20.6829268,24.115122 17.776,24.115122 C17.5726829,24.115122 17.2417561,24.1233171 16.8850732,24.1322927 C16.4792195,24.142439 16.0195122,24.1541463 15.697561,24.1541463 C14.8222439,24.1541463 14.4600976,24.1541463 13.7826341,24.115122 C13.7642927,24.1174634 13.745561,24.1205854 13.7315122,24.1338537 C13.7178537,24.1467317 13.710439,24.1646829 13.710439,24.1834146 L13.710439,24.2821463 C13.710439,24.3153171 13.7346341,24.3445854 13.7681951,24.3492683 C14.444878,24.4546341 14.6700488,24.7192195 14.6700488,26.076878 L14.6700488,36.6661463 C14.6700488,38.2427317 14.4132683,38.2837073 13.7276098,38.3937561 C13.694439,38.3988293 13.6702439,38.4277073 13.6702439,38.4612683 L13.6702439,38.5592195 C13.6702439,38.5779512 13.6780488,38.5959024 13.6913171,38.6087805 C13.7045854,38.6212683 13.7217561,38.6290732 13.7416585,38.6275122 C14.1467317,38.6091707 14.7098537,38.5884878 15.4778537,38.5884878 C16.2958049,38.5884878 16.9639024,38.6158049 17.2132683,38.6275122 C17.2343415,38.6290732 17.2503415,38.6220488 17.2636098,38.6087805 C17.276878,38.5959024 17.2846829,38.5779512 17.2846829,38.5592195 L17.2846829,38.4612683 C17.2846829,38.4277073 17.2604878,38.3988293 17.2273171,38.3937561 C16.5420488,38.2837073 16.2852683,38.2427317 16.2852683,36.6661463 L16.2852683,32.179122 L17.4958049,32.179122 C17.6979512,32.179122 17.948878,32.1588293 18.2427317,32.1190244 C18.5884878,32.4620488 18.9713171,33.1804878 19.2269268,33.6600976 C19.2764878,33.7533659 19.3209756,33.8364878 19.3580488,33.9036098 C21.6995122,38.2872195 21.9640976,38.5525854 24.0749268,38.6333659 C24.3172683,38.6333659 24.3988293,38.6333659 24.5826341,38.6126829 C24.6169756,38.6087805 24.643122,38.5795122 24.643122,38.5447805 L24.643122,38.4273171 C24.643122,38.3976585 24.6247805,38.3719024 24.5970732,38.3625366 Z" id="Fill-9" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M75.9980488,28.4066341 C75.9980488,29.7962927 75.6284878,31.6440976 72.4362927,31.6440976 L71.5469268,31.6440976 L71.5469268,24.9170732 C72.1139512,24.7672195 72.5053659,24.736 72.9143415,24.736 C74.7875122,24.736 75.9980488,26.1767805 75.9980488,28.4066341 Z M79.9399024,38.3566829 C78.780878,37.9598049 77.4380488,35.566439 76.4577561,33.8189268 C75.9086829,32.8405854 75.4649756,32.0499512 75.1469268,31.7319024 C76.8167805,31.0833171 77.809561,29.7518049 77.809561,28.1506341 C77.809561,25.7182439 75.9352195,24.1467317 73.0345366,24.1467317 C72.8316098,24.1467317 72.5018537,24.1549268 72.1459512,24.1639024 C71.7404878,24.1740488 71.2819512,24.1857561 70.96,24.1857561 C70.0870244,24.1857561 69.7252683,24.1857561 69.0497561,24.1467317 C69.0321951,24.1475122 69.0122927,24.1525854 68.9990244,24.1654634 C68.9853659,24.1783415 68.977561,24.1962927 68.977561,24.2150244 L68.977561,24.3133659 C68.977561,24.3469268 69.0021463,24.3754146 69.0353171,24.3804878 C69.7100488,24.4858537 69.9348293,24.7500488 69.9348293,26.1041951 L69.9348293,36.6708293 C69.9348293,38.2435122 69.6788293,38.2844878 68.995122,38.3941463 C68.9619512,38.3992195 68.9377561,38.4280976 68.9377561,38.4616585 L68.9377561,38.5596098 C68.9377561,38.5783415 68.9451707,38.5962927 68.9588293,38.6091707 C68.9717073,38.6212683 68.9884878,38.6279024 69.0060488,38.6279024 C69.0072195,38.6279024 69.008,38.6279024 69.0087805,38.6279024 C69.4165854,38.609561 69.982439,38.5884878 70.7414634,38.5884878 C71.548878,38.5884878 72.2212683,38.6161951 72.4729756,38.6279024 C72.4870244,38.6290732 72.5096585,38.622439 72.5233171,38.6091707 C72.5365854,38.5962927 72.5443902,38.5783415 72.5443902,38.5596098 L72.5443902,38.4616585 C72.5443902,38.4280976 72.5201951,38.3992195 72.4870244,38.3941463 C71.8033171,38.2844878 71.5469268,38.2435122 71.5469268,36.6708293 L71.5469268,32.193561 L72.755122,32.193561 C72.9802927,32.193561 73.2620488,32.1689756 73.5925854,32.1201951 C73.9363902,32.4577561 74.3203902,33.1769756 74.576,33.6561951 C74.6279024,33.7529756 74.6739512,33.8392195 74.7121951,33.9082927 C77.0485854,38.2825366 77.3123902,38.5467317 79.4189268,38.6275122 C79.6600976,38.6275122 79.7416585,38.6275122 79.9254634,38.6076098 C79.9598049,38.6037073 79.9859512,38.574439 79.9859512,38.5397073 L79.9859512,38.4214634 C79.9859512,38.3921951 79.9676098,38.3660488 79.9399024,38.3566829 Z" id="Fill-10" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M34.636878,24.1038049 C34.6364878,24.1038049 34.6360976,24.1038049 34.6353171,24.1038049 C33.6983415,24.1217561 28.7988293,24.2033171 24.3445854,24.1002927 C24.3196098,24.1034146 24.2844878,24.1205854 24.2766829,24.1521951 C24.1877073,24.5159024 24.0979512,24.8261463 24.0109268,25.1266341 C23.9051707,25.4919024 23.8052683,25.836878 23.7326829,26.1994146 C23.7283902,26.2189268 23.7338537,26.24 23.7467317,26.256 C23.7596098,26.2716098 23.779122,26.2809756 23.7994146,26.2809756 L23.8989268,26.2809756 C23.9254634,26.2809756 23.9496585,26.2657561 23.9605854,26.241561 C24.5326829,25.0259512 25.454439,25.0165854 28.4866341,25.0165854 L28.4866341,36.6614634 C28.4866341,38.2403902 28.2325854,38.2817561 27.5531707,38.3918049 C27.5203902,38.396878 27.4961951,38.4257561 27.4961951,38.4593171 L27.4961951,38.5580488 C27.4961951,38.5763902 27.5036098,38.5943415 27.516878,38.6076098 C27.5297561,38.6193171 27.5465366,38.6259512 27.5640976,38.6259512 C27.5652683,38.6259512 27.566439,38.6259512 27.5672195,38.6259512 C28.0062439,38.6068293 28.5537561,38.5865366 29.2881951,38.5865366 C30.0764878,38.5865366 30.7543415,38.6142439 31.0087805,38.6259512 C31.0279024,38.625561 31.0458537,38.6204878 31.059122,38.6076098 C31.0723902,38.5943415 31.0801951,38.5763902 31.0801951,38.5580488 L31.0801951,38.4593171 C31.0801951,38.4257561 31.056,38.396878 31.0228293,38.3918049 C30.3438049,38.2817561 30.0893659,38.2403902 30.0893659,36.6614634 L30.0893659,25.0165854 C33.568,25.0185366 34.0343415,25.153561 34.0343415,25.6796098 C34.0343415,25.7763902 34.014439,25.8907317 33.9972683,25.9586341 C33.9918049,25.9793171 33.9964878,26.0011707 34.0093659,26.017561 C34.0222439,26.0343415 34.0421463,26.0437073 34.0632195,26.0437073 L34.1822439,26.0437073 C34.2150244,26.0437073 34.243122,26.0202927 34.2493659,25.9879024 C34.3063415,25.6772683 34.531122,24.7278049 34.7016585,24.1927805 C34.7086829,24.1717073 34.7047805,24.1490732 34.6915122,24.1315122 C34.6786341,24.1139512 34.6583415,24.1038049 34.636878,24.1038049" id="Fill-11" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M54.2630244,24.1389268 C54.2497561,24.1209756 54.2236098,24.1096585 54.2072195,24.1116098 C53.2647805,24.1287805 48.3399024,24.209561 43.9203902,24.1073171 C43.92,24.1073171 43.9192195,24.1073171 43.9188293,24.1073171 C43.8876098,24.1073171 43.8602927,24.1287805 43.852878,24.1592195 C43.7635122,24.5225366 43.6741463,24.8323902 43.5875122,25.1317073 C43.4813659,25.4977561 43.3818537,25.843122 43.308878,26.2052683 C43.3049756,26.2251707 43.3100488,26.2462439 43.3229268,26.2622439 C43.3358049,26.2778537 43.3553171,26.2868293 43.376,26.2868293 L43.4747317,26.2868293 C43.500878,26.2868293 43.5254634,26.2716098 43.5363902,26.2478049 C44.1080976,25.0325854 45.0302439,25.0236098 48.0612683,25.0236098 L48.0612683,36.6641951 C48.0612683,38.2427317 47.8068293,38.2837073 47.1278049,38.3933659 C47.0950244,38.398439 47.0708293,38.4273171 47.0708293,38.460878 L47.0708293,38.5592195 C47.0708293,38.5779512 47.0782439,38.5959024 47.0915122,38.6087805 C47.1047805,38.620878 47.121561,38.6275122 47.1387317,38.6275122 C47.1399024,38.6275122 47.1406829,38.6275122 47.1418537,38.6275122 C47.5804878,38.608 48.128,38.5880976 48.8616585,38.5880976 C49.6503415,38.5880976 50.3274146,38.6158049 50.5826341,38.6275122 C50.595122,38.6290732 50.6189268,38.6220488 50.6329756,38.6087805 C50.6462439,38.5959024 50.6536585,38.5779512 50.6536585,38.5592195 L50.6536585,38.460878 C50.6536585,38.4273171 50.6294634,38.398439 50.5966829,38.3933659 C49.9172683,38.2837073 49.6628293,38.2427317 49.6628293,36.6641951 L49.6628293,25.0236098 C53.1402927,25.025561 53.6066341,25.1605854 53.6066341,25.6862439 C53.6066341,25.7830244 53.5863415,25.8969756 53.5691707,25.9652683 C53.5640976,25.9859512 53.5687805,26.0074146 53.5816585,26.0238049 C53.5945366,26.0405854 53.614439,26.0503415 53.6355122,26.0503415 L53.7545366,26.0503415 C53.7877073,26.0503415 53.8158049,26.0265366 53.8212683,25.9941463 C53.8770732,25.6878049 54.1006829,24.7418537 54.273561,24.2005854 C54.2798049,24.1795122 54.2762927,24.1564878 54.2630244,24.1389268" id="Fill-12" fill="#000000" mask="url(#mask-2)"></path>
                                <path d="M8.34965854,32.4628293 L5.89229268,32.4628293 C5.29209756,32.4628293 4.72312195,32.4628293 4.13268293,32.4456585 L6.20058537,26.8667317 L6.22165854,26.8097561 L8.34965854,32.4628293 Z M12.9908293,38.3914146 C12.4917073,38.3258537 12.291122,38.2392195 12.0909268,37.8579512 L6.89404878,24.0316098 C6.88429268,24.0050732 6.85892683,23.9875122 6.83043902,23.9875122 L6.63492683,23.9875122 C6.60682927,23.9875122 6.58107317,24.0050732 6.57131707,24.0316098 L2.15453659,35.7416585 C1.29873171,38.003122 0.990439024,38.1674146 0.0526829268,38.3875122 C0.0218536585,38.3949268 0,38.4222439 0,38.4538537 L0,38.5510244 C0,38.5697561 0.00780487805,38.5877073 0.0210731707,38.6005854 C0.0343414634,38.6134634 0.051902439,38.6169756 0.0714146341,38.6193171 L0.276682927,38.6091707 C0.58497561,38.593561 0.851512195,38.5802927 1.39707317,38.5802927 C2.24468293,38.5802927 2.94868293,38.6076098 3.21170732,38.6193171 C3.23121951,38.6189268 3.24878049,38.6130732 3.26204878,38.6001951 C3.27531707,38.5877073 3.28312195,38.5697561 3.28312195,38.5510244 L3.28312195,38.4538537 C3.28312195,38.419122 3.25697561,38.3902439 3.22263415,38.3859512 C2.65834146,38.32 2.384,38.0616585 2.384,37.596878 C2.384,37.233561 2.54634146,36.7543415 2.71219512,36.2954146 L3.86887805,33.182439 C4.53580488,33.1637073 5.19531707,33.1637073 5.89229268,33.1637073 L8.61385366,33.1637073 L10.3098537,37.6682927 C10.3192195,37.7065366 10.3285854,37.7459512 10.3285854,37.777561 C10.3305366,38.0202927 10.2505366,38.3477073 9.53756098,38.3910244 C9.50165854,38.3933659 9.47317073,38.4234146 9.47356098,38.4600976 L9.47473171,38.5572683 C9.47473171,38.5756098 9.48253659,38.5931707 9.49619512,38.6060488 C9.50907317,38.6189268 9.52507317,38.6243902 9.5457561,38.6243902 C10.1233171,38.5986341 10.691122,38.5857561 11.2819512,38.5857561 C12.0741463,38.5857561 12.732878,38.6126829 12.9795122,38.6243902 C12.9806829,38.6243902 12.9814634,38.6243902 12.9826341,38.6243902 C13.0001951,38.6243902 13.0173659,38.6177561 13.0302439,38.6056585 C13.0435122,38.5923902 13.0509268,38.5748293 13.0509268,38.5557073 L13.0497561,38.4585366 C13.0497561,38.4245854 13.0243902,38.3960976 12.9908293,38.3914146 Z" id="Fill-13" fill="#000000" mask="url(#mask-2)"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          </a>
      </div>
      <div class="columns top-spacing footer-links">
        <div class="row">
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/about/">About Artstor</a>
              </li>
              <li>
                <a href="https://www.artstor.org/about/features">Platform features</a>
              </li>
              <li>
                <a href="https://www.artstor.org/collections/">Core Collections</a>
              </li>
              <li>
                <a href="https://www.artstor.org/blog/">Blog</a>
              </li>
            </ul>
          </div>
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/get-artstor/">Get Artstor</a>
              </li>
              <li>
                <a href="https://www.artstor.org/webinars/">Webinars</a>
              </li>
              <li>
                <a href="https://support.artstor.org/">Support</a>
              </li>
              <li>
                <a href="https://artstor.libguides.com/">LibGuides</a>
             </li>
            </ul>
          </div>
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/newsletter/">Newsletters</a>
              </li>
              <li>
                <a href="https://www.artstor.org/policies/">Policies</a>
              </li>
              <li>
                <a href="https://www.ithaka.org/careers/">Careers</a>
              </li>
              <li>
                <a href="https://support.artstor.org/?page_id=461">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="columns footer-legal">
        <div class="columns">
          <ul class="social-icons">
            <li>
              <a href="https://twitter.com/artstor" class="icon-link">
              <span class="show-for-sr">Twitter</span>
              <i class="fi-social-twitter"></i>
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/artstor" class="icon-link">
              <span class="show-for-sr">Facebook</span>
              <i class="fi-social-facebook"></i>
              </a>
            </li>
          </ul>
          <p><small>Artstor is a part of <a href="https://www.ithaka.org">ITHAKA</a>, a not-for-profit organization helping the academic community use digital technologies to preserve the scholarly record and to advance research and teaching in sustainable ways.</small></p>
          <p><small>©2000-2019 ITHAKA.  All Rights Reserved. JSTOR®, and Artstor®, ITHAKA® are registered trademarks of ITHAKA.</small></p>
        </div>
      </div>
    </div>


  <!-- Commenting out alternative languages because not set up
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  -->
  </div>
</footer>
