<footer class="footer">
  <div class="footer-inner">
    <div class="row bottom-section">
      <div class="columns top-spacing footer-logo">
        <a href="https://www.artstor.org">Artstor</a>
      </div>
      <div class="columns top-spacing footer-links">
        <div class="row">
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/about/">About Artstor</a>
              </li>
              <li>
                <a href="https://www.artstor.org/about/features">Platform features</a>
              </li>
              <li>
                <a href="https://www.artstor.org/collections/">Core Collections</a>
              </li>
              <li>
                <a href="https://www.artstor.org/blog/">Blog</a>
              </li>
            </ul>
          </div>
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/get-artstor/">Get Artstor</a>
              </li>
              <li>
                <a href="https://www.artstor.org/webinars/">Webinars</a>
              </li>
              <li>
                <a href="https://support.artstor.org/">Support</a>
              </li>
              <li>
                <a href="https://artstor.libguides.com/">LibGuides</a>
             </li>
            </ul>
          </div>
          <div class="linklist columns">
            <ul>
              <li>
                <a href="https://www.artstor.org/newsletter/">Newsletters</a>
              </li>
              <li>
                <a href="https://www.artstor.org/policies/">Policies</a>
              </li>
              <li>
                <a href="https://www.ithaka.org/careers/">Careers</a>
              </li>
              <li>
                <a href="https://support.artstor.org/?page_id=461">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="columns footer-legal">
        <div class="columns">
          <p>Artstor is a part of <a href="https://www.ithaka.org">ITHAKA</a>, a not-for-profit organization helping the academic community use digital technologies to preserve the scholarly record and to advance research and teaching in sustainable ways.</p>
          <p>©2000-2019 ITHAKA.  All Rights Reserved. JSTOR®, and Artstor®, ITHAKA® are registered trademarks of ITHAKA.</p>
        </div>
      </div>
    </div>


  <!-- Commenting out alternative languages because not set up
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  -->
  </div>
</footer>
