<div class="footer" id="new-footer">
</div>

<script type="module">
  import { renderFooter } from "footer";

  const container = document.getElementById("new-footer");

  const settings = {{json settings}};

  const footerPageData = {
    footerGithubLink: 'https://github.com',
    footerXLink: 'https://github.com',
    footerDiscordLink: 'https://github.com',
    globalData: window.uniswapGlobalDataObj,
    footerLinksHelp: [
      {
        label: 'Help Center',
        url: 'https://github.com',
      },
      {
        label: 'Contact Us',
        url: 'https://github.com',
      },
    ],
    footerLinksCompany: [
      {
        label: 'Careers',
        url: 'https://github.com',
      },
      {
        label: 'Brand Assets',
        url: 'https://github.com',
      },
      {
        label: 'Terms & Privacy',
        url: 'https://github.com',
      },
      {
        label: 'Trademark Policy',
        url: 'https://github.com',
      },
    ],
    footerLinksEcosystem: [
      {
        label: 'Uniswap App',
        url: 'https://github.com',
      },
      {
        label: 'Governance',
        url: 'https://github.com',
      },
      {
        label: 'Blog',
        url: 'https://github.com',
      },
    ]
  }

  // Make sure arguments are correctly typed. 
  renderFooter(settings, footerPageData, container);
</script>
