<footer class="footer">
  <div class="container footer__inner">
    <a class="footer__logo-link" href="https://getjobber.com/">
      <svg viewBox="0 0 242 40" class="footer__logo" xmlns="http://www.w3.org/2000/svg"><title>Link to getjobber.com</title><g fill="currentColor" fill-rule="evenodd"><path d="M75.23 5.501h-7.373c-.503 0-.91.41-.91.914V23.69c0 1.14-.235 2.034-.708 2.685-.472.65-1.249.977-2.328.977-1.08 0-1.87-.373-2.37-1.12-.395-.59-.65-1.371-.766-2.345a.91.91 0 00-.9-.808h-7.357a.92.92 0 00-.908.993c.25 3.477 1.314 6.17 3.19 8.08 2.052 2.09 5.088 3.134 9.111 3.134 3.806 0 6.796-1.01 8.97-3.032 2.171-2.02 3.26-5.01 3.26-8.971V6.415a.912.912 0 00-.91-.914M98.612 27.35c-3.374 0-5.06-2.44-5.06-7.323 0-4.882 1.686-7.324 5.06-7.324 3.374 0 5.06 2.442 5.06 7.324 0 4.883-1.686 7.324-5.06 7.324m10.871-18.553c-1.228-1.303-2.74-2.3-4.534-2.992-1.796-.69-3.867-1.037-6.215-1.037-2.404 0-4.522.36-6.357 1.078-1.836.719-3.375 1.75-4.617 3.093-1.241 1.342-2.172 2.957-2.793 4.842-.622 1.885-.932 4.007-.932 6.366 0 2.361.31 4.476.932 6.348.621 1.872 1.545 3.458 2.773 4.76 1.229 1.302 2.74 2.3 4.535 2.991 1.796.692 3.867 1.038 6.216 1.038 2.402 0 4.521-.36 6.357-1.079 1.834-.718 3.367-1.742 4.596-3.072 1.228-1.328 2.159-2.95 2.793-4.862.634-1.912.952-4.048.952-6.408 0-2.36-.31-4.469-.93-6.327-.623-1.857-1.547-3.438-2.776-4.74M136.268 27.229c-.485.461-1.417.692-2.793.692h-2.896a.912.912 0 01-.91-.914v-3.503c0-.505.407-.914.91-.914h2.896c1.376 0 2.308.231 2.793.692.487.461.73 1.126.73 1.993 0 .841-.243 1.493-.73 1.954zm-6.599-14.181c0-.505.407-.914.91-.914h2.692c1.135 0 1.904.19 2.31.57.404.38.606.922.606 1.626 0 .707-.202 1.249-.606 1.628-.406.38-1.175.57-2.31.57h-2.692a.912.912 0 01-.91-.914v-2.566zm12.847 6.766a.91.91 0 01-.074-1.468c.672-.54 1.193-1.153 1.564-1.839.564-1.044.847-2.23.847-3.56 0-1.003-.162-1.96-.486-2.868-.323-.909-.868-1.702-1.636-2.38-.768-.678-1.8-1.214-3.093-1.607-1.294-.394-2.911-.59-4.85-.59h-12.591c-.503 0-.91.409-.91.913v27.223c0 .505.407.914.91.914h12.228c2.101 0 3.866-.23 5.295-.692 1.428-.46 2.587-1.084 3.476-1.871.89-.786 1.523-1.695 1.9-2.726a9.388 9.388 0 00.567-3.255c0-2.754-1.05-4.818-3.147-6.194zM168.58 27.229c-.485.461-1.417.692-2.793.692h-2.896a.912.912 0 01-.91-.914v-3.503c0-.505.407-.914.91-.914h2.896c1.376 0 2.308.231 2.793.692.487.461.73 1.126.73 1.993 0 .841-.243 1.493-.73 1.954zm-6.599-14.181c0-.505.407-.914.91-.914h2.692c1.135 0 1.904.19 2.31.57.404.38.606.922.606 1.626 0 .707-.202 1.249-.606 1.628-.406.38-1.175.57-2.31.57h-2.692a.912.912 0 01-.91-.914v-2.566zm12.847 6.766a.91.91 0 01-.074-1.468c.672-.54 1.193-1.153 1.564-1.839.564-1.044.847-2.23.847-3.56 0-1.003-.162-1.96-.486-2.868-.323-.909-.868-1.702-1.636-2.38-.768-.678-1.8-1.214-3.092-1.607-1.295-.394-2.912-.59-4.851-.59h-12.591c-.502 0-.91.409-.91.913v27.223c0 .505.408.914.91.914h12.228c2.101 0 3.866-.23 5.295-.692 1.428-.46 2.587-1.084 3.476-1.871.89-.786 1.523-1.695 1.9-2.726a9.388 9.388 0 00.567-3.255c0-2.754-1.05-4.818-3.147-6.194zM207.219 27.432h-11.37a.912.912 0 01-.908-.914v-2.16c0-.504.407-.913.909-.913h9.842c.503 0 .91-.41.91-.914v-5.293a.912.912 0 00-.91-.914h-9.842a.912.912 0 01-.91-.914v-1.874c0-.505.408-.914.91-.914h10.652c.502 0 .91-.41.91-.914V6.415a.912.912 0 00-.91-.914H186.82c-.502 0-.91.41-.91.914v27.223c0 .505.408.914.91.914h19.886c.468 0 .86-.357.905-.825l.512-5.292a.912.912 0 00-.905-1.003M230.759 17.748c-.576.516-1.55.774-2.919.774h-2.148a.912.912 0 01-.91-.914V13.25c0-.505.408-.914.91-.914h2.148c1.37 0 2.343.258 2.919.773.578.516.866 1.289.866 2.32 0 1.03-.288 1.803-.866 2.318m10.547 15.456l-4.884-9.086a.909.909 0 01.245-1.154 8.995 8.995 0 002.51-2.937c.742-1.384 1.113-3.052 1.113-5.005a11.54 11.54 0 00-.588-3.702 7.239 7.239 0 00-1.967-3.032c-.92-.854-2.129-1.531-3.63-2.034-1.5-.502-3.36-.753-5.578-.753h-11.5c-.502 0-.91.41-.91.914v27.223c0 .505.408.914.91.914h6.846c.502 0 .91-.409.91-.914v-7.49c0-.504.407-.913.909-.913h1.765a.91.91 0 01.815.506l4.115 8.305c.154.31.469.506.814.506h7.305a.914.914 0 00.8-1.348M36.97 25.379c0 6.5-5.244 11.77-11.713 11.77H8.65a.382.382 0 01-.381-.383v-22.01c0-3.56 2.872-6.448 6.416-6.448h11.141c.266 0 .45.267.358.517l-.648 1.75a.382.382 0 01-.357.25h-9.954c-2.46 0-4.453 2.003-4.453 4.474V34.25c0 .212.171.384.382.384h14.103c5.086 0 9.21-4.144 9.21-9.255V5.896c0-.342.41-.513.651-.271l1.74 1.749c.072.072.113.17.113.27V25.38zm-23.404.74V15.3c0-.92.743-1.667 1.66-1.667h10.768c.21 0 .381.172.381.383v10.821c0 .92-.742 1.667-1.659 1.667H13.948a.383.383 0 01-.382-.383zM5.475 14.757v19.483a.381.381 0 01-.652.271l-1.74-1.749a.385.385 0 01-.112-.271V14.756c0-6.5 5.244-11.77 11.714-11.77H31.29c.211 0 .382.17.382.382v22.01c0 3.562-2.873 6.448-6.416 6.448H14.115a.383.383 0 01-.357-.517l.647-1.749a.382.382 0 01.358-.25h9.953c2.46 0 4.453-2.003 4.453-4.474V5.884a.382.382 0 00-.381-.383H14.685c-5.087 0-9.21 4.143-9.21 9.255zM33.984.515a1.142 1.142 0 00-.81-.337h-18.49C6.673.178.178 6.705.178 14.756v18.579c0 .305.12.597.335.813l5.446 5.472c.214.216.506.337.81.337h18.489c8.012 0 14.508-6.527 14.508-14.578V6.799c0-.304-.121-.597-.336-.812L33.984.515z"/></g></svg>
    </a>
    <div class="footer-column__wrap">
      <div class="footer-column__inner">
        <div class="footer-column__title">Help Center</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/360000372333-Get-Started">Get Started</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001324208-Calendar">Calendar</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001328167-Work">Work</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001328147-Clients">Clients</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334067-Jobber-App">Jobber App</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334107-Settings">Settings</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001496468-Jobber-Payments">Jobber Payments</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001330028-Business-Health">Business Health</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/360002093154-Account">Account</a>
          </li>
        </ul>
      </div>
      <div class="footer-column__inner">
        <div class="footer-column__title">Resources</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001344107-Jobber-Glossary">Jobber Glossary</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001335727-Instructional-Videos">Instructional Videos</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334127-App-Marketplace">App Marketplace</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://academy.getjobber.com/" target="_blank">Jobber Academy</a>
          </li>
        </ul>
      </div>
      <div class="footer-column__inner">
        <div class="footer-column__title">Jobber</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://getjobber.com/" target="_blank">Back to Jobber</a>
          </li>
        </ul>
      </div>
      <div class="footer-column__inner">
        <div class="footer-column__title">Contact Us</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="tel:+18887211115">1-888-721-1115</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="mailto:hello@getjobber.com">hello@getjobber.com</a>
          </li>
          <li class="footer-list__item">
            <ul class="footer-social__list">
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.facebook.com/GetJobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--facebook" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>Link to GetJobber Facebook</title><path d="M1.334 0C.597 0 0 .597 0 1.333v29.334C0 31.403.597 32 1.334 32H17V20h-4s-.889-3.889 0-5c.889-1.111 4 0 4 0v-4c0-4.133 2.617-6.167 6.304-6.167 1.766 0 3.284.132 3.726.19v4.32l-2.557.001c-2.005 0-2.473.953-2.473 2.351V15h5l-1 5h-4l.08 12h8.587c.736 0 1.333-.597 1.333-1.333V1.333C32 .597 31.403 0 30.667 0H1.334z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.instagram.com/getjobber/" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon  footer-social__icon--instagram" viewBox="0 0 56.7 56.7" xmlns="http://www.w3.org/2000/svg"><title>Link to GetJobber Instagram</title><path d="M28.2 16.7c-7 0-12.8 5.7-12.8 12.8s5.7 12.8 12.8 12.8S41 36.5 41 29.5s-5.8-12.8-12.8-12.8zm0 21c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2 8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2z"/><circle cx="41.5" cy="16.4" r="2.9"/><path d="M49 8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7 0-14.5 5.8-14.5 14.5v20.5c0 4.3 1.4 8 4.2 10.7 2.7 2.6 6.3 3.9 10.4 3.9h20.4c4.3 0 7.9-1.4 10.5-3.9 2.7-2.6 4.1-6.3 4.1-10.6V19.3c0-4.2-1.4-7.8-4-10.4zm-.4 31c0 3.1-1.1 5.6-2.9 7.3s-4.3 2.6-7.3 2.6H18c-3 0-5.5-.9-7.3-2.6C8.9 45.4 8 42.9 8 39.8V19.3c0-3 .9-5.5 2.7-7.3 1.7-1.7 4.3-2.6 7.3-2.6h20.6c3 0 5.5.9 7.3 2.7 1.7 1.8 2.7 4.3 2.7 7.2v20.6z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://twitter.com/getjobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--twitter" viewBox="0 0 32 26" xmlns="http://www.w3.org/2000/svg"><title>Link to GetJobber Twitter</title><path d="M32 3.078a13.14 13.14 0 01-3.771 1.034A6.584 6.584 0 0031.116.48a13.166 13.166 0 01-4.169 1.593A6.557 6.557 0 0022.155 0a6.565 6.565 0 00-6.565 6.565c0 .514.058 1.015.17 1.496a18.639 18.639 0 01-13.532-6.86 6.539 6.539 0 00-.889 3.301 6.563 6.563 0 002.92 5.464 6.532 6.532 0 01-2.973-.821l-.001.083a6.568 6.568 0 005.267 6.437 6.578 6.578 0 01-2.965.113 6.571 6.571 0 006.133 4.559 13.172 13.172 0 01-8.154 2.81c-.53 0-1.052-.031-1.566-.091a18.587 18.587 0 0010.064 2.949c12.076 0 18.679-10.004 18.679-18.679 0-.285-.006-.568-.019-.85A13.315 13.315 0 0032 3.078" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.youtube.com/user/GetJobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--youtube" viewBox="0 0 32 23" xmlns="http://www.w3.org/2000/svg"><title>Link to GetJobber Youtube Channel</title><path d="M12.696 15.404l-.001-8.991 8.646 4.511-8.645 4.48zM31.68 4.855s-.313-2.205-1.272-3.176C29.191.404 27.827.398 27.202.324 22.724 0 16.007 0 16.007 0h-.014S9.276 0 4.798.324c-.626.074-1.989.08-3.207 1.355C.632 2.65.32 4.855.32 4.855S0 7.445 0 10.034v2.428c0 2.59.32 5.179.32 5.179s.312 2.205 1.271 3.176c1.218 1.275 2.817 1.235 3.529 1.368 2.56.246 10.88.322 10.88.322s6.724-.01 11.202-.334c.625-.075 1.989-.081 3.206-1.356.959-.971 1.272-3.176 1.272-3.176s.32-2.589.32-5.179v-2.428c0-2.589-.32-5.179-.32-5.179z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-column__inner">
        <div class="app-badges">
          <a
          class="app-badges__link js-amplitude-appstorelink"
          href="https://apps.apple.com/us/app/jobber-field/id1014146758"
          data-amplitude-app-store="apple_app_store"
          data-amplitude-page-location="footer"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Download the Jobber App on the iOS App Store">
            <svg class="app-badges__badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.664 40"><title>Download the Jobber App in the iOS Apple Store</title><path d="M110.135 0H9.535c-.367 0-.73 0-1.095.002-.306.002-.61.008-.919.013A13.215 13.215 0 005.517.19a6.665 6.665 0 00-1.9.627 6.438 6.438 0 00-1.62 1.18A6.258 6.258 0 00.82 3.617a6.601 6.601 0 00-.625 1.903 12.993 12.993 0 00-.179 2.002c-.01.307-.01.615-.015.921V31.56c.005.31.006.61.015.921a12.992 12.992 0 00.18 2.002 6.588 6.588 0 00.624 1.905A6.208 6.208 0 001.998 38a6.274 6.274 0 001.618 1.179 6.7 6.7 0 001.901.63 13.455 13.455 0 002.004.177c.31.007.613.011.919.011.366.002.728.002 1.095.002h100.6c.36 0 .724 0 1.084-.002.304 0 .617-.004.922-.01a13.279 13.279 0 002-.178 6.804 6.804 0 001.908-.63A6.277 6.277 0 00117.666 38a6.395 6.395 0 001.182-1.614 6.604 6.604 0 00.619-1.905 13.506 13.506 0 00.185-2.002c.004-.31.004-.61.004-.921.008-.364.008-.725.008-1.094V9.536c0-.366 0-.73-.008-1.092 0-.306 0-.614-.004-.92a13.507 13.507 0 00-.185-2.003 6.618 6.618 0 00-.62-1.903 6.466 6.466 0 00-2.798-2.8 6.768 6.768 0 00-1.908-.627 13.044 13.044 0 00-2-.176c-.305-.005-.618-.011-.922-.013-.36-.002-.725-.002-1.084-.002z" fill="#99a9b0"/><path d="M8.445 39.125c-.305 0-.602-.004-.904-.01a12.687 12.687 0 01-1.87-.164 5.884 5.884 0 01-1.656-.548 5.406 5.406 0 01-1.397-1.016 5.32 5.32 0 01-1.02-1.397 5.722 5.722 0 01-.544-1.657 12.414 12.414 0 01-.166-1.875c-.007-.21-.015-.913-.015-.913v-23.1s.009-.692.015-.895a12.37 12.37 0 01.165-1.872 5.755 5.755 0 01.544-1.662 5.373 5.373 0 011.015-1.398 5.565 5.565 0 011.402-1.023 5.823 5.823 0 011.653-.544A12.586 12.586 0 017.543.887l.902-.012h102.769l.913.013a12.385 12.385 0 011.858.162 5.938 5.938 0 011.671.548 5.594 5.594 0 012.415 2.42 5.763 5.763 0 01.535 1.649 12.995 12.995 0 01.174 1.887c.003.283.003.588.003.89.008.375.008.732.008 1.092v20.929c0 .363 0 .718-.008 1.075 0 .325 0 .623-.004.93a12.731 12.731 0 01-.17 1.853 5.739 5.739 0 01-.54 1.67 5.48 5.48 0 01-1.016 1.386 5.413 5.413 0 01-1.4 1.022 5.862 5.862 0 01-1.668.55 12.542 12.542 0 01-1.869.163c-.293.007-.6.011-.897.011l-1.084.002z"/><g data-name="&lt;Group&gt;" fill="#fff"><g data-name="&lt;Group&gt;"><path data-name="&lt;Path&gt;" d="M24.769 20.3a4.949 4.949 0 012.356-4.151 5.066 5.066 0 00-3.99-2.158c-1.68-.176-3.308 1.005-4.164 1.005-.872 0-2.19-.988-3.608-.958a5.315 5.315 0 00-4.473 2.728c-1.934 3.348-.491 8.269 1.361 10.976.927 1.325 2.01 2.805 3.428 2.753 1.387-.058 1.905-.885 3.58-.885 1.658 0 2.144.885 3.59.852 1.489-.025 2.426-1.332 3.32-2.67a10.962 10.962 0 001.52-3.092 4.782 4.782 0 01-2.92-4.4zm-2.732-8.09a4.872 4.872 0 001.115-3.49 4.957 4.957 0 00-3.208 1.66A4.636 4.636 0 0018.8 13.74a4.1 4.1 0 003.237-1.53z"/></g><path d="M42.302 27.14H37.57l-1.137 3.356h-2.005l4.484-12.418h2.083l4.483 12.418h-2.039zm-4.243-1.55h3.752l-1.85-5.446h-.051zm17.1.38c0 2.813-1.505 4.62-3.778 4.62a3.07 3.07 0 01-2.848-1.583h-.043v4.484H46.63V21.442h1.8v1.506h.033a3.212 3.212 0 012.883-1.6c2.298 0 3.813 1.816 3.813 4.622zm-1.91 0c0-1.833-.947-3.038-2.392-3.038-1.42 0-2.375 1.23-2.375 3.038 0 1.824.955 3.046 2.375 3.046 1.445 0 2.393-1.197 2.393-3.046zm11.876 0c0 2.813-1.506 4.62-3.779 4.62a3.07 3.07 0 01-2.848-1.583h-.043v4.484h-1.859V21.442h1.799v1.506h.034a3.212 3.212 0 012.883-1.6c2.298 0 3.813 1.816 3.813 4.622zm-1.91 0c0-1.833-.948-3.038-2.393-3.038-1.42 0-2.375 1.23-2.375 3.038 0 1.824.955 3.046 2.375 3.046 1.445 0 2.392-1.197 2.392-3.046zm8.495 1.066c.138 1.232 1.334 2.04 2.97 2.04 1.566 0 2.693-.808 2.693-1.919 0-.964-.68-1.54-2.29-1.936l-1.609-.388c-2.28-.55-3.339-1.617-3.339-3.348 0-2.142 1.867-3.614 4.519-3.614 2.624 0 4.423 1.472 4.483 3.614h-1.876c-.112-1.239-1.136-1.987-2.634-1.987s-2.521.757-2.521 1.858c0 .878.654 1.395 2.255 1.79l1.368.336c2.548.603 3.606 1.626 3.606 3.443 0 2.323-1.85 3.778-4.793 3.778-2.754 0-4.614-1.42-4.734-3.667zM83.346 19.3v2.142h1.722v1.472h-1.722v4.991c0 .776.345 1.137 1.102 1.137a5.808 5.808 0 00.611-.043v1.463a5.104 5.104 0 01-1.032.086c-1.833 0-2.548-.689-2.548-2.445v-5.189h-1.316v-1.472h1.316V19.3zm2.719 6.67c0-2.849 1.678-4.639 4.294-4.639 2.625 0 4.295 1.79 4.295 4.639 0 2.856-1.661 4.638-4.295 4.638-2.633 0-4.294-1.782-4.294-4.638zm6.695 0c0-1.954-.895-3.108-2.401-3.108s-2.4 1.162-2.4 3.108c0 1.962.894 3.106 2.4 3.106s2.401-1.144 2.401-3.106zm3.426-4.528h1.773v1.541h.043a2.16 2.16 0 012.177-1.635 2.866 2.866 0 01.637.069v1.738a2.598 2.598 0 00-.835-.112 1.873 1.873 0 00-1.937 2.083v5.37h-1.858zm13.198 6.395c-.25 1.643-1.85 2.771-3.898 2.771-2.634 0-4.269-1.764-4.269-4.595 0-2.84 1.644-4.682 4.19-4.682 2.506 0 4.08 1.72 4.08 4.466v.637h-6.394v.112a2.358 2.358 0 002.436 2.564 2.048 2.048 0 002.09-1.273zm-6.282-2.702h4.526a2.177 2.177 0 00-2.22-2.298 2.292 2.292 0 00-2.306 2.298z"/></g><path d="M37.826 8.731a2.64 2.64 0 012.808 2.965c0 1.906-1.03 3.002-2.808 3.002h-2.155V8.73zm-1.228 5.123h1.125a1.876 1.876 0 001.967-2.146 1.881 1.881 0 00-1.967-2.134h-1.125zm5.083-1.41a2.133 2.133 0 114.247 0 2.134 2.134 0 11-4.247 0zm3.333 0c0-.976-.439-1.547-1.208-1.547-.773 0-1.207.571-1.207 1.547 0 .984.434 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55zm6.56 2.254h-.923l-.93-3.317h-.07l-.927 3.317h-.913l-1.242-4.503h.902l.806 3.436h.067l.926-3.436h.852l.926 3.436h.07l.803-3.436h.889zm2.28-4.503h.855v.715h.066a1.348 1.348 0 011.344-.802 1.465 1.465 0 011.559 1.675v2.915h-.889v-2.692c0-.724-.314-1.084-.972-1.084a1.033 1.033 0 00-1.075 1.141v2.635h-.888zm5.24-1.758h.888v6.26h-.888zm2.124 4.007a2.133 2.133 0 114.247 0 2.134 2.134 0 11-4.247 0zm3.333 0c0-.976-.439-1.547-1.208-1.547-.773 0-1.207.571-1.207 1.547 0 .984.434 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55zm1.85.98c0-.81.603-1.278 1.675-1.344l1.22-.07v-.389c0-.475-.315-.744-.922-.744-.497 0-.84.182-.939.5h-.86c.09-.773.818-1.27 1.84-1.27 1.128 0 1.765.563 1.765 1.514v3.077h-.855v-.633h-.07a1.515 1.515 0 01-1.353.707 1.36 1.36 0 01-1.501-1.348zm2.894-.384v-.377l-1.1.07c-.62.042-.9.253-.9.65 0 .405.351.64.834.64a1.062 1.062 0 001.166-.983zm2.053-.596c0-1.423.732-2.324 1.87-2.324a1.484 1.484 0 011.38.79h.067V8.437h.888v6.26h-.851v-.71h-.07a1.563 1.563 0 01-1.415.785c-1.145 0-1.869-.901-1.869-2.328zm.918 0c0 .955.45 1.53 1.203 1.53.75 0 1.212-.583 1.212-1.526 0-.938-.468-1.53-1.212-1.53-.748 0-1.203.58-1.203 1.526zm6.964 0a2.133 2.133 0 114.247 0 2.134 2.134 0 11-4.247 0zm3.333 0c0-.976-.438-1.547-1.208-1.547-.772 0-1.207.571-1.207 1.547 0 .984.435 1.55 1.207 1.55.77 0 1.208-.57 1.208-1.55zm2.106-2.25h.856v.716h.066a1.348 1.348 0 011.344-.802 1.465 1.465 0 011.559 1.675v2.915h-.889v-2.692c0-.724-.314-1.084-.972-1.084a1.033 1.033 0 00-1.075 1.141v2.635h-.889zm8.846-1.12v1.141h.976v.749h-.976v2.315c0 .472.194.679.637.679a2.967 2.967 0 00.339-.021v.74a2.916 2.916 0 01-.484.046c-.988 0-1.381-.348-1.381-1.216v-2.543h-.715v-.749h.715V9.074zm2.19-.637h.88v2.481h.07a1.386 1.386 0 011.374-.806 1.483 1.483 0 011.55 1.679v2.907h-.889V12.01c0-.72-.335-1.084-.963-1.084a1.052 1.052 0 00-1.134 1.142v2.63h-.888zm9.056 5.045a1.828 1.828 0 01-1.95 1.303 2.045 2.045 0 01-2.081-2.325 2.077 2.077 0 012.076-2.352c1.253 0 2.009.856 2.009 2.27v.31h-3.18v.05a1.19 1.19 0 001.2 1.29 1.08 1.08 0 001.07-.546zm-3.126-1.451h2.275a1.086 1.086 0 00-1.109-1.167 1.152 1.152 0 00-1.166 1.167z" fill="#fff" data-name="&lt;Group&gt;"/></svg>
          </a>
          <a
          class="app-badges__link js-amplitude-appstorelink"
          href="https://play.google.com/store/apps/details?id=com.getjobber.jobber"
          data-amplitude-app-store="google_play_store"
          data-amplitude-page-location="footer"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Download the Jobber App on the Google Play Store">
            <svg class="app-badges__badge" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 135 40"><title>Download the Jobber App on the Google Play Store</title><defs><linearGradient id="a" x1="31.8" y1="183.3" x2="15" y2="166.5" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#00a0ff"/><stop offset="0" stop-color="#00a1ff"/><stop offset=".3" stop-color="#00beff"/><stop offset=".5" stop-color="#00d2ff"/><stop offset=".8" stop-color="#00dfff"/><stop offset="1" stop-color="#00e3ff"/></linearGradient><linearGradient id="b" x1="43.8" y1="172" x2="19.6" y2="172" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffe000"/><stop offset=".4" stop-color="#ffbd00"/><stop offset=".8" stop-color="orange"/><stop offset="1" stop-color="#ff9c00"/></linearGradient><linearGradient id="c" x1="34.8" y1="169.7" x2="12.1" y2="146.9" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff3a44"/><stop offset="1" stop-color="#c31162"/></linearGradient><linearGradient id="d" x1="17.3" y1="191.8" x2="27.5" y2="181.7" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#32a071"/><stop offset=".1" stop-color="#2da771"/><stop offset=".5" stop-color="#15cf74"/><stop offset=".8" stop-color="#06e775"/><stop offset="1" stop-color="#00f076"/></linearGradient></defs><path fill="none" d="M0 0h155v60H0z"/><rect x="10" y="10" width="135" height="40" rx="5" ry="5"/><path d="M140 10.8a4.2 4.2 0 014.2 4.2v30a4.2 4.2 0 01-4.2 4.2H15a4.2 4.2 0 01-4.2-4.2V15a4.2 4.2 0 014.2-4.2h125m0-.8H15a5 5 0 00-5 5v30a5 5 0 005 5h125a5 5 0 005-5V15a5 5 0 00-5-5z" fill="#a6a6a6"/><path d="M57.4 20.2a2.7 2.7 0 01-.7 2 3 3 0 01-2.2 1 3.1 3.1 0 01-2.2-5.4 3 3 0 012.2-1 3.1 3.1 0 011.2.3 2.5 2.5 0 011 .7l-.6.5a2 2 0 00-1.6-.7A2.3 2.3 0 0052 20a2.4 2.4 0 004 1.7 1.9 1.9 0 00.5-1.2h-2.1v-.7h2.9a2.5 2.5 0 010 .4zm4.6-2.5h-2.7v2h2.5v.7h-2.5v1.9H62v.7h-3.5v-6H62zm3.3 5.3h-.8v-5.3h-1.7V17H67v.7h-1.7zm4.6 0v-6h.8v6zm4.2 0h-.7v-5.3h-1.7V17h4.1v.7h-1.7zm9.5-.8a3.1 3.1 0 01-4.4 0 3.2 3.2 0 010-4.4 3.1 3.1 0 014.4 0 3.2 3.2 0 010 4.4zm-3.8-.5a2.3 2.3 0 003.2 0 2.6 2.6 0 000-3.4 2.3 2.3 0 00-3.2 0 2.6 2.6 0 000 3.4zm5.8 1.3v-6h1l2.8 4.7V17h.8v6h-.8l-3-4.9V23z" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width=".2"/><path d="M78.1 31.8a4.3 4.3 0 104.3 4.2 4.2 4.2 0 00-4.3-4.3zm0 6.8a2.6 2.6 0 112.4-2.6 2.5 2.5 0 01-2.4 2.6zm-9.3-6.9a4.3 4.3 0 104.3 4.3 4.2 4.2 0 00-4.3-4.3zm0 6.9a2.6 2.6 0 112.4-2.6 2.5 2.5 0 01-2.4 2.6zm-11-5.5v1.8H62a3.8 3.8 0 01-1 2.2 4.4 4.4 0 01-3.4 1.4 4.8 4.8 0 010-9.6A4.6 4.6 0 0161 30l1.3-1.2a6.3 6.3 0 00-4.6-1.9 6.6 6.6 0 100 13.2 6 6 0 004.6-1.8A6 6 0 0064 34a5.9 5.9 0 000-1zm45.3 1.4a4 4 0 00-3.7-2.7 4 4 0 00-4 4.2 4.2 4.2 0 004.2 4.3 4.2 4.2 0 003.6-2l-1.5-1a2.4 2.4 0 01-2 1.3 2.2 2.2 0 01-2.1-1.3l5.7-2.4zm-5.8 1.4a2.3 2.3 0 012.2-2.5 1.6 1.6 0 011.5.9zM92.5 40h1.9V27.5h-1.9zm-3-7.3h-.1a3 3 0 00-2.2-1 4.3 4.3 0 000 8.5 2.9 2.9 0 002.2-1v.6c0 1.7-.8 2.5-2.2 2.5a2.4 2.4 0 01-2.1-1.5l-1.7.7a4 4 0 003.8 2.5c2.2 0 4-1.3 4-4.4V32h-1.7zm-2.2 5.9a2.6 2.6 0 010-5.2 2.4 2.4 0 012.3 2.6 2.4 2.4 0 01-2.3 2.6zm24.4-11.1h-4.5V40h2v-4.7h2.5a3.9 3.9 0 100-7.8zm0 6h-2.6v-4.3h2.6a2.1 2.1 0 110 4.3zm11.5-1.8a3.5 3.5 0 00-3.3 2l1.7.6a1.8 1.8 0 011.7-1 1.8 1.8 0 012 1.7v.1a4.1 4.1 0 00-2-.5c-1.8 0-3.6 1-3.6 2.9a2.9 2.9 0 003.1 2.7 2.6 2.6 0 002.4-1.2v1h1.9v-4.8c0-2.2-1.7-3.5-3.8-3.5zm-.2 6.9c-.6 0-1.5-.4-1.5-1.1 0-1 1.1-1.3 2-1.3a3.3 3.3 0 011.7.4 2.3 2.3 0 01-2.1 2zm10.6-6.6l-2.1 5.4-2.3-5.4h-2l3.3 7.6-1.8 4.2h1.9l5.1-11.8zM117 40h1.9V27.5H117z" fill="#fff"/><path d="M20.4 17.5A2 2 0 0020 19v22.2a2 2 0 00.4 1.4h.1L33 30.1V30L20.5 17.5z" fill="url(#a)"/><path d="M37 34.3l-4.1-4.1v-.3l4.1-4.2 5 2.9c1.4.7 1.4 2 0 2.8l-4.9 2.8z" fill="url(#b)"/><path d="M37.1 34.2L33 30 20.4 42.5a1.6 1.6 0 002.1 0l14.6-8.3" fill="url(#c)"/><path d="M37.1 25.8l-14.6-8.3a1.6 1.6 0 00-2 0L32.8 30z" fill="url(#d)"/><path d="M37 34.1l-14.5 8.3a1.7 1.7 0 01-2 0v.1a1.7 1.7 0 002 0l14.6-8.3z" style="isolation:isolate" opacity=".2"/><path d="M20.4 42.3A2 2 0 0120 41v.2a2 2 0 00.4 1.4l.1-.1zm21.6-11l-5 2.8v.1l5-2.8a1.8 1.8 0 001-1.4 1.9 1.9 0 01-1 1.3z" style="isolation:isolate" opacity=".1"/><path d="M22.5 17.6L42 28.7a1.9 1.9 0 011 1.3 1.8 1.8 0 00-1-1.4L22.5 17.5c-1.4-.8-2.5-.1-2.5 1.5v.1c0-1.6 1.1-2.3 2.5-1.5z" style="isolation:isolate" fill="#fff" opacity=".3"/></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <ul class="footer-copyright__list">
        <li class="footer-copyright__item">
          &copy; Jobber Copyright 2019
        </li>
        <li class="footer-copyright__item">
          <a class="footer-copyright__link" href="https://getjobber.com/privacy-policy/" target="_blank">Privacy</a>
        </li>
        <li class="footer-copyright__item">
          <a class="footer-copyright__link" href="https://getjobber.com/terms-of-service/" target="_blank">Terms of Service</a>
        </li>
        <li class="footer-copyright__item">
          <a class="footer-copyright__link" href="https://getjobber.com/sitemap/" target="_blank">Site Map</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
