<footer>
  <div class="container footer-inner">
    <a class="footer-logo-link" href="https://getjobber.com/">
<svg viewBox="0 0 242 40" class="footer-logo" title="Jobber" description="The Jobber logo" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor" fill-rule="evenodd"><path d="M75.23 5.501h-7.373c-.503 0-.91.41-.91.914V23.69c0 1.14-.235 2.034-.708 2.685-.472.65-1.249.977-2.328.977-1.08 0-1.87-.373-2.37-1.12-.395-.59-.65-1.371-.766-2.345a.91.91 0 00-.9-.808h-7.357a.92.92 0 00-.908.993c.25 3.477 1.314 6.17 3.19 8.08 2.052 2.09 5.088 3.134 9.111 3.134 3.806 0 6.796-1.01 8.97-3.032 2.171-2.02 3.26-5.01 3.26-8.971V6.415a.912.912 0 00-.91-.914M98.612 27.35c-3.374 0-5.06-2.44-5.06-7.323 0-4.882 1.686-7.324 5.06-7.324 3.374 0 5.06 2.442 5.06 7.324 0 4.883-1.686 7.324-5.06 7.324m10.871-18.553c-1.228-1.303-2.74-2.3-4.534-2.992-1.796-.69-3.867-1.037-6.215-1.037-2.404 0-4.522.36-6.357 1.078-1.836.719-3.375 1.75-4.617 3.093-1.241 1.342-2.172 2.957-2.793 4.842-.622 1.885-.932 4.007-.932 6.366 0 2.361.31 4.476.932 6.348.621 1.872 1.545 3.458 2.773 4.76 1.229 1.302 2.74 2.3 4.535 2.991 1.796.692 3.867 1.038 6.216 1.038 2.402 0 4.521-.36 6.357-1.079 1.834-.718 3.367-1.742 4.596-3.072 1.228-1.328 2.159-2.95 2.793-4.862.634-1.912.952-4.048.952-6.408 0-2.36-.31-4.469-.93-6.327-.623-1.857-1.547-3.438-2.776-4.74M136.268 27.229c-.485.461-1.417.692-2.793.692h-2.896a.912.912 0 01-.91-.914v-3.503c0-.505.407-.914.91-.914h2.896c1.376 0 2.308.231 2.793.692.487.461.73 1.126.73 1.993 0 .841-.243 1.493-.73 1.954zm-6.599-14.181c0-.505.407-.914.91-.914h2.692c1.135 0 1.904.19 2.31.57.404.38.606.922.606 1.626 0 .707-.202 1.249-.606 1.628-.406.38-1.175.57-2.31.57h-2.692a.912.912 0 01-.91-.914v-2.566zm12.847 6.766a.91.91 0 01-.074-1.468c.672-.54 1.193-1.153 1.564-1.839.564-1.044.847-2.23.847-3.56 0-1.003-.162-1.96-.486-2.868-.323-.909-.868-1.702-1.636-2.38-.768-.678-1.8-1.214-3.093-1.607-1.294-.394-2.911-.59-4.85-.59h-12.591c-.503 0-.91.409-.91.913v27.223c0 .505.407.914.91.914h12.228c2.101 0 3.866-.23 5.295-.692 1.428-.46 2.587-1.084 3.476-1.871.89-.786 1.523-1.695 1.9-2.726a9.388 9.388 0 00.567-3.255c0-2.754-1.05-4.818-3.147-6.194zM168.58 27.229c-.485.461-1.417.692-2.793.692h-2.896a.912.912 0 01-.91-.914v-3.503c0-.505.407-.914.91-.914h2.896c1.376 0 2.308.231 2.793.692.487.461.73 1.126.73 1.993 0 .841-.243 1.493-.73 1.954zm-6.599-14.181c0-.505.407-.914.91-.914h2.692c1.135 0 1.904.19 2.31.57.404.38.606.922.606 1.626 0 .707-.202 1.249-.606 1.628-.406.38-1.175.57-2.31.57h-2.692a.912.912 0 01-.91-.914v-2.566zm12.847 6.766a.91.91 0 01-.074-1.468c.672-.54 1.193-1.153 1.564-1.839.564-1.044.847-2.23.847-3.56 0-1.003-.162-1.96-.486-2.868-.323-.909-.868-1.702-1.636-2.38-.768-.678-1.8-1.214-3.092-1.607-1.295-.394-2.912-.59-4.851-.59h-12.591c-.502 0-.91.409-.91.913v27.223c0 .505.408.914.91.914h12.228c2.101 0 3.866-.23 5.295-.692 1.428-.46 2.587-1.084 3.476-1.871.89-.786 1.523-1.695 1.9-2.726a9.388 9.388 0 00.567-3.255c0-2.754-1.05-4.818-3.147-6.194zM207.219 27.432h-11.37a.912.912 0 01-.908-.914v-2.16c0-.504.407-.913.909-.913h9.842c.503 0 .91-.41.91-.914v-5.293a.912.912 0 00-.91-.914h-9.842a.912.912 0 01-.91-.914v-1.874c0-.505.408-.914.91-.914h10.652c.502 0 .91-.41.91-.914V6.415a.912.912 0 00-.91-.914H186.82c-.502 0-.91.41-.91.914v27.223c0 .505.408.914.91.914h19.886c.468 0 .86-.357.905-.825l.512-5.292a.912.912 0 00-.905-1.003M230.759 17.748c-.576.516-1.55.774-2.919.774h-2.148a.912.912 0 01-.91-.914V13.25c0-.505.408-.914.91-.914h2.148c1.37 0 2.343.258 2.919.773.578.516.866 1.289.866 2.32 0 1.03-.288 1.803-.866 2.318m10.547 15.456l-4.884-9.086a.909.909 0 01.245-1.154 8.995 8.995 0 002.51-2.937c.742-1.384 1.113-3.052 1.113-5.005a11.54 11.54 0 00-.588-3.702 7.239 7.239 0 00-1.967-3.032c-.92-.854-2.129-1.531-3.63-2.034-1.5-.502-3.36-.753-5.578-.753h-11.5c-.502 0-.91.41-.91.914v27.223c0 .505.408.914.91.914h6.846c.502 0 .91-.409.91-.914v-7.49c0-.504.407-.913.909-.913h1.765a.91.91 0 01.815.506l4.115 8.305c.154.31.469.506.814.506h7.305a.914.914 0 00.8-1.348M36.97 25.379c0 6.5-5.244 11.77-11.713 11.77H8.65a.382.382 0 01-.381-.383v-22.01c0-3.56 2.872-6.448 6.416-6.448h11.141c.266 0 .45.267.358.517l-.648 1.75a.382.382 0 01-.357.25h-9.954c-2.46 0-4.453 2.003-4.453 4.474V34.25c0 .212.171.384.382.384h14.103c5.086 0 9.21-4.144 9.21-9.255V5.896c0-.342.41-.513.651-.271l1.74 1.749c.072.072.113.17.113.27V25.38zm-23.404.74V15.3c0-.92.743-1.667 1.66-1.667h10.768c.21 0 .381.172.381.383v10.821c0 .92-.742 1.667-1.659 1.667H13.948a.383.383 0 01-.382-.383zM5.475 14.757v19.483a.381.381 0 01-.652.271l-1.74-1.749a.385.385 0 01-.112-.271V14.756c0-6.5 5.244-11.77 11.714-11.77H31.29c.211 0 .382.17.382.382v22.01c0 3.562-2.873 6.448-6.416 6.448H14.115a.383.383 0 01-.357-.517l.647-1.749a.382.382 0 01.358-.25h9.953c2.46 0 4.453-2.003 4.453-4.474V5.884a.382.382 0 00-.381-.383H14.685c-5.087 0-9.21 4.143-9.21 9.255zM33.984.515a1.142 1.142 0 00-.81-.337h-18.49C6.673.178.178 6.705.178 14.756v18.579c0 .305.12.597.335.813l5.446 5.472c.214.216.506.337.81.337h18.489c8.012 0 14.508-6.527 14.508-14.578V6.799c0-.304-.121-.597-.336-.812L33.984.515z"/></g></svg>
    </a>
    <div class="footer-inner-column-wrap">
      <div class="footer-inner-column">
        <div class="footer-title">Help Center</div>
        <ul class="footer-list">
          <li class="footer-list__item" class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001324208-Calendar/">Calendar</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001328147-Clients">Clients</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001328167-Work-Timesheets/">Work &amp; Timesheets</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001330028-Management/">Management</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334107-Settings/">Settings</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334127-Billing-Add-ons/">Billing &amp; Integrations</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001334067-The-Mobile-App/">Jobber App</a>
          </li>
        </ul>
      </div>
      <div class="footer-inner-column">
        <div class="footer-title">Resources</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/sections/115002368127">Jobber Glossary</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://help.getjobber.com/hc/en-us/categories/115001335727-Instructional-Videos">Instructional Videos</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://academy.getjobber.com/" target="_blank">Jobber Academy</a>
          </li>
        </ul>
      </div>
      <div class="footer-inner-column">
        <div class="footer-title">Jobber</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="https://getjobber.com" target="_blank">Back to Jobber</a>
          </li>
        </ul>
      </div>
      <div class="footer-inner-column">
        <div class="footer-title">Contact Us</div>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a class="footer-list__link" href="tel:+18887211115">1-888-721-1115</a>
          </li>
          <li class="footer-list__item">
            <a class="footer-list__link" href="mailto:hello@getjobber.com">hello@getjobber.com</a>
          </li>
          <li class="footer-list__item">
            <ul class="footer-social-list">
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.facebook.com/GetJobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--facebook" viewBox="0 0 32 32" title="Jobber Facebook" xmlns="http://www.w3.org/2000/svg"><path d="M1.334 0C.597 0 0 .597 0 1.333v29.334C0 31.403.597 32 1.334 32H17V20h-4s-.889-3.889 0-5c.889-1.111 4 0 4 0v-4c0-4.133 2.617-6.167 6.304-6.167 1.766 0 3.284.132 3.726.19v4.32l-2.557.001c-2.005 0-2.473.953-2.473 2.351V15h5l-1 5h-4l.08 12h8.587c.736 0 1.333-.597 1.333-1.333V1.333C32 .597 31.403 0 30.667 0H1.334z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.instagram.com/getjobber/" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon  footer-social__icon--instagram" viewBox="0 0 56.7 56.7" title="Jobber Instagram" xmlns="http://www.w3.org/2000/svg"><path d="M28.2 16.7c-7 0-12.8 5.7-12.8 12.8s5.7 12.8 12.8 12.8S41 36.5 41 29.5s-5.8-12.8-12.8-12.8zm0 21c-4.5 0-8.2-3.7-8.2-8.2s3.7-8.2 8.2-8.2 8.2 3.7 8.2 8.2-3.7 8.2-8.2 8.2z"/><circle cx="41.5" cy="16.4" r="2.9"/><path d="M49 8.9c-2.6-2.7-6.3-4.1-10.5-4.1H17.9c-8.7 0-14.5 5.8-14.5 14.5v20.5c0 4.3 1.4 8 4.2 10.7 2.7 2.6 6.3 3.9 10.4 3.9h20.4c4.3 0 7.9-1.4 10.5-3.9 2.7-2.6 4.1-6.3 4.1-10.6V19.3c0-4.2-1.4-7.8-4-10.4zm-.4 31c0 3.1-1.1 5.6-2.9 7.3s-4.3 2.6-7.3 2.6H18c-3 0-5.5-.9-7.3-2.6C8.9 45.4 8 42.9 8 39.8V19.3c0-3 .9-5.5 2.7-7.3 1.7-1.7 4.3-2.6 7.3-2.6h20.6c3 0 5.5.9 7.3 2.7 1.7 1.8 2.7 4.3 2.7 7.2v20.6z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
                </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://twitter.com/getjobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--twitter" viewBox="0 0 32 26" title="Jobber Twitter" xmlns="http://www.w3.org/2000/svg"><path d="M32 3.078a13.14 13.14 0 01-3.771 1.034A6.584 6.584 0 0031.116.48a13.166 13.166 0 01-4.169 1.593A6.557 6.557 0 0022.155 0a6.565 6.565 0 00-6.565 6.565c0 .514.058 1.015.17 1.496a18.639 18.639 0 01-13.532-6.86 6.539 6.539 0 00-.889 3.301 6.563 6.563 0 002.92 5.464 6.532 6.532 0 01-2.973-.821l-.001.083a6.568 6.568 0 005.267 6.437 6.578 6.578 0 01-2.965.113 6.571 6.571 0 006.133 4.559 13.172 13.172 0 01-8.154 2.81c-.53 0-1.052-.031-1.566-.091a18.587 18.587 0 0010.064 2.949c12.076 0 18.679-10.004 18.679-18.679 0-.285-.006-.568-.019-.85A13.315 13.315 0 0032 3.078" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
                </li>
              <li class="footer-social__item">
                <a class="footer-social__link" href="https://www.youtube.com/user/GetJobber" target="_blank" rel="noopener noreferrer">
                  <svg class="footer-social__icon footer-social__icon--youtube" viewBox="0 0 32 23" title="Jobber Youtube" xmlns="http://www.w3.org/2000/svg"><path d="M12.696 15.404l-.001-8.991 8.646 4.511-8.645 4.48zM31.68 4.855s-.313-2.205-1.272-3.176C29.191.404 27.827.398 27.202.324 22.724 0 16.007 0 16.007 0h-.014S9.276 0 4.798.324c-.626.074-1.989.08-3.207 1.355C.632 2.65.32 4.855.32 4.855S0 7.445 0 10.034v2.428c0 2.59.32 5.179.32 5.179s.312 2.205 1.271 3.176c1.218 1.275 2.817 1.235 3.529 1.368 2.56.246 10.88.322 10.88.322s6.724-.01 11.202-.334c.625-.075 1.989-.081 3.206-1.356.959-.971 1.272-3.176 1.272-3.176s.32-2.589.32-5.179v-2.428c0-2.589-.32-5.179-.32-5.179z" fill="#99A9B0" fill-rule="evenodd"/></svg>
                </a>
                </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="footer-inner-column">
        <div class="app-badges">
          <a class="app-badges__link js-amplitude-appstorelink" href="https://itunes.apple.com/us/app/jobber-field/id1014146758?mt=8" data-amplitude-app-store="apple_app_store" data-amplitude-page-location="footer" target="_blank" rel="noopener noreferrer" aria-label="Download the Jobber App on the iOS App Store">
<svg class="app-badges__badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.66407 40">
<path d="M110.13477 0H9.53468c-.3667 0-.729 0-1.09473.002-.30615.002-.60986.00781-.91895.0127a13.21476 13.21476 0 00-2.0039.17671 6.66509 6.66509 0 00-1.90088.627 6.43779 6.43779 0 00-1.61865 1.17866A6.25844 6.25844 0 00.81935 3.61816a6.60119 6.60119 0 00-.625 1.90332 12.993 12.993 0 00-.1792 2.002C.00587 7.83008.00489 8.1377 0 8.44434V31.5586c.00489.3105.00587.6113.01515.9219a12.99232 12.99232 0 00.1792 2.0019 6.58756 6.58756 0 00.625 1.9043 6.20778 6.20778 0 001.17822 1.6143 6.27445 6.27445 0 001.61865 1.1787 6.70082 6.70082 0 001.90088.6308 13.45514 13.45514 0 002.0039.1768c.30909.0068.6128.0107.91895.0107C8.80567 40 9.168 40 9.53468 40h100.60009c.3594 0 .7246 0 1.084-.002.3047 0 .6172-.0039.9219-.0107a13.279 13.279 0 002-.1768 6.80432 6.80432 0 001.9082-.6308 6.27742 6.27742 0 001.6172-1.1787 6.39482 6.39482 0 001.1816-1.6143 6.60413 6.60413 0 00.6191-1.9043 13.50643 13.50643 0 00.1856-2.0019c.0039-.3106.0039-.6114.0039-.9219.0078-.3633.0078-.7246.0078-1.0938V9.53613c0-.36621 0-.72949-.0078-1.09179 0-.30664 0-.61426-.0039-.9209a13.5071 13.5071 0 00-.1856-2.002 6.6177 6.6177 0 00-.6191-1.90332 6.46619 6.46619 0 00-2.7988-2.7998 6.76754 6.76754 0 00-1.9082-.627 13.04394 13.04394 0 00-2-.17676c-.3047-.00488-.6172-.01074-.9219-.01269-.3594-.002-.7246-.002-1.084-.002z" fill="#99a9b0"></path>
<path d="M8.44483 39.125c-.30468 0-.602-.0039-.90429-.0107a12.68714 12.68714 0 01-1.86914-.1631 5.88381 5.88381 0 01-1.65674-.5479 5.40573 5.40573 0 01-1.397-1.0166 5.32082 5.32082 0 01-1.02051-1.3965 5.72186 5.72186 0 01-.543-1.6572 12.41351 12.41351 0 01-.1665-1.875c-.00634-.2109-.01464-.9131-.01464-.9131V8.44434s.00884-.69141.01469-.89454a12.37039 12.37039 0 01.16553-1.87207 5.7555 5.7555 0 01.54346-1.6621 5.37349 5.37349 0 011.01514-1.39795 5.56543 5.56543 0 011.40234-1.02247 5.82309 5.82309 0 011.65332-.54394A12.58589 12.58589 0 017.543.88721L8.44532.875h102.76855l.9131.0127a12.38493 12.38493 0 011.8584.16259 5.93833 5.93833 0 011.6709.54785 5.59374 5.59374 0 012.415 2.41993 5.76267 5.76267 0 01.5352 1.64892 12.995 12.995 0 01.1738 1.88721c.0029.2832.0029.5874.0029.89014.0079.375.0079.73193.0079 1.09179V30.4648c0 .3633 0 .7178-.0079 1.0752 0 .3252 0 .6231-.0039.9297a12.73126 12.73126 0 01-.1709 1.8535 5.739 5.739 0 01-.54 1.67 5.48029 5.48029 0 01-1.0156 1.3857 5.4129 5.4129 0 01-1.3994 1.0225 5.86168 5.86168 0 01-1.668.5498 12.54218 12.54218 0 01-1.8692.1631c-.2929.0068-.5996.0107-.8974.0107l-1.084.002z"></path>
<g data-name="<Group>">
<g data-name="<Group>" fill="#fff">
<path data-name="<Path>" d="M24.76888 20.30068a4.94881 4.94881 0 012.35656-4.15206 5.06566 5.06566 0 00-3.99116-2.15768c-1.67924-.17626-3.30719 1.00483-4.1629 1.00483-.87227 0-2.18977-.98733-3.6085-.95814a5.31529 5.31529 0 00-4.47292 2.72787c-1.934 3.34842-.49141 8.26947 1.3612 10.97608.9269 1.32535 2.01018 2.8058 3.42763 2.7533 1.38706-.05753 1.9051-.88448 3.5794-.88448 1.65876 0 2.14479.88448 3.591.8511 1.48838-.02416 2.42613-1.33124 3.32051-2.66914a10.962 10.962 0 001.51842-3.09251 4.78205 4.78205 0 01-2.91924-4.39917zM22.03725 12.21089a4.87248 4.87248 0 001.11452-3.49062 4.95746 4.95746 0 00-3.20758 1.65961 4.63634 4.63634 0 00-1.14371 3.36139 4.09905 4.09905 0 003.23677-1.53038z"></path>
</g>
<g fill="#fff">
<path d="M42.30227 27.13965h-4.7334l-1.13672 3.35645h-2.00488l4.4834-12.418h2.083l4.4834 12.418H43.438zm-4.24317-1.54883h3.752l-1.84961-5.44727h-.05176zM55.15969 25.96973c0 2.81348-1.50586 4.62109-3.77832 4.62109a3.0693 3.0693 0 01-2.84863-1.584h-.043v4.48438h-1.8584V21.44238h1.79886v1.50586h.03418a3.21162 3.21162 0 012.88281-1.60059c2.29781.00001 3.8125 1.81641 3.8125 4.62208zm-1.91016 0c0-1.833-.94727-3.03809-2.39258-3.03809-1.41992 0-2.375 1.23047-2.375 3.03809 0 1.82422.95508 3.0459 2.375 3.0459 1.44532 0 2.39258-1.19629 2.39258-3.0459zM65.12453 25.96973c0 2.81348-1.50586 4.62109-3.77832 4.62109a3.0693 3.0693 0 01-2.84863-1.584h-.043v4.48438h-1.8584V21.44238H58.395v1.50586h.03418a3.21162 3.21162 0 012.88282-1.60058c2.29788 0 3.81253 1.8164 3.81253 4.62207zm-1.91016 0c0-1.833-.94727-3.03809-2.39258-3.03809-1.41992 0-2.375 1.23047-2.375 3.03809 0 1.82422.95508 3.0459 2.375 3.0459 1.44532 0 2.39259-1.19629 2.39259-3.0459zM71.71047 27.03613c.1377 1.23145 1.334 2.04 2.96875 2.04 1.56641 0 2.69336-.80859 2.69336-1.91895 0-.96387-.67969-1.541-2.28906-1.93652l-1.60937-.3877c-2.28027-.55078-3.33887-1.61719-3.33887-3.34766 0-2.14258 1.86719-3.61426 4.51855-3.61426 2.624 0 4.42285 1.47168 4.4834 3.61426h-1.876c-.1123-1.23926-1.13672-1.9873-2.63379-1.9873s-2.52148.75684-2.52148 1.8584c0 .87793.6543 1.39453 2.25488 1.79l1.36816.33594c2.54785.60254 3.60645 1.626 3.60645 3.44238 0 2.32324-1.85059 3.77832-4.79395 3.77832-2.75391 0-4.61328-1.4209-4.7334-3.667zM83.34621 19.2998v2.14258h1.72168v1.47168h-1.72168v4.99121c0 .77539.34473 1.13672 1.10156 1.13672a5.80752 5.80752 0 00.61133-.043v1.46289a5.10351 5.10351 0 01-1.03223.08594c-1.833 0-2.54785-.68848-2.54785-2.44434v-5.18942h-1.3164v-1.47168H81.479V19.2998zM86.065 25.96973c0-2.84863 1.67773-4.63867 4.29395-4.63867 2.625 0 4.29492 1.79 4.29492 4.63867 0 2.85645-1.66113 4.63867-4.29492 4.63867-2.63286 0-4.29395-1.78223-4.29395-4.63867zm6.69531 0c0-1.9541-.89551-3.10742-2.40137-3.10742s-2.40039 1.16211-2.40039 3.10742c0 1.96191.89453 3.10645 2.40039 3.10645s2.40133-1.14454 2.40133-3.10645zM96.18606 21.44238h1.77246v1.541h.043a2.1594 2.1594 0 012.17773-1.63574 2.86616 2.86616 0 01.63672.06934v1.73828a2.59794 2.59794 0 00-.835-.1123 1.87264 1.87264 0 00-1.93652 2.083v5.37012h-1.8584zM109.3843 27.83691c-.25 1.64355-1.85059 2.77148-3.89844 2.77148-2.63379 0-4.26855-1.76465-4.26855-4.5957 0-2.83984 1.64355-4.68164 4.19043-4.68164 2.50488 0 4.08008 1.7207 4.08008 4.46582v.63672h-6.39453v.1123a2.358 2.358 0 002.43555 2.56445 2.04834 2.04834 0 002.09082-1.27344zm-6.28223-2.70215h4.52637a2.1773 2.1773 0 00-2.2207-2.29785 2.292 2.292 0 00-2.30567 2.29786z"></path>
</g>
</g>
<g data-name="<Group>">
<g fill="#fff">
<path d="M37.82619 8.731a2.63964 2.63964 0 012.80762 2.96484c0 1.90625-1.03027 3.002-2.80762 3.002h-2.15527V8.731zm-1.22852 5.123h1.125a1.87588 1.87588 0 001.96777-2.146 1.881 1.881 0 00-1.96777-2.13379h-1.125zM41.68068 12.44434a2.13323 2.13323 0 114.24707 0 2.13358 2.13358 0 11-4.24707 0zm3.333 0c0-.97607-.43848-1.54687-1.208-1.54687-.77246 0-1.207.5708-1.207 1.54688 0 .98389.43457 1.55029 1.207 1.55029.76954-.00001 1.20801-.57032 1.20801-1.5503zM51.57326 14.69775h-.92187l-.93066-3.31641h-.07031l-.92676 3.31641h-.91309l-1.24121-4.50293h.90137l.80664 3.436h.06641l.92578-3.436h.85254l.92578 3.436h.07031l.80273-3.436h.88867zM53.85354 10.19482h.85546v.71533h.06641a1.348 1.348 0 011.34375-.80225 1.46456 1.46456 0 011.55859 1.6748v2.915h-.88867v-2.69184c0-.72363-.31445-1.0835-.97168-1.0835a1.03294 1.03294 0 00-1.0752 1.14111v2.63428h-.88867zM59.09377 8.437h.88867v6.26074h-.88867zM61.21779 12.44434a2.13346 2.13346 0 114.24756 0 2.1338 2.1338 0 11-4.24756 0zm3.333 0c0-.97607-.43848-1.54687-1.208-1.54687-.77246 0-1.207.5708-1.207 1.54688 0 .98389.43457 1.55029 1.207 1.55029.76953-.00001 1.20801-.57032 1.20801-1.5503zM66.4009 13.42432c0-.81055.60352-1.27783 1.6748-1.34424l1.21973-.07031v-.38867c0-.47559-.31445-.74414-.92187-.74414-.49609 0-.83984.18213-.93848.50049h-.86035c.09082-.77344.81836-1.26953 1.83984-1.26953 1.12891 0 1.76563.562 1.76563 1.51318v3.07666h-.85547v-.63281h-.07031a1.515 1.515 0 01-1.35254.707 1.36026 1.36026 0 01-1.50098-1.34763zm2.89453-.38477v-.37646l-1.09961.07031c-.62012.0415-.90137.25244-.90137.64941 0 .40527.35156.64111.835.64111a1.0615 1.0615 0 001.16598-.98437zM71.34816 12.44434c0-1.42285.73145-2.32422 1.86914-2.32422a1.484 1.484 0 011.38086.79h.06641V8.437h.88867v6.26074h-.85156v-.71143h-.07031a1.56284 1.56284 0 01-1.41406.78564c-1.14551.00005-1.86915-.90134-1.86915-2.32761zm.918 0c0 .95508.4502 1.52979 1.20313 1.52979.749 0 1.21191-.583 1.21191-1.52588 0-.93848-.46777-1.52979-1.21191-1.52979-.74808 0-1.20316.57861-1.20316 1.52588zM79.23 12.44434a2.13323 2.13323 0 114.24707 0 2.13358 2.13358 0 11-4.24707 0zm3.333 0c0-.97607-.43848-1.54687-1.208-1.54687-.77246 0-1.207.5708-1.207 1.54688 0 .98389.43457 1.55029 1.207 1.55029.76953-.00001 1.208-.57032 1.208-1.5503zM84.66945 10.19482h.85547v.71533h.06641a1.348 1.348 0 011.34375-.80225 1.46456 1.46456 0 011.55859 1.6748v2.915H87.605v-2.69184c0-.72363-.31445-1.0835-.97168-1.0835a1.03294 1.03294 0 00-1.0752 1.14111v2.63428h-.88867zM93.51516 9.07373v1.1416h.97559v.74854h-.97559v2.31543c0 .47168.19434.67822.63672.67822a2.96657 2.96657 0 00.33887-.02051v.74023a2.9155 2.9155 0 01-.4834.04541c-.98828 0-1.38184-.34766-1.38184-1.21582v-2.543h-.71484v-.74854h.71484V9.07373zM95.70461 8.437h.88086v2.48145h.07031a1.3856 1.3856 0 011.373-.80664 1.48339 1.48339 0 011.55078 1.67871v2.90723H98.69v-2.688c0-.71924-.335-1.0835-.96289-1.0835a1.05194 1.05194 0 00-1.13379 1.1416v2.62988h-.88867zM104.76125 13.48193a1.828 1.828 0 01-1.95117 1.30273 2.04531 2.04531 0 01-2.08008-2.32421 2.07685 2.07685 0 012.07617-2.35254c1.25293 0 2.00879.856 2.00879 2.27v.31009h-3.17969v.0498a1.1902 1.1902 0 001.19922 1.29 1.07934 1.07934 0 001.07129-.5459zm-3.126-1.45117h2.27441a1.08647 1.08647 0 00-1.1084-1.1665 1.15162 1.15162 0 00-1.16599 1.1665z"></path>
</g>
</g>
</svg>
</a>
<a class="app-badges__link js-amplitude-appstorelink" href="https://play.google.com/store/apps/details?id=com.getjobber.jobber" data-amplitude-app-store="google_play_store" data-amplitude-page-location="footer" target="_blank" rel="noopener noreferrer"
            aria-label="Download the Jobber App on the Google Play Store">
<svg class="app-badges__badge" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 135 40">
<defs>
<linearGradient id="a" x1="31.8" y1="183.3" x2="15" y2="166.5" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#00a0ff"></stop>
<stop offset="0" stop-color="#00a1ff"></stop>
<stop offset=".3" stop-color="#00beff"></stop>
<stop offset=".5" stop-color="#00d2ff"></stop>
<stop offset=".8" stop-color="#00dfff"></stop>
<stop offset="1" stop-color="#00e3ff"></stop>
</linearGradient>
<linearGradient id="b" x1="43.8" y1="172" x2="19.6" y2="172" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#ffe000"></stop>
<stop offset=".4" stop-color="#ffbd00"></stop>
<stop offset=".8" stop-color="orange"></stop>
<stop offset="1" stop-color="#ff9c00"></stop>
</linearGradient>
<linearGradient id="c" x1="34.8" y1="169.7" x2="12.1" y2="146.9" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#ff3a44"></stop>
<stop offset="1" stop-color="#c31162"></stop>
</linearGradient>
<linearGradient id="d" x1="17.3" y1="191.8" x2="27.5" y2="181.7" gradientTransform="matrix(1 0 0 -1 0 202)" gradientUnits="userSpaceOnUse">
<stop offset="0" stop-color="#32a071"></stop>
<stop offset=".1" stop-color="#2da771"></stop>
<stop offset=".5" stop-color="#15cf74"></stop>
<stop offset=".8" stop-color="#06e775"></stop>
<stop offset="1" stop-color="#00f076"></stop>
</linearGradient>
</defs>
<path fill="none" d="M0 0h155v60H0z"></path>
<rect x="10" y="10" width="135" height="40" rx="5" ry="5"></rect>
<path d="M140 10.8a4.2 4.2 0 014.2 4.2v30a4.2 4.2 0 01-4.2 4.2H15a4.2 4.2 0 01-4.2-4.2V15a4.2 4.2 0 014.2-4.2h125m0-.8H15a5 5 0 00-5 5v30a5 5 0 005 5h125a5 5 0 005-5V15a5 5 0 00-5-5z" fill="#a6a6a6"></path>
<path d="M57.4 20.2a2.7 2.7 0 01-.7 2 3 3 0 01-2.2 1 3.1 3.1 0 01-2.2-5.4 3 3 0 012.2-1 3.1 3.1 0 011.2.3 2.5 2.5 0 011 .7l-.6.5a2 2 0 00-1.6-.7A2.3 2.3 0 0052 20a2.4 2.4 0 004 1.7 1.9 1.9 0 00.5-1.2h-2.1v-.7h2.9a2.5 2.5 0 010 .4zm4.6-2.5h-2.7v2h2.5v.7h-2.5v1.9H62v.7h-3.5v-6H62zm3.3 5.3h-.8v-5.3h-1.7V17H67v.7h-1.7zm4.6 0v-6h.8v6zm4.2 0h-.7v-5.3h-1.7V17h4.1v.7h-1.7zm9.5-.8a3.1 3.1 0 01-4.4 0 3.2 3.2 0 010-4.4 3.1 3.1 0 014.4 0 3.2 3.2 0 010 4.4zm-3.8-.5a2.3 2.3 0 003.2 0 2.6 2.6 0 000-3.4 2.3 2.3 0 00-3.2 0 2.6 2.6 0 000 3.4zm5.8 1.3v-6h1l2.8 4.7V17h.8v6h-.8l-3-4.9V23z" fill="#fff" stroke="#fff" stroke-miterlimit="10" stroke-width=".2"></path>
<path d="M78.1 31.8a4.3 4.3 0 104.3 4.2 4.2 4.2 0 00-4.3-4.3zm0 6.8a2.6 2.6 0 112.4-2.6 2.5 2.5 0 01-2.4 2.6zm-9.3-6.9a4.3 4.3 0 104.3 4.3 4.2 4.2 0 00-4.3-4.3zm0 6.9a2.6 2.6 0 112.4-2.6 2.5 2.5 0 01-2.4 2.6zm-11-5.5v1.8H62a3.8 3.8 0 01-1 2.2 4.4 4.4 0 01-3.4 1.4 4.8 4.8 0 010-9.6A4.6 4.6 0 0161 30l1.3-1.2a6.3 6.3 0 00-4.6-1.9 6.6 6.6 0 100 13.2 6 6 0 004.6-1.8A6 6 0 0064 34a5.9 5.9 0 000-1zm45.3 1.4a4 4 0 00-3.7-2.7 4 4 0 00-4 4.2 4.2 4.2 0 004.2 4.3 4.2 4.2 0 003.6-2l-1.5-1a2.4 2.4 0 01-2 1.3 2.2 2.2 0 01-2.1-1.3l5.7-2.4zm-5.8 1.4a2.3 2.3 0 012.2-2.5 1.6 1.6 0 011.5.9zM92.5 40h1.9V27.5h-1.9zm-3-7.3h-.1a3 3 0 00-2.2-1 4.3 4.3 0 000 8.5 2.9 2.9 0 002.2-1v.6c0 1.7-.8 2.5-2.2 2.5a2.4 2.4 0 01-2.1-1.5l-1.7.7a4 4 0 003.8 2.5c2.2 0 4-1.3 4-4.4V32h-1.7zm-2.2 5.9a2.6 2.6 0 010-5.2 2.4 2.4 0 012.3 2.6 2.4 2.4 0 01-2.3 2.6zm24.4-11.1h-4.5V40h2v-4.7h2.5a3.9 3.9 0 100-7.8zm0 6h-2.6v-4.3h2.6a2.1 2.1 0 110 4.3zm11.5-1.8a3.5 3.5 0 00-3.3 2l1.7.6a1.8 1.8 0 011.7-1 1.8 1.8 0 012 1.7v.1a4.1 4.1 0 00-2-.5c-1.8 0-3.6 1-3.6 2.9a2.9 2.9 0 003.1 2.7 2.6 2.6 0 002.4-1.2v1h1.9v-4.8c0-2.2-1.7-3.5-3.8-3.5zm-.2 6.9c-.6 0-1.5-.4-1.5-1.1 0-1 1.1-1.3 2-1.3a3.3 3.3 0 011.7.4 2.3 2.3 0 01-2.1 2zm10.6-6.6l-2.1 5.4-2.3-5.4h-2l3.3 7.6-1.8 4.2h1.9l5.1-11.8zM117 40h1.9V27.5H117z" fill="#fff"></path>
<path d="M20.4 17.5A2 2 0 0020 19v22.2a2 2 0 00.4 1.4h.1L33 30.1V30L20.5 17.5z" fill="url(#a)"></path>
<path d="M37 34.3l-4.1-4.1v-.3l4.1-4.2 5 2.9c1.4.7 1.4 2 0 2.8l-4.9 2.8z" fill="url(#b)"></path>
<path d="M37.1 34.2L33 30 20.4 42.5a1.6 1.6 0 002.1 0l14.6-8.3" fill="url(#c)"></path>
<path d="M37.1 25.8l-14.6-8.3a1.6 1.6 0 00-2 0L32.8 30z" fill="url(#d)"></path>
<path d="M37 34.1l-14.5 8.3a1.7 1.7 0 01-2 0v.1a1.7 1.7 0 002 0l14.6-8.3z" style="isolation:isolate" opacity=".2"></path>
<path d="M20.4 42.3A2 2 0 0120 41v.2a2 2 0 00.4 1.4l.1-.1zm21.6-11l-5 2.8v.1l5-2.8a1.8 1.8 0 001-1.4 1.9 1.9 0 01-1 1.3z" style="isolation:isolate" opacity=".1"></path>
<path d="M22.5 17.6L42 28.7a1.9 1.9 0 011 1.3 1.8 1.8 0 00-1-1.4L22.5 17.5c-1.4-.8-2.5-.1-2.5 1.5v.1c0-1.6 1.1-2.3 2.5-1.5z" style="isolation:isolate" fill="#fff" opacity=".3"></path>
</svg>
</a>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <ul class="footer-copyright-list">
        <li class="footer-copyright-list-item">
          &copy; Jobber Copyright 2019
        </li>
        <li class="footer-copyright-list-item">
          <a class="footer-copyright-list-link" href="https://getjobber.com/privacy-policy" target="_blank">Privacy</a>
        </li>
        <li class="footer-copyright-list-item">
          <a class="footer-copyright-list-link" href="https://getjobber.com/terms-of-service" target="_blank">Terms of Service</a>
        </li>
        <li class="footer-copyright-list-item">
          <a class="footer-copyright-list-link" href="https://getjobber.com/site-map" target="_blank">Site Map</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
