<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCJFWS5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header class="header">
  <div id="skipNav"><a class="show-on-focus" href="#main-content">Skip to Main Content</a></div>
  <div class="logo">
    <a href="https://library.artstor.org/">
      <img src="{{settings.logo}}" alt="Artstor Support">
    </a>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      <a href="https://www.artstor.org/about/">About Artstor</a>
      <a href="https://library.artstor.org/#/login">Log in to Artstor</a>
      <a href="https://www.artstor.org/contact-us/">Contact Us</a>
      <!--{{link 'new_request' class='submit-a-request'}}-->
    </nav>
    {{#if signed_in}}
    {{user_info}}
    {{/if}}
  </div>
</header>