<header class="l-header">
  <div class="l-header__item">
    <div class="l-header__logo">
      {{#link 'help_center'}}
      <img src="{{asset 'logo.png'}}" alt="{{t 'logo'}}">
      {{/link}}
    </div>
    <span>Help Center </span>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'new_request' class='submit-a-request'}}
    </nav>
  </div>
</header>
<div class="l-header__line"></div>
