<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header" id="new-navigation">
</header>

<script type="module">
  import { renderNavigation } from "navigation";

  const container = document.getElementById("new-navigation");

  const settings = {{json settings}};

  renderNavigation(settings, container);
</script>
