<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{logo_url}}" alt="{{t 'logo'}}">
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      <a href="https://www.gaiagps.com">Back to gaiagps.com</a> 
      {{link 'community'}}
       <a href="https://www.gaiagps.com/hike/?utm_source=HC_Header">Find a Hike</a>
       <a href="https://help.gaiagps.com/hc/en-us/signin?return_to=https://help.gaiagps.com/hc/en-us/requests/new">Submit a request</a>
    </nav>
    {{user_info}}
  </div>
</header>
