<section class="section hero">
  <div class="container hero-inner">
    <h1>How can we help?</h1>
    {{search submit=false placeholder='Search Help Center' instant=settings.instant_search class='search search-full'}}
    {{#if promoted_articles}}
      <ul class="hero__popular-topics" role="list">
        <li class="hero__popular-topics--item" role="listitem">Popular Topics:</li>
        {{#each promoted_articles}}
          <li class="hero__popular-topics--item" role="listitem">
            <a class="hero__popular-topics--link" href="{{url}}">
              {{title}}
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</section>
