<div class="homepage" id="new-homepage">
</div>

<script type="module">
  console.log('working?')
  import { renderHomepage } from "homepage";

  const container = document.getElementById("new-homepage");

  const settings = {{json settings}};

  const homepageData = {
    hero: {
      headerLine1: 'Need help?',
      headerLine2: 'We got you.',
    },
    coloredCardsBlock: {
      cards: [
        {
          icon: 'graduationCap', 
          title: 'Read FAQs',
          description: 'Get more information on basic terms and how the Uniswap app works',
          color: 'pink',
        },
        {
          icon: 'lightbulb', 
          title: 'How to use Uniswap',
          description: 'Get more information on basic terms and how the Uniswap web app works',
          color: 'green',
        },
        {
          icon: 'helpCircle', 
          title: 'Troubleshoot an issue',
          description: 'Explore our guides for help troubleshooting issues',
          color: 'blue',
        },
        {
          icon: 'messageQuestion', 
          title: 'Submit a Request',
          description: 'If you’re having trouble you can contact our helpful team',
          color: 'orange',
        }
      ],
    },
    faqBlock: {
      articles: [
        {
          title: 'What are token warnings?',
          description: 'We at Uniswap Labs want to help you safely browse and discover tokens and make informed decisions about them. That’s why we introduced Token Warnings.',
          url: '/hc/en-us/articles/8723118437133-What-are-token-warnings',
        },
        {
          title: 'What is a network cost?',
          description: 'The specific token required to cover these fees varies depending on the network being used.',
          url: '/hc/en-us/articles/8370337377805-What-is-a-network-cost',
        },
        {
          title: 'What is an approval transaction?',
          description: 'The first time you swap or add liquidity, you have to approve the token to be swapped. This gives the Uniswap Protocol permission to swap that token from your wallet.',
          url: '/hc/en-us/articles/8120520483085-What-is-an-approval-transaction',
        },
        {
          title: 'Networks on Uniswap',
          description: 'The Uniswap interfaces support the following Networks:',
          url: '/hc/en-us/articles/14569415293325-Networks-on-Uniswap',
        },
        {
          title: 'Why did my transaction fail?',
          description: 'There are several reasons why a transaction can fail when using Uniswap.',
          url: '/hc/en-us/articles/8643975058829-Why-did-my-transaction-fail',
        },
        {
          title: 'How to swap tokens with the Uniswap Web app',
          description: 'To swap tokens on Uniswap follow these steps:',
          url: '/hc/en-us/articles/8370549680909-How-to-swap-tokens-with-the-Uniswap-Web-app',
        },
      ]
    },
    guidesBlock: {
      promotedArticles: {{json promoted_articles}}
    },
    topicsBlock: {
      categories: {{json categories}}
    }
  }

  // Make sure arguments are correctly typed. 
  renderHomepage(settings, homepageData, container);
</script>
