<div class="container">
  <header class="my-activities-header">
    <h1>{{t "requests"}}</h1>
  </header>

  <div id="main-content">
  </div>
</div>

<script type="module">
  const requestListSettings = {{json settings}}; 
  const themeProps = { settings: requestListSettings }; 
  const userProps = { locale:{{json help_center.base_locale}}, } 
  const dataProps = { user: userProps, theme: themeProps, }; 
  
  import { renderRequestList } from "request-list"; 
  const container = document.getElementById("main-content"); 

  renderRequestList(container,dataProps);

</script>