<section class="section hero hero-following">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{t 'following'}}" class="following-title h1">{{t 'following'}}</h1>
      </div>
    </div>
  </div>
</section>






