// 主题色
$black: #1C1E20; /* 品牌色/快造黑 */
$blue: #0C63E2; /* 品牌色/科技蓝 */
$yellow: #F5CE00; /* 品牌色/活力黄 */


$black_white_1: #1f1f1f;  // 一级主文本
$black_white_2: #5c5c5c;  // 二级辅助文本
$black_white_3: #999;     // 三级辅助文本；引用字色
$black_white_4: #c2c2c2;  // 四级辅助文本；不可用文本；引导性文本
$black_white_5: #d6d6d6;  // 深灰分割线
$black_white_6: #e0e0e0;  // 浅灰分割线  
$black_white_7: #ebebeb;  // 图标/list悬停底色-hover
$black_white_8: #f5f5f5;  // 图标/list悬停底色-press


$link: #0C63E2; // 功能色/链接
$success: #43C01E; // 功能色/成功
$warnning: #F2AD3D; // 功能色/警告提示
$error: #E12E42; // 功能色/警示


$btn-hover-blue: #0A4FB5;  // primary按钮hover状态

$radius: 42px;

$breakPoint_s: 376px;
$breakPoint_m: 769px;
$breakPoint_l: 1025px;
$breakPoint_xl: 1441px;
$breakPoint_xxl: 1921px;
$breakPoint_xxxl: 2561px;

$fontFamily: -apple-system, BlinkMacSystemFont, Roboto;