// 主题色
$black: #1C1E20;  /* brand color/Snapmaker black */
$blue: #0C63E2;   /* brand color/Tech blue */
$yellow: #F5CE00; /* brand color/Vibrant yellow */


$black_white_1: #1f1f1f;  // Level 1 primary text color
$black_white_2: #5c5c5c;  // Level 2 support text color
$black_white_3: #999;     // Level 3 reference color
$black_white_4: #c2c2c2;  // Level 4 unavailable text color; leading text color
$black_white_5: #d6d6d6;  // Dark grey dividing line
$black_white_6: #e0e0e0;  // light grey dividing line  
$black_white_7: #ebebeb;  // icon/list-hover
$black_white_8: #f5f5f5;  // icon/list-press


$link: #0C63E2; // functional colr/link
$success: #43C01E; // functional colr/success
$warnning: #F2AD3D; // functional colr/warnning
$error: #E12E42; // functional colr/error


$btn-hover-blue: #0A4FB5;  // primary btn hover 

$radius: 42px;

$breakPoint_s: 376px;
$breakPoint_m: 769px;
$breakPoint_l: 1025px;
$breakPoint_xl: 1441px;
$breakPoint_xxl: 1921px;
$breakPoint_xxxl: 2561px;

$fontFamily: -apple-system, BlinkMacSystemFont, Roboto;

@import "./mixin.scss";