.accordion {
    &__item {

        &::before {
            content: " ";
            width: .25rem;
            transition: background-position 500ms ease-in-out;
            background-image: linear-gradient(45deg, #f8f8f8 0%, #f8f8f8 33%, #58b78e 66%, #515ba5 91%);
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background-size: 100% 300%;
            background-position: 50% 0%;
        }
        &-title {

            position: relative;
            display: flex;
            align-items: center;
            margin-left: .25rem;
            width: calc(100% - .25rem);
            padding: calc($gutter / 2);
            font-size: 1.125rem;
            color: $q-text-strong;
            text-align: left;
            background-color: $q-bg-neutral;
            border: 0;
            border-radius: 0;
            overflow-anchor: none;
            transition: height 500ms ease-in-out, background-color 500ms ease;

            &--active {
                color: $q-text-strong;
                background-color: $q-bg-subtle;
                box-shadow: inset 0 calc(-1 * var(--q-accordion-border-width)) 0 var(--q-accordion-border-color);
            }
        }

        &-content {

        }
    }
}




