/***** Actions *****/
/* Styles admin and en user actions(edit, delete, change status) in comments and posts */
.actions {
  text-align: center;
  flex-shrink: 0; /*Avoid collapsing elements in Safari*/

  .dropdown-toggle {
    font-size: 0;
    margin: 15px 0;

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-shade;
    }

    background-color: transparent;
    border-radius: 50%;
    color: $secondary-text-color;
    display: block;
    font-size: $font-size-small;
    margin: auto;
    padding: 5px;

    min-width: 44px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
