/***** Actions *****/
/* Styles admin and en user actions(edit, delete, change status)
in comments and posts */
.actions {
  flex-shrink: 0; /* Avoid collapsing elements in Safari */
  text-align: center;

  .dropdown-toggle {
    margin: 15px 0;
    font-size: 0;

    &:hover::before,
    &:focus::before,
    &:active::before {
      background-color: $primary-shade;
    }

    &::before {
      @extend .icon;
      content: '\2699';
      display: block;
      margin: auto;
      padding: 5px;
      border-radius: 50%;
      background-color: transparent;
      color: $secondary-text-color;
      font-size: $font-size-small;
    }
  }
}
