/***** article list *****/

// article
.article-list {
  @include desktop {
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 50px;
}

.article-list-item {
  @include desktop {
    flex: 1 0 auto;
    width: 33%; /* Three columns on desktop */
    max-width: 33%;
    padding-left: 0;
    padding-right: 24px;

    [dir="rtl"] & {
      padding: 0 0 0 24px;
    }
  }

  flex: 1 0 auto;

  &:nth-child(3n) {
    padding-right: 0;
  }

  .article-item {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border-color;
  }

  a {
    display: inline-block;
    padding: 15px 24px 15px 0;
    color: $text_color;
    text-decoration: none;
  }

  a:hover {
    color: $brand_color;
    text-decoration: none;
  }

  .icon-lock {
    vertical-align: baseline;
  }
}

// video
.video-list {
  @include desktop {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.video-list-item {
  // override article-body
  .article-body {
    display: none;
  }

  @include desktop {
    flex: 0 0 33%; // 3 columns
  }

  flex: 0 0 90%; // 1 columns
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  &:nth-child(3n) {
    padding-right: 0;
  }

  a.video-list-item-title {
    display: block;
    margin-top: 15px;
    color: $text_color;
    font-size: $font-size-base;
    text-decoration: none;
  }

  &:hover, &:focus {
    .video-list-item-title {
      color: $brand_color;
    }
  }

  &-cover {
    display: block;
    position: relative;
    width: 360px;
    height: 200px;
  }

  &-cover-img {
    width: 360px;
    height: 200px;
  }

  &-cover-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 40px;
    height: 40px;
    background: url($assets-ic_play_40x40-png);
  }
}
