/***** article list *****/

// article
.article-list {
  @include tablet {
    flex-direction: row;
    margin-top: 50px;
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 0;
}

.article-list-item {
  @include desktop {
    flex: 1 0 auto;
    width: 33%; /* Three columns on desktop */
    max-width: 33%;
    padding-left: 0;
    padding-right: 24px;

    [dir="rtl"] & {
      padding: 0 0 0 24px;
    }
  }

  flex: 1 0 auto;

  &:nth-child(3n) {
    padding-right: 0;
  }

  .article-item {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border-color;
  }

  a {
    display: inline-block;
    padding: 15px 24px 15px 0;
    color: $text_color;
    text-decoration: none;
  }

  a:hover,
  a:focus {
    color: $brand_color;
    text-decoration: none;
  }

  .icon-lock {
    vertical-align: baseline;
  }
}

// video
.video-list {
  @include tablet {
    flex-direction: row;
    margin-right: -15px;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.video-list-item {
  // override article-body
  .article-body {
    display: none;
  }

  @include tablet {
    margin-top: 0;
  }

  flex: 0 0 100%; // 1 columns
  margin-top: 20px;
  margin-bottom: 20px;

  @include tablet {
    flex: 0 0 50%; // 2 columns
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include desktop {
    flex: 0 0 33%; // 3 columns
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a.video-list-item-title {
    display: block;
    margin-top: 15px;
    color: $text_color;
    font-size: $font-size-base;
    text-decoration: none;
  }

  &:hover, &:focus {
    .video-list-item-title {
      color: $brand_color;
    }
  }

  &-cover {
    display: block;
    position: relative;
  }

  &-cover-img {
    display: block;
    width: 100%;
  }

  &-cover-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: block;
    width: 40px;
    height: 40px;
    background: url($assets-ic_play_40x40-png);
  }

  ol.video-list-item-labels {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    li {
      font-size: 14px;
      flex: 0 0 auto;
      padding: 4px 8px;
      margin-right: 10px;
      color: $secondary-text-color;
      background-color: $grey_background_color;
    }
  }
}
