/* stylelint-disable */
/***** Article *****/
.article {
  @include fluid-value( padding-bottom,
  $min-width,
  $max-width,
  $whitespace-large,
  $whitespace-large--desktop
);
  @media print {
    &:after {
      content: "Please visit help.getjobber.com for updated documents";
    }
  }
}
.article-header {
  background-color: $primary--light;
  @include fluid-value( padding-top,
  $min-width,
  $max-width,
  $whitespace-large,
  $whitespace-large--desktop
);
  @include fluid-value( padding-bottom,
  $min-width,
  $max-width,
  $whitespace-large,
  $whitespace-large--desktop
);

  &__title {
    margin-bottom: 0;
    color: $white;
  }

  &__date {
    font-family: $font--default;
    font-size: .3333333333em;
    font-weight: $font__weight--regular;
  }

  .icon-lock::before {
    content: '\1F512';
    position: relative;
    left: -5px;
    font-size: 20px;
    vertical-align: baseline;
  }

  @media print {
    background-color: $white;

    &__title {
      color: $black;
    }
  }
}

.article-info {
  display: flex;
  justify-content: space-between;

}
.article-sidebar {
  border: solid 1px red;
  @include desktop {
    flex: 1 0 30%;
    max-width: 30%;
    order: 1;
  }
  flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11
}
.article-content {
  @include desktop {
    flex: 1 0 69%;
    min-width: 640px;
    max-width: 69%;
    padding: 0 30px;
  }
  flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11

  & > p:last-child {
    margin-bottom: 0;
  }
}
