/* stylelint-disable */
/***** Attachments *****/
/* Styles attachments inside posts, articles and comments */
.attachments {
  .attachment-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;

    &:last-child { margin-bottom: 0; }

    &::before {
      @extend .icon;
      content: '\1F4CE';
      position: absolute;
      top: 5px;
      left: 0;
      color: $text_color;
      font-size: $font-size-base;
    }

    [dir='rtl'] & {
      padding-right: 20px;
      padding-left: 0;

      &::before {
        right: 0;
        left: auto;
      }
    }
  }
}

.upload-dropzone span {
  color: $secondary-text-color;
}
