/***** Base *****/
* {
  box-sizing: border-box;
}

body {
  background-color: $primary;
  color: $primary;
  font-family: $font--default;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  @include fluid-value(
    font-size,
    $min-width,
    $max-width,
    $base-font-size,
    $base-font-size--desktop
  );
  @media print {
    color: $black;
    font-family: $font--print;
    font-size: 16pt;
  }

  > main {
    max-width: $max-width-page-container;
    margin: 0 auto;
    background-color: $white;
    @include desktop {
      min-height: 65vh;
    }
  }
}

h1, h2, h3, h4, h5, h6, .h2, .h3, .h4 {
  margin-top: 0;
  font-family: $font--heading;
  font-weight: $font__weight--black;
  text-transform: uppercase;
  @media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h2,
    .h3,
    .h4 {
      font-family: $font--print-heading;
      letter-spacing: 0;
    }
  }
}

h1 {
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $typescale__step3,
  $typescale__step4 );
  @include fluid-value( line-height,
  $min-width,
  $max-width,
  1.25,
  1.1666666667);
}

h2,
.h2 {
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $typescale__step2,
  $typescale__step3 );
  @include fluid-value( line-height,
  $min-width,
  $max-width,
  1.375,
  1.25 );
}

h3,
.h3 {
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $typescale__step1,
  $typescale__step2
);
  line-height: 1.375;
}

h4,
.h4 {
  font-weight: $font__weight--extra-bold;
  letter-spacing: 0;
  line-height: 1.375;
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $typescale__step0,
  $typescale__step1
);
}

h5 {
  font-weight: $font__weight--extra-bold;
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $base-font-size,
  $typescale__step0
);
  line-height: 1.375;
}

h6 {
  font-weight: $font__weight--extra-bold;
  @include fluid-value( font-size,
  $min-width,
  $max-width,
  $base-font-size,
  $typescale__step0
);
  line-height: 1.375;
  text-transform: none;
}

p {
  @include fluid-value( margin-bottom,
  $min-width,
  $max-width,
  $spacing,
  $spacing--desktop
);
  @include fluid-value( margin-top,
  $min-width,
  $max-width,
  $spacing,
  $spacing--desktop
);
}

a {
  transition: all $transition-speed;
  box-shadow: 0 -2px 0 0 $secondary inset;
  color: $primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 -12px 0 0 rgba($secondary, .25) inset;
  }

  &:focus {
    outline: $secondary auto $focus--width;
  }
  @media print {
    box-shadow: none;
    color: $black;
    text-decoration: dotted;
  }
}

.greyLink {
  transition: all $transition-speed;
  box-shadow: 0 -1px 0 0 $grey inset;
  color: $primary;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 -12px 0 0 rgba($secondary, .25) inset;
  }

  &:focus {
    outline: $secondary auto $focus--width;
  }
  @media print {
    box-shadow: none;
    color: $black;
    text-decoration: dotted;
  }
}

.noshadow {
  box-shadow: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    box-shadow: none;
  }

  &:focus {
    outline: $secondary auto $focus--width;
  }
}

input,
textarea {
  color: #000;
  font-size: $input-font-size;
}

input {
  box-sizing: border-box;
  max-width: 100%;
  transition: border .12s ease-in-out;
  outline: none;
  font-weight: $font-weight-light;

  &:focus {
    border: 1px solid $brand_color;
  }
}

input[disabled] {
  background-color: #ddd;
}

select {
  width: 100%;
  padding: 8px 30px 8px 10px;
  border: 1px solid $border-color;
  border-radius: 0;
  outline: none;
  background: url($assets-dropdown-arrow-svg) no-repeat #fff;
  background-position: right 10px center;
  color: $field-text-focus-color;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    border: 1px solid $brand_color;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 0;
  outline: none;
  resize: vertical;

  &:focus {
    border: 1px solid $brand_color;
  }
}

.container {
  @include max-width-container;
}

.container-divider {
  @include fluid-value( margin-bottom,
  $min-width,
  $max-width,
  $whitespace-small,
  $whitespace-small--desktop
);
  border-top: 1px solid $border-color;
  @media print {
    display: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error-page {
  @include max-width-container;
}

.dropdown-toggle {
  padding: 0;
  border: 0;
  background: none;
  text-align: initial;
}

.dropdown-toggle:focus {
  outline: 0;
  text-decoration: underline;
}

.dropdown-toggle::after {
  color: inherit;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}
