/***** Base *****/
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("$assets-quicksand-variablefont_wght-woff2") format("woff2 supports variations"), url("$assets-quicksand-variablefont_wght-woff2") format("woff2-variations");
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Courier Prime";
  src: url("$assets-courierprime-regular-ttf") format("ttf");
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
  background-color: $background_color;
  color: $text_color;
  font-family: $text_font;
  font-size: $font-size-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-weight:400;

  > main {
    @include desktop {
      min-height: 65vh;
    }

    background-color: $background-subtle;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $text_font;
  margin-top: 0;
  font-weight: 500;
  a {color: inherit;}
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
  font-weight: 600;
}

h6, .h6 {
  font-size: $font-size-h6;
}

a {
  color: $link_color;
  text-decoration: none;

  &:visited {
    color: $visited_link_color;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

// p:last-child {
//     margin-bottom: 0;
// }
// p:first-child {
//     margin-top: 0;
// }

.hbs-form, .search {
  input,
  textarea {
    color: #000;
    font-size: $input-font-size;
  }
  
  input {
    max-width: 100%;
    box-sizing: border-box;
    transition: $input-transition;
  
    /* We use the :where selector to not increase the specificity of the selector */
    &:where(:not([type="checkbox"])) {
      outline: none;
  
      &:focus {
        border: 1px solid $brand-color;
      }
    }
  }
  
  input[disabled] {
    background-color: #ddd;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%23CCC' d='M0 0h10L5 6 0 0z'/%3E%3C/svg%3E%0A")
      no-repeat #fff;
    background-position: right 10px center;
    border: 1px solid $high-contrast-border-color;
    border-radius: 4px;
    padding: 8px 30px 8px 10px;
    outline: none;
    color: $field-text-focus-color;
    width: 100%;
  
    &:focus {
      border: 1px solid $brand-color;
    }
  
    &::-ms-expand {
      display: none;
    }
  }
  
  textarea {
    border: 1px solid $high-contrast-border-color;
    border-radius: 2px;
    resize: vertical;
    width: 100%;
    outline: none;
    padding: 10px;
  
    &:focus {
      border: 1px solid $brand-color;
    }
  }
}

//.article-body :not(pre) > code  {
//    border-radius: 4px;
//    margin: 0 2px;
//    display: block;
//    background-color: $q-bg-subtle;
//    border: none;
//    padding: $padding;
//    font-family: "Courier Prime", monospace;
//}



.container-divider {
  border-top: 1px solid $low-contrast-border-color;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.error-page {
  @include max-width-container;
}

.visibility-hidden {
  @include visually-hidden;
}


// custom colour classes

.bg-subtle {
  background-color: $background-subtle;
}

.bg-neutral {
  background-color: $background-neutral;
}