/***** Base *****/
* {
  box-sizing: border-box;
}

body {
  background-color: $background_color;
  color: $text_color;
  font-family: $text_font;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  > main {
    @include desktop {
      min-height: 65vh;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading_font;
  font-weight: $font-weight-bold;
  margin-top: 0;
}

h1 {
  font-size: 36px;
  line-height: .95;
  letter-spacing: -1.55px;
}
h2 {
  font-size: 24.5px;
  letter-spacing: -1.34px;
  line-height: 30px;
}
h3 {
  font-size: 20px;
  font-family: $text_font;
}

h4 {
  font-size: 16px;
  font-family: $text_font;
}

small {
  font-size: 80%;
  line-height: 1.1;
}

a {
  color: $link_color;
  text-decoration: none;
  font-weight: $font-weight-bold;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

input,
textarea {
  color: #000;
  font-size: $input-font-size;
}

input {
  font-weight: $font-weight-light;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;

  &:focus {
    border: 1px solid $brand_color;
  }
}

input[disabled] {
  background-color: #ddd;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url($assets-dropdown-arrow-svg) no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: $field-text-focus-color;
  width: 100%;

  &:focus {
    border: 1px solid $brand_color;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  border: 1px solid $border-color;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px;

  &:focus {
    border: 1px solid $brand_color;
  }
}

.container {
  @include max-width-container;
}

.container-divider {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

//show-for-sr is to show text for a screen reader when you use background images
//show-on-focus is used on the Skip to Main Content link
.show-for-sr, .show-on-focus {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  &:active, &:focus {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
  }
}

.error-page {
  @include max-width-container;
}

.dropdown-toggle {
  background: none;
  border: 0;
  padding: 0;
  text-align: initial;
}
 .dropdown-toggle:focus {
  outline: 0;
  text-decoration: underline;
}

.dropdown-toggle::after {
  color: inherit;
}


