/***** Base *****/
* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  color: $primary;
  background-color: $primary;
  @include fluid-value( font-size, $min-width, $max-width, $base-font-size, $base-font-size--desktop );
  font-family: $font--default;
  line-height: 1.5;

  @media print {
    color: $black;
    font-size: 16pt;
    font-family: $font--print;
  }

  > main {
    background-color: $white;
    margin: 0 auto;
    max-width: $max-width-page-container;
    
    @include desktop {
      min-height: 65vh;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: $font--heading;
  font-weight: $font__weight--black;
  text-transform: uppercase;

  @media print {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font--print-heading;
      letter-spacing: 0;
    }
  }
}

h1 {
  @include fluid-value( font-size, $min-width, $max-width, $typescale__step3, $typescale__step4 );
  @include fluid-value( line-height, $min-width, $max-width, 1.25, 1.1666666667);
}

h2 {
  @include fluid-value( font-size, $min-width, $max-width, $typescale__step2, $typescale__step3 );
  @include fluid-value( line-height, $min-width, $max-width, 1.375, 1.25 );
}

h3 {
  @include fluid-value( font-size, $min-width, $max-width, $typescale__step1, $typescale__step2 );
  @include fluid-value( line-height, $min-width, $max-width, 1.375, 1.375 );
}

h4 {
  font-weight: $font__weight--extra-bold;
  @include fluid-value( font-size, $min-width, $max-width, $typescale__step0, $typescale__step1 );
  line-height: 1.375;
  letter-spacing: 0;
}

h5 {
  font-weight: $font__weight--extra-bold;
  @include fluid-value( font-size, $min-width, $max-width, $base-font-size, $typescale__step0 );
  line-height: 1.375;
}

h6 {
  font-weight: $font__weight--extra-bold;
  @include fluid-value( font-size, $min-width, $max-width, $base-font-size, $typescale__step0 );
  line-height: 1.375;
  text-transform: unset;
}

a {
  transition: all $transition-speed;
  color: $primary;
  text-decoration: none;
  box-shadow: 0 -2px 0 0 $secondary inset;

  &:hover,
  &:active,
  &:focus {
    box-shadow: 0 -12px 0 0 rgba($secondary, 0.25) inset;
  }
  
  &:focus {
    outline: $secondary auto $focus--width;
  }
}

input,
textarea {
  color: #000;
  font-size: $input-font-size;
}

input {
  font-weight: $font-weight-light;
  max-width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border .12s ease-in-out;

  &:focus {
    border: 1px solid $brand_color;
  }
}

input[disabled] {
  background-color: #ddd;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url($assets-dropdown-arrow-svg) no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid $border-color;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: $field-text-focus-color;
  width: 100%;

  &:focus {
    border: 1px solid $brand_color;
  }

  &::-ms-expand {
    display: none;
  }
}

textarea {
  border: 1px solid $border-color;
  border-radius: 2px;
  resize: vertical;
  width: 100%;
  outline: none;
  padding: 10px;

  &:focus {
    border: 1px solid $brand_color;
  }
}

.container {
  @include max-width-container;
}

.container-divider {
  border-top: 1px solid $border-color;
  margin-bottom: 20px;
}

.error-page {
  @include max-width-container;
}

.dropdown-toggle {
  background: none;
  border: 0;
  padding: 0;
  text-align: initial;
}
 .dropdown-toggle:focus {
  outline: 0;
  text-decoration: underline;
}

.dropdown-toggle::after {
  color: inherit;
}

.visibility-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
