/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 5px 10px;
    }

    box-sizing: border-box;
    color: $brand_color;
    display: flex;
    flex: 1 0 340px;
    flex-direction: column;
    margin: 0 0 10px;
    max-width: 100%;

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

      h2 {
      color: $brand-color;
      text-decoration: underline;
      }

    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock::before {
        content: "\1F512";
        font-size: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    @include desktop {
      padding: 15px 20px;
    }

    color: $brand_color;
    padding: 10px 0;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &-item-title {
    margin-bottom: 0;
  }

  &-item-description {
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    margin: 0;
    color: #000;
    
    &:hover {
      text-decoration: none;
    }
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
