/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &-list {
    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &-item {
    @include tablet {
      margin: 0 15px 30px;
    }

    border: 1px solid $background_color;
    background-color: $background_color;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $brand_color;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      border-color: $background_color;
      * {
        text-decoration: none;
      }
    }

    &:nth-of-type(1) &-icon {
      background-image: url($assets-accounts-png);
    }

    &:nth-of-type(2) &-icon {
      background-image: url($assets-cards-png);
    }

    &:nth-of-type(3) &-icon {
      background-image: url($assets-cx-png);
    }

    &-internal {
      background-color: transparent;
      border: 1px solid $border-color;

      .icon-lock {
        height: 15px;
        width: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $text_color; }
    }
  }

  &-item-link {
    color: $brand_color;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    border-radius: inherit;

    &:hover,
    &:active {
      color: $brand_color;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &-item-icon {
    display: inline-block;
    width: 41px;
    height: 41px;
    background-image: url($assets-cx-png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 10px auto;
  }

  &-item-title {
    font-family: $text_font_medium;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
  }

  &-item-description {
    margin: 0;
  }

  &-item-description:not(:empty) {
    margin-top: 10px;
  }
}
