/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks {
  &__list {

    @include tablet {
      margin: 0 -15px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
  }

  &__item {
    border: 1px solid $white;
    box-sizing: border-box;
    color: $primary;
    display: flex;
    flex: 1 0 340px;
    margin: 0 0 30px;
    max-width: 100%;
    text-align: left;
    box-shadow: unset;
    background-color: $white; 
    transition: all $transition-speed;

    @include tablet {
      margin: 0 $spacing $spacing--desktop;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $primary;
      box-shadow: unset;

      * {
        color: $white;
        text-decoration: none;
      }
    }

    &-internal {
      background-color: $white;
      border: 1px solid $primary  ;

      .icon-lock::before {
        content: "\1F512";
        font-size: 15px;
        bottom: 5px;
        position: relative;
      }

      a { color: $primary; }
    }
  }

  &__item-link {
    color: $primary;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    box-shadow: unset;

    &:hover {
      box-shadow: unset;
    }

    &:active,
    &:focus {
      text-decoration: none;
      box-shadow: unset;
      @include focus-ring;
    }
  }

  &__item-title {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item-description:not(:empty) {
    margin-top: 10px;
  }
}
