/***** Blocks *****/
/* Used in Homepage#categories and Community#topics */
.blocks-list {
  @include tablet {
    margin: 0 -15px;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  list-style: none;
}

.blocks-item {
  @include tablet {
    margin: 0 15px 30px;
  }
  display: flex;
  box-sizing: border-box;
  flex: 1 0 340px;
  max-width: 100%;
  margin: 0 0 30px;
  border: 1px solid $brand_color;
  border-radius: 4px;
  color: $brand_color;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background-color: $brand_color;

    * {
      color: $brand_text_color;
      text-decoration: none;
    }
  }
}

.blocks-internal {
  border: 1px solid $border-color;
  background-color: transparent;

  .icon-lock::before {
    content: '\1F512';
    position: relative;
    bottom: 5px;
    font-size: 15px;
  }

  a {
    color: $text_color;
  }
}

.blocks-item-link {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
  border-radius: inherit;
  color: $brand_color;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus {
    @include focus-ring;
    text-decoration: none;
  }
}

.blocks-item-title {
  margin-bottom: 0;
  font-size: 16px;
}

.blocks-item-description {
  margin: 0;
  font-weight: $font-weight-light;
}

.blocks-item-description:not(:empty) {
  margin-top: 10px;
}
