/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: $secondary-text-color;
    display: inline;
    font-weight: $font-weight-light;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: ">";
      margin: 0 4px;
    }
    a {
      color: $secondary_link_color;
      text-decoration: none;

      &:hover
       {
        color: $secondary_link_hover;
        text-decoration: underline;
      }
    }
  }
}
