/***** Breadcrumbs *****/
.breadcrumbs-container {
  @include desktop {
    margin-bottom: 60px;
  }

  padding: 12px 0;
  margin-bottom: 30px;
  background-color: $secondary-shade;
}

.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: $secondary-text-color;
    display: inline;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: ">";
      margin: 0 4px;
    }
    a {
      color: $text_color;
      &:hover,
      &:focus,
      &:active {
        color: $hover-link-color !important;
      }
      &:visited {
        color: $text_color;
      }
    }
  }
}
