/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;

  li {
    color: $secondary-text-color;
    display: inline;
    font-weight: $font-weight-light;
    font-size: $font-size-small;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    
    + li::before {
      content: ">";
      margin: 0 4px;
    }
    a:visited {
      :last-child{
        color:black;
      }
      color: $link_color;
    }
    
  }
}

.breadcrumbs li:last-child {
  pointer-events: none;
  cursor: default;
  font-family: sans-serif;
  a:visited {
    color: #424242!important;
    font-weight: 300;
    font-size: 13px;
  }
}
