/***** Breadcrumbs *****/
.breadcrumbs {
  @include tablet {
    margin: 0;
  }

  margin: 0 0 15px 0;
  padding: 0;
  display: flex;

  li {
    color: #fff;

    display: flex;
    align-items: center;
    font-size: 16px;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;

    + li::before {
      content: '';
      display: inline-block;
      margin: 0 8px;
      width: 16px;
      height: 16px;
      background: url('./assets/chevron_left.svg') no-repeat center;
      background-size: contain;
    }
  }

  a {
    color: #fff;
  }
}
