/***** Buttons *****/
.button {
  @include tablet { width: auto; }

  font-family: $heading_font;
  font-weight: $font-weight-bold;
  border: 1px solid $button-color;
  background-color: $button-color;
  color: $brand_text_color;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-smaller;
  line-height: 1.4;
  margin: 0;
  padding: 5px 20px;
  text-align: center;
  transition: background-color .12s ease-in-out, border-color .12s ease-in-out, color .15s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  -webkit-touch-callout: none;
  outline: none;
  box-shadow: none !important;
  min-height: 30px;

  &:hover,
  &:active,
  &:focus {
    background-color: $hover-button-color;
    border-color: $hover-button-color;
    color: $brand_text_color;
    text-decoration: none;
  }

  &.button-primary {
    background-color: $button-color;
    border-color: $button-color;
    color: $brand_text_color;
    &:hover,
    &:focus,
    &:active {
      background-color: $hover-button-color;
      border-color: $hover-button-color;
      color: $brand_text_color;
    }
  }

  &[data-disabled] {
    cursor: default;
  }
}

.button-large, input[type="submit"] {
  @include tablet {
    width: auto;
  }

  font-family: $heading_font;
  font-weight: $font-weight-bold;
  border: 1px solid $button-color;
  padding: 9px 20px;
  cursor: pointer;
  background-color: $button-color;
  border-color: $button-color;
  color: $brand_text_color;
  border-radius: $border-radius;
  font-size: $font-size-small;
  width: 100%;
  min-height: 41px;
  -webkit-touch-callout: none;
  outline: none;
  box-shadow: none !important;

  &:hover,
  &:focus,
  &:active {
    background-color: $hover-button-color;
    border-color: $hover-button-color;
    color: $brand_text_color;
  }


  &[disabled] {
    background-color: $color-gray-main;
    border-color: $color-gray-main;
    color: $color-gray-dark;
  }
}

.button-secondary {
  color: $secondary-text-color;
  border: 1px solid $border-color;
  background-color: transparent;

  &:hover,
  &:focus,
  &:active {
    color: $text_color;
    border: 1px solid $border-color;
    background-color: $primary-shade;
  }
}
