/* CALLOUT */

@use "sass:math";

[dir='ltr'] .callout {
    border-left-style: solid;
    border-left-width: 5px;
}

[dir='rtl'] .callout {
    border-right-style: solid;
    border-right-width: 5px;
}


.callout {
    padding: math.div($padding,2);
    margin: $padding 0;
    background-color: $brand-subtle;

    &--dashed {
        border-style: dashed;
        border-width: 1px;
    }

    &--info {
        color: $q-text-info;
        background-color: $q-bg-info-weaker;
        border-color: $q-border-info-strong;
    }

    &--warning {
        color: $q-text-warning;
        background-color: $q-bg-warning-weaker;
        border-color: $q-border-warning-strong;
    }

    &--danger {
        color: $q-text-danger;
        background-color: $q-bg-danger-weaker;
        border-color: $q-border-danger-strong;
    }

    &--success {
        color: $q-text-success;
        background-color: $q-bg-success-weaker;
        border-color: $q-border-success-strong;
    }

    &--transparent {
        background-color: transparent;    
        box-shadow: 1px 1px 4px #00000026;
    }

    &__title {
        font-size: 1.2em;
        font-weight: 800;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    p {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

}