.callout {
    border: 1px solid $med-gray;
    border-width: 1px 0;
    background: $lighter-gray;
    color: $text-color;
    margin: 20px 0;
    padding: 30px;

    &.alert {
      background: $alert-color;
    }
}
