/***** Category pages *****/
.category {
  &-container {
    display: flex;

  }

}

.section-tree {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    flex: initial;
    max-width: 100%;
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    a {
      color: $text_color;
    }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;

    a {
      color: $text_color;
    }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}