/***** Category pages *****/
.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 80%;
    }

    flex: 1;
    max-width: 100%;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
    max-width: 100%;
  }

  &-title {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: $font-weight-semibold;

    a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;

    a {
      text-decoration: underline;
      color: $article_link_color;

      &:visited {
        color: $visited_article_link_color;
      }
    }
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;
    text-overflow: ellipsis;
    overflow: hidden;

    a { color: $text_color; }
  }

  li.article-list-item {
    font-size: 18px;
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}
