/***** Category pages *****/
.category-container {
  @include tablet {
    flex: 0 0 80%;
    margin: 0;
  }

  flex: 1;
  margin: 0 -20px; // cancel out padding of .container

  .category-section {
    width: 100%;
  }
}

.snmk-container .category-sections .category-section {
  margin-bottom: 2px;
}
.snmk-container .category-section-body {
  padding: 0;
}
.snmk-container .category-section-title {
  padding: 0 24px;
}
@media (max-width: $breakPoint_m) {
  .snmk-container .category-section .category-section-article {
    padding: 10px 24px;
  }
  .category-section-body .snmk-btn {
    margin-left: 24px;
  }
}


.category-section {
  display: block;
  margin-bottom: 20px;

  &-header {
    display: block;
    position: relative;
    height: 60px;
    background-color: $grey_background_color;
  }

  &-toggle {
    position: absolute;
    top: calc(60px / 2);
    right: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: none;

    &-icon {
      display: none;
      width: 24px;
      height: 24px;
    }

    .icon-up {
      background-image: url($assets-ic_up_24x24-svg);
    }

    .icon-down {
      background-image: url($assets-ic_down_24x24-svg);
    }

    &[aria-expanded="false"] {
      .icon-down {
        display: inline-block;
      }
    }

    &[aria-expanded="true"] {
      .icon-up {
        display: inline-block;
      }
    }
  }

  &-body {
    display: none;
    padding: 10px 20px;
  }

  &[aria-expanded="true"] {
    .category-section-body {
      display: block;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: bold;
    color: $text_color;
    padding: 0 20px;
    line-height: 60px;
  }

  // articles
  .category-section-articles, .category-section-subsections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
  }

  // TODO: Can be unified with article-list?
  .category-section-article {
    @include tablet {
      flex: 1 0 40%;
    }

    flex: 1 0 100%;
    padding: 10px 20px 10px 0;

    &-link {
      color: $text_color;
      font-size: $font-size-base;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $brand_color;
      }
    }

    .article-body {
      display: none;
    }
  }

  // subsection
  .category-section-subsection {
    @include tablet {
      flex: 1 0 40%;
      margin-bottom: 50px;
    }

    flex: 0 0 100%;
    padding: 10px 20px 10px 0;
    margin-bottom: 20px;

    &-title {
      display: block;
      font-size: 20px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &-articles {
      padding: 0;
    }

    &-article {
      padding: 10px 0;
    }
  }

  .video-list {
    margin-top: 5px;
  }

  .see-more-article {
    margin-top: 10px;
    width: auto;
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}

.bg-blue {
  background-color: $blue;
}
.inline-block {
  display: inline-block;
}
.academy-banner {
  background-image: url($assets-academy-all-jpg);
  background-position: top center;
  height: 520px;
  background-size: auto 520px; //680px;
  color: white;
  
  .tab-options {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 55px;
  }
  .tab-option {
    min-width: 80px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;

    border-radius: 55px;
    padding: 16px 12px;
  }
  .tab-option-active {
    background-color: $blue;
  }
  .section-all,.section-cnc {
    padding-left: 32px;
    padding-right: 32px;
  }
  .section-3dp {
    padding-left: 44px;
    padding-right: 44px;
  }
  .divide-line {
    width: 2px;
    background-color: #EFEFEF;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: 0.3;
  }
  a{
    text-decoration: none;
  }
  .mob-tab-option {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;

    border-radius: 55px;
    padding: 16px 32px;
    min-width: 9em;
    background-color: $blue;
    display: inline-block;
    text-align: left;
  }
}
@media (min-width: 1467px) {
  .academy-banner {
    background-position: center;
    height: 520px;
    background-size: 100% auto; //680px;
  }
}

@include not-pc {
  .academy-banner {
    height: 488px;
    background-size: auto 488px; //680px;
    
    .tab-options {
      margin-top: 12px;
      // display: flex;
      display: none;
      flex-direction: column;
      background-color: white;
      color: $black_white_1;
      box-shadow: unset;
      backdrop-filter: unset;
      border-radius: 8px;
    }
    .tab-option {
      // display: none;
      color: $black_white_1;
      padding: 16px 32px;
      min-width: 9em;
      border-radius: none;
    }
    .tab-option-active {
      display: none;
      color: white;
    }
    .divide-line {
      display: none;
    }
    .iconfont {
      float: right;
    }
  }
}
// @include tablet {
//   .academy-banner {
//     height: 408px;
//     background-size: auto 408px; //680px;
//   }

// }

.section-title-collection {
  border-bottom: 2px solid $black_white_6;

  &:last-child {
    border-bottom: unset;
  }
}

.academy-extract-img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;

  i {
    width: calc((100% - 24px * 2) / 3);
  }
  .extract-img-item {
    width: calc((100% - 24px * 2) / 3);
    @include mobile { width: 100%; }
    background-color: #F5F5F5;
    padding: 22px;
    border: 1px solid #F5F5F5;
    border-radius: 8px;

    img{
      border-radius: 4px;
    }

    a {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &:hover {
      border: 1px solid $blue;
      background-color: white;
      box-shadow: 0px 6px 32px -6px rgba(0, 0, 0, 0.08);
    }
  }



  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }
}