/* Sidebar navigation that collapses on mobile */
.collapsible-sidebar {
  @include desktop {
    max-height: none;
    padding: 0;
  }
  position: relative;
  flex: 1;
  max-height: 45px;
  padding: 10px 0;
  overflow: hidden;

  &-title {
    margin-top: 0;
  }

  &-toggle {
    @include desktop { display: none; }
    position: absolute;
    top: calc(45px / 2);
    right: 0;
    width: 25px;
    height: 25px;
    padding: 0;
    transform: translateY(-50%);
    border: 0;
    border-radius: 50%;
    background: none;

    [dir='rtl'] & {
      right: auto;
      left: 0;
    }

    &::after {
      @extend .icon;
      @include vertical-align;
      content: '\25BE';
    }

    &:focus {
      border: 1px solid $brand_color;
      outline: none;
    }
  }

  &-body {
    @include desktop { display: block; }
    display: none;
  }

  &[aria-expanded='true'] {
    max-height: none;

    .collapsible-sidebar-toggle::after {
      content: '\2715';
    }

    .collapsible-sidebar-body {
      display: block;
    }
  }
}
