/***** Community Badges *****/
/* Styles labels used next to the authors of article comments, community posts, and community comments */
.community-badge-titles {
  background-color: #04444d;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: $font-weight-semibold;
  padding: 2px 8px;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-flex;
  line-height: 20px;
  margin: 0 2px;
}

.community-badge-container-achievements {
  display: flex;
  padding-top: 5px;
}

.community-badge-achievements {
  display: block;
  float: left;
  height: 20px;
  margin: 0 3px 0 0;
  width: 20px;
}

[dir="rtl"] .community-badge-achievements {
  margin: 0 0 0 3px;
}

.community-badge-achievements-rest {
  background-color: #c2c8cc;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-weight: $font-weight-semibold;
  line-height: 20px;
  text-align: center;
}

.community-badge-achievements img {
  width: 100%;
  height: 100%;
}

.community-badge-titles img {
  width: 20px;
  height: 20px;
}

.profile-info .community-badge-achievements {
  width: 40px;
  height: 40px;
}

.profile-info .community-badge-achievements-rest {
  line-height: 40px;
  font-size: 20px;
}
