.category-thumbnail {
    position: relative;
    display: flex;
    justify-content: stretch;
    padding: $gutter;    
    height: 100%;


    .category-icon {
        width: 23px;
        margin-right: $gutter;
        flex-shrink: 0;
    }

    .category-link {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
        }
    }

    .category-copy {
        width: auto;

        .category-title {
            font-size: $font-size-h5;
            font-weight: bold;
            display: block;
        }

        .category-description {
            font-size: $font-size-base;
        }
    }
}

.article-thumbnail {
    position: relative;
    display: flex;
    justify-content: stretch;
    height: 100%;


    .article-icon {
        width: 23px;
        margin-right: $gutter;
        flex-shrink: 0;
    }

    .article-link {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
        }
    }

    .article-copy {
        width: auto;

        .article-title {
            font-size: $font-size-h5;
            font-weight: bold;
            display: block;
        }

        .article-description {
            font-size: $font-size-base;
        }
    }
}


.product-thumbnail {
    position: relative;
    display: flex;
    justify-content: stretch;
    height: 100%;


    .product-icon {
        width: 23px;
        margin-right: $gutter;
        flex-shrink: 0;
    }

    .product-link {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
        }
    }

    .product-copy {
        width: auto;

        .product-title {
            font-size: $font-size-h5;
            font-weight: bold;
            display: block;
        }

        .product-description {
            font-size: $font-size-base;
        }
    }
}