
$text_font: Quicksand, Arial, Helvetica, sans-serif;

/* Font sizes */

$font-size-bigger: 1.375rem;
$font-size-base: 1rem;
$font-size-navigation: .9375em;
$font-size-small: .9375em; // 15px
$font-size-smaller: .875em; // 14px

$font-size-display-4: 3.125rem; // 50px - homepage heading
$font-size-h1: 2.625rem; // 42px - article title
$font-size-h2: 1.875rem; // 30px - section titles
$font-size-h3:  1.625rem; // 26px - search results header
$font-size-h4: 1.375rem; // 22px (name of the help center in the header)
$font-size-h5: 1.125rem; // 18px (search result heading, card heading)
$font-size-h6: 1rem; // 16px

/* Colours */

$brand_color: #515ba5;
$background-color: #ffffff;
$background-subtle: #f8f8f8;
$background-neutral: #ffffff;
$primary_accent: $brand_color;

/* Text */

$text_color: #1d1e1c;
$brand_text_color: #ffffff;
$hover-button-color: darken($primary_accent, 20%);
$secondary-text-color: lighten($text_color, 20%);
$primary-shade: darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: darken($background_color, 5%); //#f2f2f2 for the default background_color

/* Links */

$link_color: $primary_accent;
$hover_link_color: darken($primary_accent, 20%);
$visited_link_color: darken($primary_accent, 20%);

/* Buttons */

$button-color: $brand_color;
$border-radius: 4px;
$hover_brand_color: #454D8C;
$brand_text_color: #fff;

/* Borders */

$high-contrast-border-color: #87929D; // maintains a 3:1 contrast ratio with default background color (#FFF). Use for controls and inputs
$low-contrast-border-color: #B0B0B0; // less than 3:1 contrast ratio with default background color. Use for elements that do not require user interaction
$menu-border-color: #d8dcde;


/* Forms */

$input-font-size: 14px;
$field-text-color: $secondary-text-color;
$field-text-focus-color: darken($secondary-text-color, 3%);


/* Grid */
$gutter: 16px;
$max-width-container: 1280px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
)