/***** Overrides *****/
.article {
  padding: 0;
  max-width: 62%;
  margin: 0 4rem 0 0;
}

.article-sidebar {
  margin-top: 1rem;
}

.breadcrumbs li + li::before {
  content: "/";
  margin: 0 4px;
}

body {
  font-family: "hannah_banana";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "hannah_banana";
}

.hero {
  background: none;
}

.header {
  max-width: 1370px;
  margin: 0 5%;
}

.sidebar {
  min-width: 17em;
}

.sidenav-title {
  font-size: 21px;
  position: relative;
}

.sidenav-item {
  border-radius: 4px;
  color: $text_color;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px 1rem;
}

.search input[type="search"] {
  width: 26.8em;
  height: 3em;
  border: 1px solid #006ab3;
  border-radius: 0;
}

.sidenav-item {
  border-radius: 4px;
  color: $text_color;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px 1rem;
}

@media (min-width: 1160px) {
  .custom-page-search .search input[type="search"] {
    width: 26.8em;
    height: 3em;
    border: 1px solid #006ab3;
    border: #006ab3; /* default supported fallback style */
    border-radius: 0;
  }
}

/***** Alerts *****/

.alert-warning {
  background-color: #ffded9;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #d1b6b2;
  border-left-style: solid;
  border-left-width: 5px;
}

.alert-note {
  background-color: #fbf2d0;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #d1caad;
  border-left-style: solid;
  border-left-width: 5px;
}

.alert-tip {
  background-color: #def1f4;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #becfd1;
  border-left-style: solid;
  border-left-width: 5px;
}

/***************************
 * CUSTOM STYLE OVERRIDE *
 ***************************/

/**** CUSTOM FONT ****/

@font-face {
  font-family: "hannah_banana";
  src: local ("hannah_banana");
  src: url("$assets-ge2003-rg-eot");
  src: url("$assets-ge2003-rg-eot#iefix") format("eot"),
    url("$assets-ge2003-rg-woff") format("woff"),
    url("$assets-ge2003-rg-ttf") format("truetype"),
    url("$assets-ge2003-rg-svg#webfont") format("svg");
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-grey: #f7f6f6;
  --color-white: #ffffff;
  --color-almost-black: #424242;
  --color-blue: #006ab3;
  --color-blue-link: #0072ef;
}

h1,
h2 {
  font-weight: 600;
}

/* Custom container on category and section page*/
.custom-container {
  margin: 1em 5%;
}

.custom-category-container,
.custom-section-container {
  justify-content: flex-start;
}

/**** CUSTOM HOME PAGE ****/

.custom-page-search .search input[type="search"] {
  width: 20em;
  height: 4em;
  border: 2px solid var(--color-blue);
  border: #006ab3; /* default supported fallback style */
  border-radius: 0;
}

.custom-logo-container {
  background-color: var(--color-white);
  background-color: #ffffff; /* default supported fallback style */
  height: 10em;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.custom-img-size-100 {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.custom-img-size-80 {
  max-width: 80%;
  width: 80%;
  height: 100%;
}

.custom-img-size-50 {
  max-width: 50%;
  width: 50%;
  height: 100%;
}

.custom-contact-page-button {
  display: flex;
  align-items: center;
  max-height: 4em;
  width: auto;
  border-radius: 0;
  background-color: var(--color-blue);
  background-color: #006ab3; /* default supported fallback style */
}

.custom-contact-card-wrapper {
  width: 19em;    
  height: 16em;
  overflow: visible;
  margin-bottom: 2em;  
}

.custom-contact-header-desc {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 30px 0;
  word-break: break-word;
}

@media (min-width: 1024px) {
  .custom-contact-header-desc {
    flex-basis: 100%;
  }
}

.custom-contact-header-additional-desc {
  margin-bottom: 3em;
}

.custom-card-logo-container .material-icons{
  color: var(--color-almost-black);
  color: #424242; /* default supported fallback style */
}

.custom-button {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  font-size: 16px;
  text-transform: uppercase;
}

.custom-link-item-title {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-blue-link);
  color: #0072ef; /* default supported fallback style */
  font-weight: 600;
}

.custom-link-section {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.custom-link-container {
  display: flex;
  flex-direction: column;
}

.custom-topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-topic-header {
  text-align: center;
  padding: 20px;
}

.custom-banner-container {
  width: 100%;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
}

.custom-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  height: auto;
  padding: 2em;
}

.custom-banner-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.custom-banner-picture {
  padding-top: 2em;
}

.custom-banner-button {
  display: flex;
  align-items: center;
}

.custom-banner-button-icon {
  padding-left: 10px;
  height: 16px;
}

/* Big screen friendly */
@media (min-width: 1160px) {
  .custom-page-search .search input[type="search"] {
    width: 28em;
  }
}

@media (min-width: 768px) {
  .custom-link-container {
    justify-content: center;
    flex-direction: row;
  }

  .custom-link-padding-right {
    padding-right: 2em;
  }

  .custom-topic-container {
    flex-direction: row;
  }

  .custom-link-section {
    margin-top: 3em;
  }

  .custom-topic-header {
    padding-top: 2em;
  }

  .custom-banner {
    flex-direction: row;
    align-items: inherit;
    justify-content: space-around;
    background-color: var(--color-grey);
    background-color: #f7f6f6; /* default supported fallback style */
    height: auto;
    padding: 2em 0;
  }

  .custom-banner-info {
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }

  .custom-child-with {
    width: 100%;
  }
}

/****  CUSTOM CARD ****/

.custom-card {
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  border: 1px solid var(--color-grey);
  border: 1px solid #f7f6f6; /* default supported fallback style */
  width: 19em;
  margin-bottom: 2em;
}

.custom-card a:hover {
  text-decoration: none;
}

.custom-card-link {
  display: flex;
}

.custom-card-title {
  color: var(--color-almost-black);
  color: #424242; /* default supported fallback style */
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
}

.custom-card:hover,
.custom-card:focus,
.custom-card:active {
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.custom-card-logo-container {
  background-color: var(--color-white);
  background-color: #ffffff; /* default supported fallback style */
  height: 7em;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-card-icon {
  height: 25px;
  width: 25px;
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-card {
    margin-right: 1em;
  }
  .custom-contact-card-wrapper.custom-contact-card-left {
    margin-right: auto;    
    margin-left: 2.5em;
  }
}

/**** CUSTOM CATEGORY PAGE ****/

.custom-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-activity {
  border-top: none;
  margin-top: 2em;
}

.custom-activity .recent-activity h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-card-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/**** CUSTOM SECTION OVERVIEW PAGE ****/

.custom-section-list-container {
  display: flex;
  flex-direction: column;
}

.custom-section-list {
  display: flex;
  flex-direction: column;
}

.custom-section-list .section-list-item:first-child,
.custom-section-list .section-list-item {
  border-top: none;
  border-bottom: none;
}

.custom-section-list .article-list-item a {
  color: var(--color-blue-link);
  color: #0072ef; /* default supported fallback style */
}

.custom-section-list .article-list-item {
  border-bottom: 2px solid var(--color-grey);
  border-bottom: 2px solid #f7f6f6; /* default supported fallback style */
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-section-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-section-list-container {
    padding: 0 3em 3em 0;
    width: 25em;
  }

  .custom-section-container .section-content {
    flex: 1;
  }
}

/**** CUSTOM HEADER ****/

.custom-nav-wrapper {
  display: flex;
  align-items: center;
}

.custom-nav-wrapper .icon-menu,
.custom-nav-wrapper .icon-menu:hover,
.custom-nav-wrapper .icon-menu:focus,
.custom-nav-wrapper .icon-menu:active,
.custom-nav-wrapper .user-info > [role="button"]:hover {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
}

.custom-marketplace-btn-container,
.custom-help-center-link {
  display: none;
}

.custom-nav-wrapper #user #user-name {
  padding: 5px;
}

.custom-nav-wrapper .user-avatar {
  margin-left: 5px;
}

.custom-nav-wrapper img .user-avatar {
  background-image: url("$assets-login-svg");
}

.custom-background-color-blue {
  background-color: var(--color-blue);
  background-color: #006ab3; /* default supported fallback style */
}

.custom-header-icon {
  width: 20px;
  height: 20px;
}

.custom-header-margin-right {
  margin-right: 5px;
}

/* Big screen friendly */
@media (min-width: 1160px) {
  .custom-header {
    max-width: 96em;
    margin: 0 6%;
  }
}

@media (min-width: 990px) {
  .custom-help-center-link {
    display: inline-block;
    color: var(--color-white);
    color: #ffffff;  /* default supported fallback style */
    font-size: 26px;
    border-left: 1px solid var(--color-white);
    border-left: 1px solid #ffffff; /* default supported fallback style */
    padding-left: 1em;
  }
}

@media (min-width: 768px) {
  .custom-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-logo {
    position: relative;
    right: 19px;
  }

  .custom-nav-wrapper .user-info > [role="button"],
  .user-info > [role="button"]::after,
  .custom-nav-wrapper a,
  .custom-nav-wrapper a:hover {
    color: var(--color-white);
    color: #ffffff; /* default supported fallback style */
  }

  .custom-nav-wrapper {
    flex-direction: row;
  }

  .custom-nav-wrapper a {
    display: inline-block;
  }

  .custom-myconfigura-container a {
    display: flex;
    align-items: center;
  }

  .custom-marketplace-btn-container a {
    position: relative;
    right: 42%;
    top: 5px;
  }

  .custom-marketplace-btn-container {
    display: inline-block;
    margin-right: 10px;
  }

  .custom-marketplace-btn-container > [role="button"] {
    border: 1px solid var(--color-white);
    border: 1px solid #ffffff; /* default supported fallback style */
    border-radius: 0;
    background-color: var(--color-white);
    background-color: #ffffff; /* default supported fallback style */
    width: 15em;
  }

  .custom-display-links {
    display: none;
  }
}

/**** CUSTOM BLOCKS ****/

.custom-blocks-list {
  justify-content: center;
}

.custom-blocks-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  flex: 1 0 200px;
  border: 1px solid var(--color-grey);
  border: 1px solid #f7f6f6; /* default supported fallback style */
  border-radius: 0;
  max-width: 15em;
  justify-content: end;
  text-align: initial;
}

.custom-blocks-item:hover,
.custom-blocks-item:focus,
.custom-blocks-item:active {
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.custom-blocks-item-title-container {
  padding: 20px;
  line-height: 1;
  text-align: center;
}

.custom-blocks-item .blocks-item-link {
  color: var(--color-almost-black);
  color: #424242; /* default supported fallback style */
  padding: 0;
}

.custom-blocks-text-wrapper {
  height: 8em;
}

/**** CUSTOM ICONS ****/

.custom-icon {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.custom-icon-align {
  display: flex;
  align-items: center;
}

/**** CUSTOM FOOTER ****/

.custom-footer {
  background-color: black;
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  margin-top: 0;
}

.custom-footer-inner {
  display: block;
}

.custom-footer-logo {
  border-bottom: 3px solid var(--color-white);
  border-bottom: 3px solid #ffffff; /* default supported fallback style */
  padding-bottom: 1em;
}

.custom-footer-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.custom-copyright-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-copyright-container a {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  padding: 0 10px;
}

.custom-footer-links-card {
  width: 15em;
  padding: 2em 1em 1em 1em;
}

.custom-footer-links-card a {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
}

.custom-footer-links-card p {
  line-height: 1;
}

.custom-footer-links-card h2 {
  text-transform: uppercase;
}

.custom-footer-socialmedia-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-white);
  border-bottom: 1px solid #ffffff; /* default supported fallback style */
  padding-right: 164px;
  padding-bottom: 15px;
}

.custom-socialmedia-icon {
  width: 38px;
  height: 38px;
  margin: 0 25px 8px 0;
  display: flex;
}

.custom-contact-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
  padding-top: 3em;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-footer-socialmedia-container {
    justify-content: flex-end;
  }

  .custom-copyright-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .custom-copyright-container a {
    padding-left: 25px;
  }
}

/**** CUSTOM CHAT ****/

.custom-ICContainer {
  position: absolute;
  left: 0px;
  top: 194px;
  width: 470px;
  height: 500px;
  display: none;
}

/**** CUSTOM SIDEBAR ****/

.custom-sidebar-item-title {  
  display: inline-block;
	font-weight: 600;
}

.custom-margin-bottom {
  margin-bottom: 1em;
}

.custom-sidebar-icon {
  width: 18px;
  height: 18px;
}

.custom-icon-margin-right {
  margin-right: 5px;
}

/***** Custom Vue Sidebar Code from git *****/

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  background-color: $background_color;
  color: $text_color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.sidebar-panel {
  padding: 40px 30px 30px;
  max-width: 19em;
  background: var(--color-grey);
  background: #f7f6f6; /* default supported fallback style */
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

@media (max-width: 768px) {
  .sidebar-panel {
    display: none;
  }
}

main.main-sidebar {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.sidebar-item {
  padding: 6px 0;
  color: #333;
}

.sidebar-item .sidebar-item {
  margin-left: 15px;
}

.sidebar-item-title {
  display: block;
  color: #666;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.sidebar-item-title:hover {
  color: #333;
}

.sidebar-item-title:before {
  content: "\E75E";
  font-family: "entypo";
  margin-right: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 0.6;
}

.sidebar-item.open > .sidebar-item-title:before {
  content: "\E75C";
  opacity: 1;
}

.sidebar-home .sidebar-item-title:before {
  display: none;
}

.sidebar-item.open > .sidebar-item-title,
.sidebar-item.current .sidebar-item-link {
  color: var(--color-blue-link);
  color: #0072ef; /* default supported fallback style */
  font-weight: 600;
}

.sidebar-item-link {
  display: block;
  color: #666;
  text-decoration: none;
}

.sidebar-item-link:hover {
  color: #333;
}

.sidebar-section {
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.sidebar-category-title {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #aaa;
}

.sidebar-section .sidebar-item-title {
  font-size: 15px;
}

/**** ICONS ****/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("$assets-materialicons-regular-eot"); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("$assets-materialicons-regular-woff2") format("woff2"),
    url("$assets-materialicons-regular-woff") format("woff"),
    url("$assets-materialicons-regular-svg#webfont") format("svg"),
    url("$assets-materialicons-regular-ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  vertical-align: top;
}

.black-icon {
  color: var(--color-almost-black);
  color: #424242;
}

/**** END CUSTOM STYLE ****/
