$break-small: 768px;
$break-large: 1920px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

/***** Overrides *****/
$sidebar-width: 300px;

.article {
  padding: 0;
  margin: 0 1rem;
}

.article-content table {
  display: table-row-group;
}

.article-sidebar {
  margin-top: 1rem;
}

.breadcrumbs li + li::before {
  content: "/";
  margin: 0 4px;
}

.hero {
  background: none;
}

.header {
  max-width: 1370px;
  margin: 0 5%;
}

.sidebar {
  min-width: 17em;
}
.sidenav-title {
  font-size: 21px;
  position: relative;
}

.sidenav-item {
  border-radius: 4px;
  color: $text_color;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px 1rem;
}

.sub-nav {
  margin: 1rem 0;
}

.sidenav-item {
  border-radius: 4px;
  color: $text_color;
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 10px 1rem;
}

/***** Alerts *****/

.alert-warning {
  background-color: #ffded9;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #d1b6b2;
  border-left-style: solid;
  border-left-width: 5px;
}

.alert-note {
  background-color: #fbf2d0;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #d1caad;
  border-left-style: solid;
  border-left-width: 5px;
}

.alert-tip {
  background-color: #def1f4;
  padding: 10px;
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-color: #becfd1;
  border-left-style: solid;
  border-left-width: 5px;
}

/***************************
 * CUSTOM STYLE OVERRIDE *
 ***************************/

/**** CUSTOM FONT ****/

@font-face {
  font-family: "geogrotesque";
  src: local ("geogrotesque");
  src: url("$assets-ge2003-rg-eot");
  src: url("$assets-ge2003-rg-eot#iefix") format("eot"),
    url("$assets-ge2003-rg-woff") format("woff"),
    url("$assets-ge2003-rg-ttf") format("truetype"),
    url("$assets-ge2003-rg-svg#webfont") format("svg");
  font-style: normal;
}

:root {
  --color-grey: #f7f6f6;
  --color-white: #ffffff;
  --color-almost-black: #424242;
  --color-black: #000000;
  --color-blue: #006ab3;
  --color-blue-link: #0072ef;
  --color-red: #e66359;
}

body {
  font-family: 'Roboto', sans-serif;
  font-variant-ligatures: no-common-ligatures;
}

h1, h2, h3, h4, h5 {
  font-family: "geogrotesque";
  color:  var(--color-black);
  color: #000000; /* default supported fallback style */
}

h1 {
  font-weight: 600;
  font-size: 32px;
}
h2 {
  font-weight: 600;
  font-size: 22px;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color:  var(--color-black);
  color: #000000; /* default supported fallback style */
}

a {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

.article-body a:visited {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

.article-body li {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color:  var(--color-black);
  color: #000000; /* default supported fallback style */
}
.academy-link-icon {
  font-size: smaller!important;
}
.breadcrumbs a {
  font-size: 13px;
}

.breadcrumbs li a:visited {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

.custom-subsection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.comment-heading {
  font-weight: 600;
  font-size: 22px;
}

.custom-blocks-item-p {
  line-height: 1.3;
  font-size: 14px;
}

.recent-articles,
.related-articles {
  h3 {
    font-weight: 600;
    font-size: 22px;
    margin: 20px 0;
  }
}

.wysiwyg-color-blue90 {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

/* Custom container on category and section page*/
.custom-container {
  margin: 0 auto;
  max-width: 1144px;
  padding-left: calc(env(safe-area-inset-left, 0) + 0.75rem);
  padding-right: calc(env(safe-area-inset-left, 0) + 0.75rem);
  padding-bottom: 2rem;
}

.custom-category-container,
.custom-section-container {
  justify-content: flex-start;
}

/**** CUSTOM HOME PAGE ****/

// Search bar
.custom-page-search input[type="search"] {
  border-radius: 0;
  border: #006ab3;
  border: 2px solid var(--color-blue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  font-style: italic;
  height: 3.5rem;
  width: 35rem;
  @include respond-to(handhelds) { width: 90vw; }
  &:focus {
    border-radius: 0;
    border: #006ab3;
    border: 2px solid var(--color-blue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  }
}

.custom-page-search-mini input[type="search"] {
  border-radius: 0;
  border: #006ab3;
  border: 2px solid var(--color-blue);
  font-style: italic;
  height: 3rem;
  max-width: 50rem;
  width: 25.1rem;
  @include respond-to(handhelds) { width: 93vw; }
}

.search {
  @extend .search;
  display: flex;
  justify-content: space-around;
}

.trending-div {
  margin-top: 15px;
  @include respond-to(handhelds) { text-align: center; }
}

.trending-div > a {
  color: var(--color-black);
  text-decoration: underline;
  font-weight: 600;
}

.custom-logo-container {
  background-color: var(--color-white);
  background-color: #ffffff; /* default supported fallback style */
  height: 10em;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.custom-img-size-100 {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.custom-img-size-80 {
  max-width: 80%;
  width: 80%;
  height: 100%;
}

.custom-img-size-50 {
  max-width: 50%;
  width: 50%;
  height: 100%;
}

.custom-contact-page-button {
  @include respond-to(handhelds) { margin-left: 0; }
  align-items: center;
  background-color: var(--color-white);
  border: none;
  border-radius: 0;
  display: flex;
  margin-left: 20px;
  max-height: 4em;
  width: auto;
  color: var(--color-black);
  &:hover {
    background-color: var(--color-white);
  }
  &:active {
    background-color: var(--color-white);
  }
  &:focus {
    background-color: var(--color-white);
  }
}

.custom-contact-card-wrapper {
  width: 19em;
  height: 16em;
  overflow: visible;
  margin-bottom: 2em;
}

.custom-contact-header-desc {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 30px 0;
  word-break: break-word;
}

@media (min-width: 1024px) {
  .article {
    padding: 0;
    max-width: 59%;
    margin: 0 4rem 0 0;
  }
  .custom-contact-header-desc {
    flex-basis: 100%;
  }
}

.category-content {
  flex: 0 0 100%;
}

.custom-contact-header-additional-desc {
  margin-bottom: 3em;
}

.custom-card-logo-container .material-icons {
  color: var(--color-almost-black);
  color: #424242; /* default supported fallback style */
}

.custom-contacts-button {
  color: black; /* default supported fallback style */
  color: var(--color-black);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-link-item-title {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.custom-link-section {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.custom-link-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.custom-topic-container {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.custom-topic-header {
  text-align: center;
  padding: 20px;
}

.custom-banner-container {
  width: 100%;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
}

.custom-hero-banner-container {
  background-color: #f7f6f6; /* default supported fallback style */
  background-color: var(--color-grey);
  background-image: url($assets-hero_support-jpg);
  background-size: cover;
  margin-bottom: 3rem;
  max-height: 500px;
  width: 100%;
  @include respond-to(handhelds) {
    background-position: center;
  }
  @include respond-to(wide-screens) { height: 70vh; }
  @include respond-to(medium-screens) { height: 70vh; }
}

.custom-banner {
  align-items: center;
  background-color: #f7f6f6; /* default supported fallback style */
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 1rem;
  padding: 2rem;
  @include respond-to(handhelds) { padding: 1rem; }
}

.custom-hero-banner {
  display: flex;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  padding: 2rem 2rem 2rem 0;
  @include respond-to(handhelds) {
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
  }
}

.custom-banner-info {
  display: flex;
  width: 35rem;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  @include respond-to(handhelds) {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  > h1 {
    @include respond-to(medium-screens) { font-size: 60px; }
    @include respond-to(wide-screens) { font-size: 60px; }
    font-family: "geogrotesque light", "geogrotesque";
    font-weight: 400;
    margin-bottom: 0;
    > div {
      display: inline-block;
      font-family: "geogrotesque semibold", "geogrotesque";
      font-weight: 900;
    }
  }
}

.custom-banner-picture {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 50%;
  @include respond-to(handhelds) { display: none; }
}

.custom-banner-picture-mobile {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  @include respond-to(medium-screens) { display: none; }
  @include respond-to(wide-screens) { display: none; }
}

.custom-banner-button {
  display: flex;
  align-items: center;
}

.custom-banner-button-icon {
  padding-left: 10px;
  height: 25px;
  color: var(--color-white);
  color: #ffffff;
}


@media (min-width: 768px) {
  .custom-link-container {
    justify-content: center;
    flex-direction: row;
  }

  .custom-link-padding-right {
    padding-right: 2em;
  }

  .custom-topic-container {
    flex-direction: row;
  }

  .custom-link-section {
    margin-top: 3em;
  }

  .custom-topic-header {
    padding-top: 2em;
  }

  .custom-banner {
    align-items: inherit;
    background-color: #f7f6f6; /* default supported fallback style */
    background-color: var(--color-grey);
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
  }

  .custom-child-with {
    width: 100%;
  }
}
.section-container{
  display: contents;
}

/****  CUSTOM CARD ****/

.custom-card {
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  border: 1px solid var(--color-grey);
  border: 1px solid #f7f6f6; /* default supported fallback style */
  width: 19em;
  height: min-content;
  margin-bottom: 2em;
}

.custom-card-link {
  display: flex;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.custom-card-title {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 1em;
  text-align: center;
}

.custom-card:hover,
.custom-card:focus,
.custom-card:active {
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.custom-card-logo-container {
  background-color: var(--color-white);
  background-color: #ffffff; /* default supported fallback style */
  height: 6.9em;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-card {
    margin-right: 1em;
  }

  .custom-contact-card-wrapper.custom-contact-card-left {
    margin-right: auto;
    margin-left: 2.5em;
  }
}

.small-card {
  border: 1px solid #c0c0c0;

  .custom-card-logo-container {
    font-size: 30px;
    flex-shrink: 0;
    width: 3.5em;
    height: 3.5em;
    padding: 0;
  }
}

/**** CUSTOM CATEGORY PAGE ****/

.custom-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-activity {
  border-top: none;
  margin-top: 2em;
}

.custom-activity .recent-activity h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

.custom-activity .recent-activity-item-parent {
  font-weight: 600;
}


/* Big screen friendly */
@media (min-width: 768px) {
  .custom-card-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/**** CUSTOM SECTION OVERVIEW PAGE ****/

.custom-section-list-container {
  display: flex;
  flex-direction: column;
}

.custom-section-list {
  display: flex;
  flex-direction: column;
}

.custom-section-list .section-list-item:first-child,
.custom-section-list .section-list-item {
  border-top: none;
  border-bottom: none;
}

.custom-article-list-item {
  padding: 13px 0;
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
  border-bottom: 1px solid $border-color;
}

.article-list-item a {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

.custom-section-list .article-list-item a {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
}

.custom-section-list .article-list-item {
  border-bottom: 2px solid var(--color-grey);
  border-bottom: 2px solid #f7f6f6; /* default supported fallback style */
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-section-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-section-list-container {
    padding: 0 3em 3em 0;
    width: 25em;
  }

  .custom-section-container .section-content {
    flex: 1;
  }
}

/**** CUSTOM HEADER ****/

.custom-nav-wrapper {
  display: flex;
  align-items: center;

  .icon-menu::before {
      color: var(--color-white);
      color: #ffffff; /* default supported fallback style */
  }

  .user-info > [role="button"]:hover {
    color: var(--color-black);
    color: #000000; /* default supported fallback style */
  }

  img .user-avatar {
    background-image: url("$assets-login-svg");
  }

  #user #user-name {
    color: var(--color-white);
    padding: 5px;
  }

  .user-avatar {
    margin-left: 5px;
  }

  .user-info {
    > [role="button"],
    > [role="button"]::after {
      color: var(--color-white);
      color: #ffffff; /* default supported fallback style */
    }
  }
}

.custom-help-center-link {
  display: none;
}

.custom-background-color-blue {
  background-color: var(--color-blue);
  background-color: #006ab3; /* default supported fallback style */
  height: 64px;
  z-index: 1;
}

sup > .ask-community-sup-icon {
  font-size: 10px;
  color: var(--color-white);
  padding-left: 5px;
}

/* Big screen friendly */
@media (min-width: 1160px) {
  .custom-header {
    margin: 0 auto;
    max-width: 1144px;
  }
  .section-list {
    margin: 0rem;
    margin-bottom: 2rem;
    list-style-type: none;
    display: contents;
    text-align: left;
  }
}

@media (min-width: 990px) {
  .custom-help-center-link {
    font-family: "geogrotesque";
    display: inline-block;
    color: var(--color-white);
    color: #ffffff; /* default supported fallback style */
    font-size: 20px;
    border-left: 1px solid var(--color-white);
    border-left: 1px solid #ffffff; /* default supported fallback style */
    padding-left: 1em;
    padding-bottom: 3px;
  }
}

@media screen and (min-width: 768px) {
  .custom-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-logo {
    position: relative;
    right: 19px;
  }

  .custom-logo-dimensions {
    width: 118px;
    height: 28px;
  }

  .custom-nav-wrapper {
    flex-direction: row;
  }

  .custom-nav-wrapper a {
    display: inline-block;
  }

  .custom-display-links {
    display: none;
  }
}

.custom-display-links {
  @include respond-to(handhelds) {
    > a {
      color: black;
      &:active, &:hover, &:focus, &:visited {
        color: black;
      }
    }
  }
}

.custom-links {
  color: white;
  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: white;
  }
}

a.custom-myconfigura-link {
  @include respond-to(handhelds) { display: none; }
  @extend .custom-links;
}

a.custom-download-extensions-btn {
  @include respond-to(handhelds) { display: none; }

  line-height: 1.5;
  padding: 10px;
  margin: 0 20px 0 0;
  border: 1px solid var(--color-white);
  border: 1px solid #ffffff; /* default supported fallback style */
  border-radius: 0;

  &, &:active, &:focus, &:hover, &:visited {
    color: var(--color-blue);
    color: #006ab3;
    background-color: var(--color-white);
    background-color: #ffffff; /* default supported fallback style */
  }
}

.custom-signin-link {
  a [class="login"] {
    @extend .custom-links;
    padding-right: 0;
  }

  a [role="menuitem"] {
    color: black;
    &:active, &:focus, &:hover, &:visited { color: black; }
  }
}

/**** CUSTOM BLOCKS ****/

.custom-blocks-list {
  justify-content: center;
}

.custom-blocks-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  background-color: var(--color-grey);
  background-color: #f7f6f6; /* default supported fallback style */
  flex: 1 0 200px;
  border: 1px solid var(--color-grey);
  border: 1px solid #c0c0c0; /* default supported fallback style */
  border-radius: 0;
  text-align: initial;
  @include respond-to(medium-screens) { max-width: 15em; }
  @include respond-to(wide-screens) { max-width: 15em; }
  &:active,
  &:focus,
  &:hover {
    background-color: var(--color-grey);
    background-color: #f7f6f6; /* default supported fallback style */
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19) !important;
  }
  .blocks-item-link {
    color: var(--color-black);
    color: #000000; /* default supported fallback style */
    padding: 0;
    flex-grow: 1;
  }
  &-title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1;
    padding: 20px;
    text-align: center;
    flex-grow: 0;
  }
}

/**** CUSTOM ICONS ****/

.custom-icon {
  margin-right: 8px;
  width: 18px;
  height: 18px;
}

.custom-icon-align {
  display: flex;
  align-items: center;
}

/**** CUSTOM FOOTER ****/

.custom-footer-container {
  padding-left: $sidebar-width;
  @include respond-to(wide-screens) { padding-left: 0; }
}

.custom-footer-links-card p {
  line-height: 1;
  color: white;
}

.custom-footer {
  background-color: black;
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  margin-top: 0;
  border-top: none;
}

.custom-footer-inner {
  display: block;
  max-width: 1144px;
}

.custom-footer-logo {
  border-bottom: 3px solid var(--color-white);
  border-bottom: 3px solid #ffffff; /* default supported fallback style */
  padding-bottom: 1em;
}

.custom-footer-link-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.custom-copyright-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include respond-to(handhelds) {
    align-items: stretch;
    flex-direction: column;
  }
}

.custom-copyright-container a {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  padding-left: 1rem;
  @include respond-to(handhelds) { padding-left: 0; }
}

.custom-copyright-container div {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.custom-footer-links-card {
  width: 15em;
  padding: 2em 1em 1em 0;
}

.custom-footer-links-card a {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
}

.custom-footer-links-card p {
  line-height: 1;
}

.custom-footer-links-card h2 {
  color: white;
  text-transform: uppercase;
}

.custom-footer-socialmedia-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--color-white);
  border-bottom: 1px solid #ffffff; /* default supported fallback style */
  padding-right: 164px;
  padding-bottom: 15px;
}

.custom-socialmedia-icon {
  width: 38px;
  height: 38px;
  margin: 0 25px 8px 0;
  display: flex;
}

.custom-contact-button-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
  padding-top: 3em;
  background-color: #18181a;
  @include respond-to(handhelds) {
    flex-direction: column;
  }
}

.custom-contact-title {
  color: #ffffff;
  margin-bottom: 0;
  @include respond-to(handhelds) { padding-bottom: 1rem; }
}

/* Big screen friendly */
@media (min-width: 768px) {
  .custom-footer-socialmedia-container {
    justify-content: flex-end;
  }
}

/**** CUSTOM CHAT ****/

.custom-ICContainer {
  position: absolute;
  left: 0px;
  top: 194px;
  width: 470px;
  height: 500px;
  display: none;
}

/**** CUSTOM SIDEBAR ****/

.custom-sidebar-item-title {
  display: inline-block;
  font-weight: 600;
}

.custom-margin-bottom {
  margin-bottom: 1em;
}

.custom-icon-margin-right {
  margin-right: 10px;
}

.see-more{
  padding-top: 13px;
}

/***** Custom Vue Sidebar Code from git *****/

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  background-color: $background_color;
  color: $text_color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.sidebar-panel {
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  background: #f7f6f6; /* default supported fallback style */
  background: var(--color-grey);
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 140px 30px 30px;
  position: fixed;
  top: 0;
  width: $sidebar-width;
}

@media (max-width: 1160px + $sidebar-width + $sidebar-width) and (min-width: 768px) {
  .main-sidebar,
  .main-sidebar + .custom-footer-container {
    padding-left: $sidebar-width;
  }
}

@media (max-width: 767px) {
  .sidebar-panel {
    display: none;
  }
  .custom-footer-container {
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 768px){
  .sub-nav {
    flex-direction: column;
  }

  .custom-page-search-mini input[type="search"]{
    width: auto;
  }
}

main.main-sidebar {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
}

.section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebar-item {
  padding: 6px 0;
  color: #333;
}

.sidebar-item .sidebar-item {
  margin-left: 15px;
}

.sidebar-item-title {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  font-weight: 500;
}

.sidebar-item-title:hover {
  color: #333;
}

.section-tree-title a {
  font-size: 28px;
  font-weight: bold;
  color: $text_color;
}

.section-list {
  margin: 0rem;
  margin-bottom: 2rem;
  list-style-type: none;
  display: contents;
  text-align: left;
}


.custom-subsection-section {
  width: 18rem;
  margin: 0 2rem 0 0;
  margin-bottom: 2rem;
}


.section-list-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 420px;
  flex: 1 0 420px;
  padding: 5px 0;
  max-width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sidebar-item-title:before {
  content: "\E75E";
  font-family: "entypo";
  margin-right: 5px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 0.6;
}

.sidebar-item.open > .sidebar-item-title:before {
  content: "\E75C";
  opacity: 1;
}

.sidebar-home .sidebar-item-title:before {
  display: none;
}

.sidebar-item.open > .sidebar-item-title,
.sidebar-item.current .sidebar-item-link {
  color: var(--color-blue);
  color: #006ab3; /* default supported fallback style */
  font-weight: 600;
}

.sidebar-item-link {
  display: block;
  color: #666;
  text-decoration: none;
}

.sidebar-item-link:hover {
  color: #333;
}

.sidebar-section {
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.sidebar-category-title {
  display: block;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  color: #aaa;
}

.sidebar-section .sidebar-item-title {
  font-size: 15px;
}

/**** ICONS ****/

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("$assets-materialicons-regular-eot"); /* For IE6-8 */

  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("$assets-materialicons-regular-woff2") format("woff2"),
    url("$assets-materialicons-regular-woff") format("woff"),
    url("$assets-materialicons-regular-svg#webfont") format("svg"),
    url("$assets-materialicons-regular-ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";

  vertical-align: top;
}

.material-icons-margin-right {
  margin-right: 5px;
}

.material-icons-big {
  line-height: 1.5em;
  & .material-icons {
    font-size:1.5em;
  }
}

.black-icon {
  color: var(--color-almost-black);
  color: #424242;
}

.blue-icon {
  color: var(--color-blue);
  color: #006ab3;
}

.red-icon {
  color: var(--color-red);
  color: #e66359;
}

/**** END CUSTOM STYLE ****/

/*** NOTIFICATION BANNER ***/

/*** Common, default styles for the notification box ***/

/*** change the background color by editing "background" ***/
/*** change the text color by editing "color"  ***/

.alertbox {
  z-index:1;
}

.ns-box {
  display: flex;
  background: #e66359;
  padding: 10px 20px 20px 20px;
  line-height: 1.4;
  z-index: 1000;
  pointer-events: none;
  color: rgba(250, 251, 255, 0.95);
  font-size: 85%;
  border-bottom: 1px solid #ddd;
}

.ns-box.ns-show {
  pointer-events: auto;
}

.ns-box a {
  color: #ffffff;
  opacity: 0.7;
  font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
  opacity: 1;
}

.ns-box p {
  margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
  pointer-events: auto;
}

.ns-close {
  display: block;
  width: 20px;
  height: 20px;
  position: inherit;
  right: 4px;
  top: 4px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ns-close:hover,
.ns-close:focus {
  outline: none;
}

.ns-close::before,
.ns-close::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 60%;
  top: 50%;
  left: 50%;
  background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
  background: #fff;
}

.ns-close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.ns-close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.ns-box-inner {
  display: flex;
  width: 100%;
  i {
    color: #fff;
    font-size: 3.8em;
  }
}

.megaphone:before {
  content: "\1F4E3";
  font-family: "entypo";
  font-size: 2.2em;
}

/* Top bar notifications */
.ns-box.ns-bar {
  top: 0;
  left: 0;
  width: 100%;
}

.ns-bar .ns-close {
  background: transparent;
  margin-top: 15px;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #b7b5b3;
}

[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

/* Slide on top */
.ns-effect-slidetop {
  box-shadow: inset 5.4em 0 rgba(0, 0, 0, 0.1);
}

.ns-effect-slidetop .icon {
  position: absolute;
  display: block;
  font-size: 109%;
  top: 50%;
  left: 1em;
  -webkit-transform: translate3d(0, -20%, 0);
  transform: translate3d(0, -20%, 0);
}

.ns-article {
  width: 95%;
  display: flex;
  flex-direction: row;
}

.ns-effect-slidetop p {
  color: #ffffff;
  padding: 0 3.2em;
  font-size: 1.2em;
  display: inline-block;
}

.ns-effect-slidetop .ns-close::before,
.ns-effect-slidetop .ns-close::after {
  width: 2px;
  background: #fff;
}

.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #fff;
}

.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animScaleUp;
  animation-name: animScaleUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}

// @-webkit-keyframes animScaleUp {
// 	0% { opacity: 0; -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1); }
// 	100% { opacity 1; -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1); }
// }

// @keyframes animScaleUp {
// 	0% { opacity: 0; -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1); transform: translate3d(0,-50%,0) scale3d(0,0,1); }
// 	100% { opacity 1; -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1); transform: translate3d(0,-50%,0) scale3d(1,1,1); }
// }

.ns-effect-slidetop.ns-show,
.ns-effect-slidetop.ns-hide {
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

@-webkit-keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@keyframes animSlideTop {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.notification-title-width {
  width: 25%;
}

.notification-body-width {
  width: 70%;
}

@media only screen  and (max-device-width: 420px) {

  .article-body {
    p {
      iframe{
        width: auto;
        height: auto;
      }
    }
  }

  .custom-subsection-section {
    width: 16rem;
    margin: 0rem;
    margin-bottom: 2rem;
  }

  .section-list {
    margin: 0rem;
    margin-bottom: 2rem;
    list-style-type: none;
    display: contents;
    text-align: left;
  }

  .section-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .trending-div {
    margin-top: 15px;
    max-width: 90%;
  }

  .notification-body-width {
    font-size: 0.7rem;
    width: 100%;
  }
  .notification-title-width {
    margin-bottom: 1rem;
    width: 100%;
  }

  .ns-article {
    display: flex;
    flex-direction: column;
  }

  .ns-effect-slidetop {
    font-size: 0.7rem;
  }

  .ns-close {
    position: relative;
  }

  .ns-box-inner {
    width: 95%;
  }

  .search-full input[type="search"] {
    height: 3.5em!important;
    width: 19em!important;
    border: 1px solid #006ab3!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19)!important;
  }
}

/*** END NOTIFICATION BANNER ***/

/**** HOMEPAGE VIDEO SECTION ****/
.custom-video-more-link {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.custom-video-blocks-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 15px 30px;
  flex: 1 0 200px;
  max-width: 20em;
  justify-content: end;
  text-align: initial;
}

.custom-video-blocks-item-title-container {
  line-height: 1;
}

.video-blocks-item-desc {
  color: var(--color-almost-black);
  color: #424242;
}

.custom-video-container {
  height: 100%;
}

.custom-video-container > img {
  width: 100%;
}

/**** END OF HOMEPAGE VIDEO SECTION ****/
.empty-div {
  width: 0em;
}

@media (min-width: 1160px) {
  .empty-div {
    width: 19em;
    margin-right: 1rem;
  }
}

.custom-forums-page-button {
  @include respond-to(handhelds) { margin-left: 0; }
  align-items: center;
  background-color: #006ab3; /* default supported fallback style */
  background-color: var(--color-blue);
  border-radius: 0;
  display: flex;
  margin-left: 0;
  margin-top: 2rem;
  max-height: 4em;
  width: auto;
}

.custom-forums-button {
  color: var(--color-white);
  color: #ffffff; /* default supported fallback style */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.img-forums {
  max-width: 350px;
}

.img-forums-mobile {
  max-width: 200px;
}

.custom-logo {
  margin-left: -1.35rem;
  @include respond-to(handhelds) { margin-left: 0; }
}

.custom-forums-section {
  display: flex;
}

.custom-forums-banner {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
  @include respond-to(handhelds) {
    align-items: center;
    width: 100%;
  }
}

.custom-support-team-banner {
  max-width: 1144px;
  width: 100%;
}

.custom-support-team-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.no-text-decoration {
  &:active {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
}
