/**** CUSTOM FONT ****/

@font-face {
    font-family: "geogrotesque";
    src: local ("geogrotesque");
    src: url("$assets-ge2003-rg-eot");
    src: url("$assets-ge2003-rg-eot#iefix") format("eot"),
      url("$assets-ge2003-rg-woff") format("woff"),
      url("$assets-ge2003-rg-ttf") format("truetype"),
      url("$assets-ge2003-rg-svg#webfont") format("svg");
    font-style: normal;
}

/*
@font-face {
    font-family: "geogrotesque light";
    src: local ("geogrotesque light");
    src: url("");
    src: url("") format("eot"),
      url("") format("woff"),
      url("") format("truetype"),
      url("") format("svg");
    font-style: normal;
}

@font-face {
    font-family: "geogrotesque semibold";
    src: local ("geogrotesque semibold");
    src: url("");
    src: url("") format("eot"),
      url("") format("woff"),
      url("") format("truetype"),
      url("") format("svg");
    font-style: normal;
}
*/