/**** CUSTOM FONT ****/

@font-face {
    font-family: "geogrotesque";
    src: local ("geogrotesque");
    src: url("$assets-ge2003-rg-eot");
    src: url("$assets-ge2003-rg-eot#iefix") format("eot"),
      url("$assets-ge2003-rg-woff") format("woff"),
      url("$assets-ge2003-rg-ttf") format("truetype"),
      url("$assets-ge2003-rg-svg#webfont") format("svg");
    font-style: normal;
    font-weight: 400;
	  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "geogrotesque";
    src: local ("geogrotesque light");
    src: url("$assets-ge2003-lt-eot");
    src: url("$assets-ge2003-lt-eot#iefix") format("eot"),
      url("$assets-ge2003-lt-woff") format("woff"),
      url("$assets-ge2003-lt-ttf") format("truetype"),
      url("$assets-ge2003-lt-svg#webfont") format("svg");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "geogrotesque";
  src: local ("geogrotesque medium");
  src: url("$assets-ge2003-md-eot");
  src: url("$assets-ge2003-md-eot#iefix") format("eot"),
    url("$assets-ge2003-md-woff") format("woff"),
    url("$assets-ge2003-md-ttf") format("truetype"),
    url("$assets-ge2003-md-svg#webfont") format("svg");
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "geogrotesque";
    src: local ("geogrotesque semibold");
    src: url("$assets-ge2003-smbd-eot");
    src: url("$assets-ge2003-smbd-eot#iefix") format("eot"),
      url("$assets-ge2003-smbd-woff") format("woff"),
      url("$assets-ge2003-smbd-ttf") format("truetype"),
      url("$assets-ge2003-smbd-svg#webfont") format("svg");
    font-style: normal;
    font-weight: 800;
    text-rendering: optimizeLegibility;
}

@mixin geo-light {
	font-family: $geoFont;
	font-style: normal;
	font-weight: 300;
}

@mixin geo-regular {
	font-family: $geoFont;
	font-style: normal;
	font-weight: 400;
}

@mixin geo-medium {
	font-family: $geoFont;
	font-style: normal;
	font-weight: 600;
}

@mixin geo-semibold {
	font-family: $geoFont;
	font-style: normal;
	font-weight: 800;
}

/**
* Helper classes
**/

.geo-light {
	@include geo-light;
}

.geo-regular {
	@include geo-regular;
}

.geo-medium {
  @include geo-medium;
}

.geo-semibold {
	@include geo-semibold;
}