$background-color: #ffffff;
$text_color: #1d1e1c;
$text_font: Quicksand, Arial, Helvetica, sans-serif;
$font-size-base: 1em;
$brand_color: #515ba5;
$primary_accent: $brand_color;
$link_color: $primary_accent;
$hover_link_color: darken($primary_accent, 20%);
$visited_link_color: darken($primary_accent, 20%);
$brand_text_color: #ffffff;