/***** Footer *****/
.footer {
  border-top: 1px solid $low-contrast-border-color;
  margin-top: 60px;
  padding: 30px 0;

  a {
    color: $secondary-text-color;
  }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }
}

.powered-by-zendesk {
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
