/***** Footer *****/
.footer {
  //border-top: 1px solid $border-color;
  // padding-bottom: 10px;
  padding-top: 60px;
  background: $grey_background_color;

  // a {
  //   color: $secondary-text-color;
  // }

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &-column-1 {
    @include tablet {
      flex: 2 0 20%;
    }
    flex: 0 0 100%;
    margin-right: 40px;
  }

  &-column-2,
  &-column-3,
  &-column-4 {
    h2 {
      margin: 0;
      font-size: 1.25rem;
      line-height: 2;
      color: $descriptive-text-color;
    }

    a {
      font-size: $font-size-navigation;
      text-decoration: none;
      color: $text_color;

      &:hover {
        color: $brand_color;
      }
    }
  }

  &-column-2,
  &-column-3 {
    flex: 1 0 20%;
  }

  &-column-4 {
    position: relative;
    flex: 1 0 30%;

    .contact-us-block {
      padding-left: 0.125rem;
      margin-bottom: 1rem;
      position: relative;
    }

    p {
      margin: 0;
    }

    i {
      display: inline-block;
      width: 38px;
      height: 38px;
      line-height: 38px;
      font-size: 20px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      border-radius: 50%;
      background-color: #33383b;
    }

    i.fa-envelope, i.fa-phone {
      position: absolute;
      top: 4px;
    }

    i.fa-bilibili {
      background-repeat: no-repeat;
      background-position-x: 9px;
      background-position-y: 9px;
      background-image: url($assets-ic_fa_bilibili_22x22-png);
    }

    .contact-item {
      margin-left: 50px;
      font-size: $font-size-small;

      a {
        font-size: $font-size-small;
      }
    }

    .contact-us-social {
      display: flex;
      padding-left: 0.125rem;
      margin: 2rem 0 1rem;
    }

    .contact-us-social-item {
      margin-right: 4px;

      i {
        border-radius: 10%;
      }
    }

    .footer-modal {
      position: absolute;
      bottom: 0;
      left: -185px;
      background-color: white;
      margin-bottom: 1rem;
      display: none;
      box-shadow: 0 5px 20px #999;
      border-radius: 4px;

      img {
        display: block;
        width: 180px;
        height: 180px;
      }
    }
  }

  .language-selector {
    height: 38px;
    margin-left: 50px;
    vertical-align: middle;
    border-radius: 6px;
    background-color: #33383b;

    .dropdown-toggle {
      height: 100%;
      color: #fff;
      padding: 6px 10px;
      white-space: nowrap;
    }

    .dropdown-menu {
      background-color: #33383b;

      [role="menuitem"] {
        color: #fff;
      }

      [role="menuitem"]:hover,
      [role="menuitem"]:focus {
        background: #676869;
      }
    }
  }

  &-copyright {
    margin-top: 60px;
    text-align: center;
    color: $descriptive-text-color;

    p {
      margin: 0;
    }
  }
}

.mb-3 {
  margin-bottom: 3rem;
}



.footer {
  background-color: $black; 
}

.footer-related-links-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.footer-related-links-block {

}
.footer-related-links-title {
  color: white;
  font-weight: 500;
}
.footer-related-links {
  font-weight: 500;

  a {
    color: $black_white_4;
    &:hover {
      color: white;
    }
  }
}
.footer-related-link {
  
}

.contact-us {
  .contact-us-title {
    color: white;
    font-weight: 500;
  }

  .warn {
    color: red;
    display: none;
  }
  .success {
    color: green;
    display: none;
  }
  .newsletter-input {
    background-color: $black_white_2;
    font-size: 16px;
    line-height: 24px;
    padding: 0.4166vw 1.82vw 0.4166vw 1vw;
    border: none;
    color: white;

  }
  .newsletter-btn {
    background-color: #0C63E2;
    color: #FBFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0.4166vw 0.832vw;
    border: none;
  }

  .contact-way {
    display: flex;
    align-items: center;

    .iconfont {
      flex: 0 0 44px;
      color: white;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      font-size: 25px;
      justify-content: center;
      background-color: $black_white_2;
    }
  }

}
.parent {
  position: relative;
}
.input-wrapper {
  flex: 1 1;
  width: 100%;
  background-color: $black_white_2;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  color: white;

  input {
    background-color: $black_white_2;
    color: white;
  }
}
#emailInside {
  width: 100%;

  outline: none;
  font-size: 1rem;
  border-style: none;
  padding: 0;
}
.submit-wrapper {
  flex: 0 0;
  input {
    line-height: calc(1.5rem + 10px);
    border-style: none;
    border-radius: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
    font-weight: 500;
    background-color: #0C63E2;
    min-width: 120px;
    
    color: white;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-apperance: none;
    apperance: none;
    

    &:hover {
      background-color: $btn-hover-blue;
    }
  }
}
.message {
  max-width: 345px;
  padding-left: 30px;
  font-size: 0.8rem;
  padding-top: 10px;
  background-color: transparent;
}
input::placeholder {
  color: $black_white_4;
}
.footer-social-icon {
  a { 
    color: white; 
    font-size: 32px;
    text-decoration: none;
  }
}
.message.warn a {
  color: red;
}

 
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #595959;
}
.change-language {
  color: white;
  position: relative;
  display: inline;
    
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    text-decoration: none;
    &::after {
      animation-name: bottomline;
      animation-iteration-count: 1;
      animation-duration: 2s;
    }
  }

  @keyframes bottomline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

@media (min-width: $breakPoint_l) {
  .footer-related-links-block {
    width: 33.33%;
    margin-bottom: 44px;
    padding-right: 24px;
  }
  
}

@media (min-width: $breakPoint_m) and (max-width: $breakPoint_l){
  .footer-related-links-block {
    width: 50%;
    margin-bottom: 40px;
    padding-right: 24px;

    &:first-child, &:nth-child(2) {
      margin-top: 24px;
    }
  }

  .contact-us {
    margin-top: 24px;
  }
}

@media (max-width: $breakPoint_m) {
  .footer-related-links-container {
    flex-direction: column;
  }
  .footer-related-links-block {
    width: 100%;
    border-bottom: 1px solid $black_white_2;
    padding-bottom: 24px;
  }
  .footer-related-links {
    display: none;
  }
  .footer-related-links-title {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;

    .iconfont {
      transition: all 0.3s;
    }
  }

  .contact-us {
    margin-top: 24px;
    
    .contact-way {
      display: flex;
      align-items: center;
  
      .iconfont {
        flex: 0 0 32px;
        height: 32px;
        font-size: 18px;
      }
    }
  }

  .footer-bottom {
    flex-direction: column;
    .change-language {
      margin-top: 12px;
      display: block;
    }
  }
}