/***** Footer *****/
.footer {
  border-top: 2px solid #000;
  margin-top: 60px;
  padding: 40px 0;

  &-inner {
    @include max-width-container;
    display: flex;
    justify-content: space-between;
  }

  &-left {
    display: flex;
    align-items: baseline;
    gap: 30px;
  }

  &-logo {
    height: 48px;
    width: auto;
    flex-shrink: 0;
    align-self: flex-start;
    margin-top: 4px;
  }

  &-address {
    font-size: 14px;
    color: #000;
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 32px;
  }

  &-nav {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: flex-end;

    a {
      color: #000;
      text-decoration: none;
      font-size: 14px;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }

  &-copyright {
    font-size: 14px;
    color: #000;
  }
}

.powered-by-zendesk {
  display: none !important;
  
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
