/***** Forms *****/

.form {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.form-field ~ .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  font-family: $text_font_medium;
  font-weight: $font-weight-semibold;
  font-size: $font-size-small;
  margin-bottom: 7px;
}

.form-field input {
  border: 1px solid #ffffff;
  border-radius: $border-radius;
  padding: 9px;
  width: 100%;

  &:focus {
    border-color: $link_color;
  }
}

.form-field input[type="text"] {
  border: 1px solid #ffffff;
  border-radius: $border-radius;

  &:focus {
    border-color: $link_color;
  }
}

.form-field input[type="checkbox"] {
  width: auto;
}

// Select box
.form-field .nesty-input {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  outline: none;
  vertical-align: middle;

  &:focus {
    border: 1px solid $brand_color;
    text-decoration: none;
  }
}

.form-field .hc-multiselect-toggle:focus {
  outline: none;
  border: 1px solid $brand_color;
  text-decoration: none;
}

.form-field textarea {
  vertical-align: middle;
}

.form-field input[type="checkbox"] + label {
  margin: 0 0 0 10px;
}

.form-field .optional {
  color: $secondary-text-color;
  margin-left: 4px;
}

.form-field p {
  color: $secondary-text-color;
  font-size: 12px;
  margin: 5px 0;
}

.form footer {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
}

.form footer a {
  color: $secondary-text-color;
  cursor: pointer;
  margin-right: 15px;
}

.form .suggestion-list {
  font-size: $font-size-small;
  margin-top: 30px;

  label {
    border-bottom: 1px solid $border-color;
    display: block;
    padding-bottom: 5px;
  }

  li {
    padding: 10px 0;

    a:visited { color: $visited_link_color; }
  }
}

.form .request_description {
  & div[role=application] {
    border-color: $brand_text_color !important;
  }
  & div[role=toolbar] {
    border-color: $brand_text_color !important;
    border-bottom-color: $secondary-shade !important;
  }
}


