/* stylelint-disable */
/***** Forms *****/

.form {
  max-width: 650px;
}

.form-field ~ .form-field {
  margin-top: 25px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-size: $font-size-small;
}

.form-field input {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;

  &:focus { border: 1px solid $brand_color; }
}

.form-field input[type='text'] {
  border: 1px solid $border-color;
  border-radius: 4px;

  &:focus { border: 1px solid $brand_color; }
}

.form-field input[type='checkbox'] {
  width: auto;
}

// Select box
.form-field .nesty-input {
  height: 40px;
  border-radius: 4px;
  outline: none;
  line-height: 40px;
  vertical-align: middle;

  &:focus {
    border: 1px solid $brand_color;
    text-decoration: none;
  }
}

.form-field .hc-multiselect-toggle:focus {
  border: 1px solid $brand_color;
  outline: none;
  text-decoration: none;
}

.form-field textarea {
  vertical-align: middle;
}

.form-field input[type='checkbox'] + label {
  margin: 0 0 0 10px;
}

.form-field.required > label::after {
  content: '*';
  margin-left: 2px;
  color: #f00;
}

.form-field .optional {
  margin-left: 4px;
  color: $secondary-text-color;
}

.form-field p {
  margin: 5px 0;
  color: $secondary-text-color;
  font-size: 12px;
}

[data-loading='true'] input,
[data-loading='true'] textarea {
  background: transparent url($assets-loader-gif) 99% 50% no-repeat;
  background-size: 16px 16px;
}

.form footer {
  margin-top: 40px;
  padding-top: 30px;
}

.form footer a {
  margin-right: 15px;
  color: $secondary-text-color;
  cursor: pointer;
}

.form .suggestion-list {
  margin-top: 30px;
  font-size: $font-size-small;

  label {
    display: block;
    padding-bottom: 5px;
    border-bottom: 1px solid $border-color;
  }

  li {
    padding: 10px 0;

    a:visited { color: $visited-link-color; }
  }
}
