@use "sass:map";

.container {
    @include max-width-container;
  }
  
.container {
    --gutter-x: #{$gutter};
    --gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    //padding: 0;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-.5 * $gutter);
    margin-left: calc(-.5 * $gutter);

    &.g-2 {
        // double the gutters
        margin-right: calc(-1 * $gutter);
        margin-left: calc(-1 * $gutter);

        > * {
            padding-right: calc($gutter * 1);
            padding-left: calc($gutter * 1);
        }

    }

    > * {
        padding-right: calc($gutter * .5);
        padding-left: calc($gutter * .5);
        width: 100%;
        max-width: 100%;
    }
}

.col {
    flex: 1 0 0;
}


.row-cols-3 {

    & > * {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}


@media (min-width: map.get($breakpoints, md)) {

    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-6 {
        flex: 0 0 auto;
        width: 50%;
    }

}