/***** Header *****/
$header-height: 71px;

.header {

  .submit-a-request {
    text-transform: uppercase;
  }

  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.support-center {
  color: $site_theme_color;
  font-weight: 600;
  font-size: 14px;
  padding: 9px 0 0;
  line-height: 18px;
  display: inline-block;

  @include tablet {
    font-size: 24px;
    padding: 12px 0 0;
    line-height: 32px;
  }
}

.logo {
  position: relative;
  float: left;
  margin: 0 10px 0 0;

  .mit-link, .xpro-link {
    position: absolute;
    z-index: 2;
    opacity: .5;
  }

  .mit-link {
    left: 0;
    top: 7px;
    width: 72px;
    height: 39px;
  }

  .xpro-link {
    left: 100px;
    top: 15px;
    width: 69px;
    height: 25px;
  }

  @include tablet {
    width: 170px;
    margin: 0 20px 0 0;
  }

  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

.user-nav {
  @include tablet { position: relative; }
  display: inline-block;
  position: absolute;
  white-space: nowrap;

  &[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15), 0 4px 10px 0 rgba(0, 0, 0, .1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

.nav-wrapper {
  a {
    @include tablet {
      display: inline-block;
    }

    border: 0;
    color: $link_color;
    display: none;
    font-size: 18px;
    padding: 0 20px 0 0;
    font-weight: 500;
    width: auto;

    [dir="rtl"] & { padding: 0 0 0 20px;}

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
      text-decoration: underline;
    }

    &.login { display: inline-block; }
  }

  .icon-menu {
    @include tablet { display: none; }
    border: 0;
    color: $link_color;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}
