/***** Header *****/
$header-height: 71px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;

  &.header-jstor {
    height: 90px;
  }
}

.logo {
  position: absolute;
  top: 30px;

  img {
    max-height: 37px;
  }

  &.logo-jstor {
    top: 12px;

    img {
      max-height: None;
    }
  }
}
.user-nav {
  @include tablet { position: relative; }
  display: inline-block;
  position: absolute;
  white-space: nowrap;

  &[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15), 0 4px 10px 0 rgba(0, 0, 0, .1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }
}

.nav-wrapper {
  a {
    @include tablet {
      display: inline-block;
    }

    border-bottom: 3px solid transparent;
    color: $text_color;
    display: none;
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin: 20px 20px 0 0;
    padding: 2px 0;
    text-decoration: none;
    width: auto;

    [dir="rtl"] & { padding: 0 0 0 20px;}

    &.current,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      border-color: $text_color;
      color: $text_color;
      text-decoration: none;
    }

    &.login { display: inline-block; }
    &.button {
      background: $brand_color;
      border: 1px solid $brand_color;
      color: $brand_text_color;
      padding: 0 20px;

      &:hover {
        background: $brand_text_color;
        color: $brand_color;
        text-decoration: none;
      }
    }
  }

  .icon-menu {
    @include tablet { display: none; }
    border: 0;
    color: $link_color;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}

/* Alert banner for support site */
#errormessage {
	align-items: center;
	background-color: #ffefc2;
	padding: 32px;
	margin-bottom: 15px;
	border: 1px solid rgba(51,51,51,0.25);
  border-radius: 3px;

  .fa-exclamation {
    color: #dc2a2a;
    }
}



/*this hides Activities from menu when a user is logged in. See JS for code that shows My Activities to internal users and users within ITHAKA org */
   .my-activities, #user-menu .my-activities {
     display: none;
   }
