/***** Hero component *****/
section.hero {
  padding: 80px 20px 80px 20px;
  text-align: left;
  width: 100%;


  &-article, &-search-results, &-category, &-request, &-section, &-user-profile, &-error, &-search {
    padding: 64px 0;
    position: relative;
    background: linear-gradient(90deg, #515ba5, #58b78e);
    overflow: clip;

    &::before {
      content: "";
      height: 200vw;
      width: 200vw;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-40deg) !important;
    }
    
    > .container {
      position: relative;
      color: #ffffff;
    }

    .h1 {
      font-weight: 600;    
      font-size: 2.625rem;
      line-height: 1;
      margin: $padding 0;
    }
  }

  &-article, &-search-results, &-category, &-request, &-section, &-search {
    &::before {
      background: url(\$tiled_bg);
    }
  }

  &-user-profile {
    &::before {
      background: url(\$assets-qoria-bg-png);
    }
  }

  &-article, &-request, &-user-profile {
    padding-bottom: 14rem;
    margin-bottom: -13rem;
  }

  &-home {
    background-image: url(\$knowledge_base_banner);
    padding-top: 140px;
    background-size: cover;
    background-position: center;

    .h1 {
      @extend h1;
      background-color: #58b78e;
      background: linear-gradient(45deg, #515ba5, #58b78e 63%) border-box;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      display: inline;
      line-height: 1.6em;
      padding: .06em 1.8em .15em 1.5rem;
      color: #fff;
      font-weight: 900;
    }

  }

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }

  .hero-faqs {
    &::before {
      display: block;
      height: 8px;
      width: 100%;
      content: "";
      background-color: $brand-color;
      background: linear-gradient(45deg, #515ba5, #58b78e 63%) border-box;
    }
    .hero-faqs-inner {
      background-color: $background-subtle;
      padding: 32px;

      ul li {
        h5, p {
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
    max-width: 480px;
  }
  
}


