/***** Hero component *****/
.hero {
  background-image: url($home-search-background-image);
  background-position: center;
  background-size: cover;
  height: 300px;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  &-inner {
    @include vertical-align;
    max-width: 610px;
    margin: 0 auto;
  }
}
