/***** Hero component *****/
.hero {
  background: #e8e8e8 center;
  background-size: cover;
  height: 220px;
  margin: 20px 0 !important;
  padding: 0 20px;
  text-align: center;
  width: 100%;

  h1 {
    line-height: 1;
  }

  &-inner {
    @include vertical-align;
        @include desktop {
      top: 40%;
    }
    top: 30%;
    max-width: 500px;
    margin: 0 auto;


  }
}
