/* stylelint-disable max-line-length */
$highlight-color: $secondary--light;
$highlight-dark-color: $secondary;
$highlight-light-color: $white;
$highlight-transition-speed: $transition-speed * 3;

.highlight-text {
  display: inline;
  margin-left: -.25rem;
  padding: 0 .25rem;
  transition: background-position $highlight-transition-speed;
  background-image: linear-gradient(to right, transparent 50%, $highlight-color 50%);
  background-repeat: repeat-x;
  background-position: 0 75%;
  background-size: 200% 52%;
  background-origin: 0;

  &.text-rotate {
    &::after {
      width: calc(100% + .2rem);
    }
  }

  &--in-view {
    background-position: -100% 75%;
  }
}
