/***** Homepage *****/

.home-section {
  padding: 0;

  &-default {
    background-color: #fff;
  }

  &-grey {
    background: $grey_background_color;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }
}

/* Home categories */
.home-section {
  .home-category-list {
    @include tablet {
      padding: 60px 0 20px;
    }

    display: flex;
    margin: 0 -10px;
    padding: 40px 0 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }

  .home-category-item {
    @include tablet {
      flex: 0 0 290px;
    }

    display: flex;
    flex: 1 0 290px;
    margin: 0 0 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-category {
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #eee;

    &:hover {
      transform: scale(1.08);
    }

    a:hover {
      text-decoration: none;
    }

    img {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: auto;
    }

    &-title {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 20px 8px 8px;
      font-size: 22px;
      font-weight: bold;
      color: $text_color;
    }

    &-description {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 8px 24px;
      margin-bottom: 12px;
      font-size: $font-size-base;
      color: $descriptive-text-color;
    }
  }
}

/* Home get started */
.home-section {
  .home-get-started {
    @include tablet {
      padding-top: 60px;
    }
    padding-top: 20px;

    &-blocks {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px -12px 40px;

      @include tablet {
        margin: 60px -12px 40px;
      }
    }

    &-block {
      background-color: $grey_background_color;
      flex: 1 1 400px;
      margin: 0 12px 20px;
      border-radius: 4px;
      position: relative;

      .icon-youtube {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_youtube_60x60-png);
      }

      .icon-bilibili {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_bilibili_60x60-png);
      }

      .icon-discussion {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_discussion_60x60-png);
      }

      h3 {
        font-size: 22px;
        font-weight: bold;
        margin: 30px 30px 10px 100px;
      }

      p {
        font-size: $font-size-bigger;
        color: $secondary-text-color;
        margin: 10px 0;
        padding-left: 100px;
        padding-right: 30px;
      }

      a {
        font-size: $font-size-bigger;
        color: $brand_color;
        text-decoration: underline;
        display: block;
        margin: 10px 0 20px;
        padding-left: 100px;
        padding-right: 30px;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

/* Promoted Articles */
.home-section {
  .home-promoted-articles {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.home-section {
  .home-need-help {
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: -15px;

    &-desc {
      text-align: center;
      margin-top: 10px;
      color: $descriptive-text-color;
    }

    &-buttons {
      display: flex;
      justify-content: center;

      .button {
        width: 192px;
        margin: 0 12px;
      }

    }

    #home-weixin-qrcode {
      position: absolute;
      display: none;

      .home-need-help-modal {
        display: block;
        position: absolute;
        left: 12px;
        top: 43px;
        background-color: $background_color;
        width: 192px;
        border: 1px solid #eee;
        border-radius: 4px;
        box-shadow: 0 5px 20px #979899;
      }

      img {
        display: block;
        width: 120px;
        margin: 30px 38px;
      }
    }
  }
}


.home-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url($assets-support_top_banner_2560_520-jpg);
 
  background-repeat: no-repeat;
  background-size: 2560px 520px;
  height: 520px;
  background-position:  center;

  .hero-title {
    padding-top: 0;
  }
  .hero-inner {
    max-width: unset;
  }

  .search input {
    padding-left: 44px;
    padding-right: 44px;
    @include mobile {
      padding-left: 24px;
      padding-right: 24px;
    }
    height: 64px;
    border-radius: 104px;
    font-size: 24px;
    letter-spacing: -0.24px;

    &::placeholder {
      color: $black_white_3;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: -0.24px;
    }
  }

  .search-icon {
    right: 44px;
    @include mobile { right: 24px; }
    left: unset;
    font-size: 24px;
    background: white;
    cursor: pointer;
  }

}
.search-text-container {
  width: 100%;
}

.quick-links {
  color: $black_white_2;
  a {
    color: $black_white_8;
  }
}

.section-title {
  text-align: center;
}
.product-category  {
  overflow: hidden;
}
.product-category .title-2.font-bw-1.bold:first-child {
  margin-top: 0;
}

.category-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}


$product-img-mr: 24px;
.product-img {    
  $padding: 2.3vw;
  // width: 20%;
  width: calc((100% - #{$product-img-mr}*3)/4);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-bottom: $padding;
  border-radius: 8px;
  

  .img {
    // padding: 24px;
    padding: $padding;
    width: 100%;

    &:hover { padding: 1.25vw; }
    transition: all .5s;
  }

  span {
    // position: absolute;
    color: $black_white_1;
    text-align: center;
    
    // left: 50%;
    // transform: translateX(-50%);
    // bottom: 0;
  }

  &:hover {
    .snmk-link-btn {
      color: #0C63E2;
      
      &::after {
        width: 100%;
      }
    }
  }

}
#drawer-anchor {
  position: absolute;
  bottom: 0;
}
.drawer-cover {
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F5F5F5 79.65%);
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.software-category {
  // background-color: $black;
  // color: white;
  background-color: #F5F5F5;
  color: $black_white_1;
  display: flex;
  border-radius: 8px;
  margin-top: 24px;

  &:hover{ 
    text-decoration: none;

    .snmk-primary-btn {
      background-color: $btn-hover-blue;
    }
  }

  &:first-child {
    margin-top: 0;
  }
}
.software-text-container .snmk-primary-btn{
  text-decoration: none;
}

.margin-block-unset {
  margin-block: unset;
}


.section-academy {
  background-image: url($assets-support-academy-banner-jpg);
  background-attachment: fixed;
  background-size: auto 100%;
  background-position: center;

  color: white;
  @include mobile {
    text-align: center;
  }

}
.section-academy a {
  text-decoration: unset;
}
.section-academy .snmk-container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-service {
  background-color: white;
}
.section-service .services-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-services {
  background-color: white;
}

.services-wrapper {
  display: flex;
  @include no-mobile {
    padding-left: 9%;
    padding-right: 9%;
  }
  @include mobile { flex-direction: column;}
}
.service-care, .product-warranty {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  width: 50%;
  text-align: center;
  @include mobile { width: 100%; }

  img {
    width: 146px;
    margin-bottom: 42px;
  }

  a {
    color: $blue;
    margin-top: 24px;
    text-decoration: none;
  }
}
@include no-mobile {
  .service-care { 
    margin-right: 12px; 
  }
  .product-warranty {
    margin-left: 12px;
  }
}
@include mobile {
  .product-warranty {
    margin-top: 16px;
  }
}


@media (min-width: $breakPoint_l){
  .product-img:nth-child(4n) {  
    margin-right: 0;    
  }
  .product-img:nth-child(1),.product-img:nth-child(2),.product-img:nth-child(3),.product-img:nth-child(4) {
  	margin-top: 0;  
  }

  .software-category {
    padding-left: calc(1 * 100%/12 - 16px);
    padding-right: calc(1 * 100%/12 - 16px);
    justify-content: space-between;
    align-items: center;
  }
  .software-text-container {
    width: 50%;
    // content width:100vw - 20px 
    // 1 grid-system's grid: content width / 12
    // gutter: 16px
    padding-right: calc(1 * (100vw - 20px)/12 - 16px + 8px) ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .software-category img {
    max-height: 19.47vw;
    max-width: 100%;
    padding-left: 8px;
  }
}


@media (min-width: $breakPoint_m) and (max-width: $breakPoint_l){
  .home-search-container {
    background-size: 1853px 320px;
    height: 320px;
  }


  $padding: 2.7vw;
  .product-img {    
    width: calc((100% - #{$product-img-mr}*2)/3);
    padding-bottom: $padding;


    .img { 
      padding: $padding;
      &:hover {
        padding: 1.5vw;
      } 
    }

    &:nth-child(3n) {  
      margin-right: 0;    
    }
  }
  .product-img:nth-child(1),.product-img:nth-child(2),.product-img:nth-child(3) {
  	margin-top: 0;  
  }
  
  
  .software-category {
    padding-left: 60px;
    padding-right: 60px;
  }
  .software-category img {
    height: 28.125vw;
    padding-left: 8px;
  }
}

@media (max-width: $breakPoint_m) {
  .home-search-container {
    background-size: 1853px 320px;
    height: 320px;
  }

  $padding: 16px;
  .product-img {    
    width: calc((100% - #{$product-img-mr}*1)/2);
    padding-bottom: $padding;

    .img {
      padding: $padding;
    }

    &:nth-child(2n) {  
      margin-right: 0;    
    }
  }
  .product-img:nth-child(1),.product-img:nth-child(2) {
  	margin-top: 0;  
  }
  a.product-img {
    margin-right: 16px ;
  }
  
  
  .software-category {
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
  }

  .software-text-container {
    margin-top: 36px;
    width: 100%;

    .snmk-primary-btn { margin-top: 15px;}
  }
  .software-category img{
    width: 100%;
    height: auto;
  }

  
  .home-need-help-buttons .snmk-btn {
    margin-top: 8px;
  }
}