/***** Homepage *****/

.section {
  @include tablet {
    margin-bottom: 30px;
  }

  h2 {
    margin-top: 0;
    font-size: 22px;
    letter-spacing: -0.8px;
    font-family: $text_font;
  }

  &.knowledge-base {
    @include desktop {
      margin-top: 40px;
    }
  }

  &.articles {
  margin-left: 20px;

    h3 {
      margin-bottom:10px;
    }
  }

}

/***** Promoted articles *****/

.popular-topics {
  @include desktop {
    top: 50px;
    max-width: 60%;
    margin: 0 auto;
  }
    font-size: $font-size-small;
    position: relative;
    top: 25px;

    a {
      padding: 0 5px;
      color: $hero-link-text-color;
      display: inline-block;

    &:hover,
    &:active,
    &:focus, {
      color: $hero-link-text-hover;
      text-decoration: none;
    }
  }
}


/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  border-top: 1px solid $border-color;
  padding: 30px 0;
}
