/***** Homepage *****/

.home-section {
  padding: 0;

  &-default {
    background-color: #fff;
  }

  &-grey {
    background: $grey_background_color;
  }

  h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
  }
}

/* Home categories */
.home-section {
  .home-category-list {
    @include tablet {
      padding: 60px 0 20px;
    }

    display: flex;
    margin: 0 -10px;
    padding: 40px 0 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }

  .home-category-item {
    @include tablet {
      flex: 0 0 290px;
    }

    display: flex;
    flex: 1 0 290px;
    margin: 0 0 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .home-category {
    display: block;
    width: 100%;
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: 10px 10px 20px #eee;

    &:hover {
      transform: scale(1.08);
    }

    a:hover {
      text-decoration: none;
    }

    img {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: auto;
    }

    &-title {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 20px 8px 8px;
      font-size: 22px;
      font-weight: bold;
      color: $text_color;
    }

    &-description {
      display: inline-block;
      text-align: center;
      width: 100%;
      padding: 8px 24px;
      margin-bottom: 12px;
      font-size: $font-size-base;
      color: $descriptive-text-color;
    }
  }
}

/* Home get started */
.home-section {
  .home-get-started {
    @include tablet {
      padding-top: 60px;
    }
    padding-top: 20px;

    &-blocks {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: 20px -12px 40px;

      @include tablet {
        margin: 60px -12px 40px;
      }
    }

    &-block {
      background-color: $grey_background_color;
      flex: 1 1 400px;
      margin: 0 12px 20px;
      border-radius: 4px;
      position: relative;

      .icon-youtube {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_youtube_60x60-png);
      }

      .icon-bilibili {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_bilibili_60x60-png);
      }

      .icon-discussion {
        position: absolute;
        display: inline-block;
        margin: 30px 12px;
        width: 60px;
        height: 60px;
        background-image: url($assets-ic_discussion_60x60-png);
      }

      h3 {
        font-size: 22px;
        font-weight: bold;
        margin: 30px 30px 10px 100px;
      }

      p {
        font-size: $font-size-bigger;
        color: $secondary-text-color;
        margin: 10px 0;
        padding-left: 100px;
        padding-right: 30px;
      }

      a {
        font-size: $font-size-bigger;
        color: $brand_color;
        text-decoration: underline;
        display: block;
        margin: 10px 0 20px;
        padding-left: 100px;
        padding-right: 30px;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}

/* Promoted Articles */
.home-section {
  .home-promoted-articles {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

.home-section {
  .home-need-help {
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: -15px;

    &-desc {
      text-align: center;
      margin-top: 10px;
      color: $descriptive-text-color;
    }

    &-buttons {
      display: flex;
      justify-content: center;

      .button {
        width: 192px;
        margin: 0 12px;
      }
    }

    #home-weixin-qrcode {
      position: absolute;
      display: none;

      .home-need-help-modal {
        display: block;
        position: absolute;
        left: 12px;
        top: 43px;
        background-color: $background_color;
        width: 192px;
        border: 1px solid #eee;
        border-radius: 4px;
        box-shadow: 0 5px 20px #979899;
      }

      img {
        display: block;
        width: 120px;
        margin: 30px 38px;
      }
    }
  }
}
