/***** Metadata *****/
.meta-group {
  display: block;
}

.meta-group-opposite {
  float: right;
}

[dir="rtl"] .meta-group-opposite {
  float: left;
}

.meta-group * {
  display: inline;
}

.meta-data {
  color: inherit;
  font-weight: 500;
  font-size: $font-size-small;


  &:not(:last-child)::after {
    content: "\00B7";
    margin: 0 5px;
  }
}


.metadata-left, .metadata-right {
  display: flex;
  flex-direction: row;
}

.metadata-left {
  justify-content: start;
}

.metadata-right {
  justify-content: right;
}