/***** Metadata *****/
.meta-group {
  display: block;
}

.meta-group-opposite {
  float: right;
}

[dir="rtl"] .meta-group-opposite {
  float: left;
}

.meta-group * {
  display: inline;
}

.meta-data {
  color: inherit;
  font-weight: 400;
  font-size: $font-size-small;


//  &:not(:last-child)::after {
//    content: "\00B7";
//    margin: 0 5px;
//  }



 &:not(:last-child) {
    border-right: 1px solid $q-bg-neutral;
    padding-right: $gutter;
    margin-right: $gutter;
 }
}


.metadata-left, .metadata-right {
  display: flex;
  flex-direction: row;
}

.metadata-left {
  justify-content: start;    
  align-items: center;
}

.metadata-right {
  justify-content: right;    
  align-items: center;
}