/* stylelint-disable */
/***** My activities *****/
.my-activities {
  &-nav {
    margin-bottom: 20px;
    background-color: $secondary-shade;
  }

  &-sub-nav {
    margin-bottom: 30px;
  }

  &-table {
    .striped-list-title { /* My activities tables */
      @include desktop {
        min-width: 350px;
        max-width: 500px;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      display: block;
      max-width: 350px;
      margin-bottom: 10px;
      white-space: normal;
    }

    thead {
      @include tablet { display: table-header-group; }
      display: none;
    }

    th:first-child,
    td:first-child {
      @include desktop { width: 500px; }
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }

    // On mobile, only show the first column
    td:not(:first-child) {
      @include tablet { display: table-cell; }
      display: none;
    }
  }
}

/* Requests table */
.requests {
  &-search {
    width: 100%;
  }

  &-table-toolbar {
    @include tablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .search {
      flex: 1;
      width: 100%;
    }

    .request-table-filter {
      @include tablet {
        width: auto;
      }
      width: 100%;
    }

    .request-filter {
      @include tablet {
        margin: 0 0 0 30px;

        [dir='rtl'] & { margin: 0 30px 0 0; }
      }
      display: block;
    }

    .request-filter-label {
      @include tablet {
        margin-top: 0;
      }
      margin-top: 30px;
      font-size: $font-size-small;
    }

    select {
      @include tablet {
        width: auto;
        max-width: 300px;
        margin-bottom: 0;
      }
      width: 100%;
      max-height: 40px;
      margin-bottom: 30px;
    }

    .organization-subscribe,
    .organization-unsubscribe {
      @include tablet {
        margin-left: 10px;

        [dir='rtl'] & { margin: 0 10px 0 0; }
      }
      max-height: 40px;
      padding: 0 20px;
      line-height: 40px;
    }

    .organization-unsubscribe {
      background-color: $button-color;
      color: $brand_text_color;
    }

    & + .requests-search-info {
      margin-top: 15px;

      &.meta-data::after {
        content: '';
        margin: 0;
      }

      & + .requests {
        margin-top: 20px;
      }
    }

    & + .requests {
      margin-top: 40px;
    }
  }

  .requests-table {
    &-meta {
      @include tablet {
        display: none;
      }
      display: block;
    }

    thead {
      @include tablet { display: table-header-group; }
      display: none;
    }

    &-info {
      @include tablet {
        display: table-cell;
        width: auto;
        vertical-align: middle;
      }
      display: block;
    }

    .requests-link {
      position: relative;
    }

    .requests-sort-symbol {
      position: absolute;
      bottom: 0;
      left: calc(100% + 3px);
      font-size: 10px;
    }
  }
}

/* Following table */
.subscriptions {
  &-unsubscribe a {
    @include tablet { width: auto; }
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    border-radius: 4px;
    background: $button-color;
    color: $brand_text_color;
    font-size: 12px;
    line-height: 2.34; //Taken from Zendesk garden bedrock
    text-align: center;

    &:hover {
      background-color: $hover-button-color;
      text-decoration: none;
    }
  }

  &-table {
    td:last-child {
      @include tablet { display: table-cell; }
      display: block;
    }

    td:first-child {
      display: flex;
      align-items: center;
    }

    .user-avatar {
      margin-right: 10px;
    }
  }

  .striped-list-title {
    display: inline-block;
    vertical-align: middle;
  }
}

/* Contributions table */
.contributions-table {
  td:last-child {
    @include tablet {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
    color: $secondary-text-color;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }
}

.no-activities { color: $secondary-text-color; }
