// Component made for elements that are separated with space between
.page-header {

  @include tablet {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section-subscribe {
    @include tablet {
      margin-bottom: 0;
    }

    flex-shrink: 0; //Avoid collapsing elements in Safari
    margin-bottom: 10px;
  }

  h1 {
    flex-grow: 1;
    margin-bottom: 0;
  }

  &-description {
    @include desktop {
      flex-basis: 100%;
      margin: 0 0 32px 0;
    }

    word-break: break-word;
  }

  .icon-lock {
    height: 20px;
    width: 20px;
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }
}