// Component made for elements that are separated with space between
.page-header {

  @include tablet {
    align-items: baseline;
    flex-direction: row;
    margin: 0;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;

  .section-subscribe {
    @include tablet {
      margin-bottom: 0;
    }

    flex-shrink: 0; //Avoid collapsing elements in Safari
    margin-bottom: 10px;

    [role="button"] {
      @include tablet {
        width: 100%;
      }
      
      width: 40%;
    }
  }

  h1 {
    flex-grow: 1;
    margin-bottom: 10px;
  }

  &-description {
    @include desktop {
      flex-basis: 100%;
    }
    word-break: break-word;
  }

  .icon-lock::before {
    content: "\1F512";
    font-size: 20px;
    position: relative;
    left: -5px;
    vertical-align: baseline;
  }
}
