// Component made for elements that are separated with space between
.page-header {
  background-color: $grey--lighter;
  @include fluid-value( padding-top,
  $min-width,
  $max-width,
  $whitespace-large,
  $whitespace-large--desktop
);
  @include fluid-value( padding-bottom,
  $min-width,
  $max-width,
  $whitespace-large,
  $whitespace-large--desktop
);
  @media print {
    background-color: $white;
  }
}

.page-header__title {
  margin-bottom: 0;
  color: $primary;
  @media print {
    color: $black;
  }
}

.page-header__description {
  display: block;
  font-family: $font--default;
  font-size: .45em;
  font-weight: $font__weight--regular;
  text-transform: none;
  @media print {
    color: $black;
  }
}
