/* stylelint-disable */
/***** Pagination *****/

.pagination {
  padding-bottom: 45px;
  text-align: center;
}

.pagination * {
  display: inline-block;
}

.pagination li {
  width: 40px;
  height: 40px;
  padding-top: 1px;
  margin-left: 5px;
  float: left;
  border-radius: 50%;

  [dir='rtl'] & {
    float: right;
  }

  &:hover:not(.pagination-current) {
    background-color: $grey--lighter;

    span, a {
      color: $text_color;
      text-decoration: none;
    }
  }
}

.pagination a, .pagination span {
  @extend .noshadow;
    padding: 5px 12px;
    font-size: $font-size-small;
  @include desktop {
    padding: 10px 12px;
    color: $secondary-text-color;
    font-size: $font-size-base;
  }

}

.pagination-current {
  background-color: $brand_color;

  a, span { color: $white; }
}

.pagination-first {
  border-radius: 3px 0 0 3px;

  [dir='rtl'] & { border-radius: 0 3px 3px 0; }
}

.pagination-last {
  border-radius: 0 3px 3px 0;

  [dir='rtl'] & { border-radius: 3px 0 0 3px; }
}
