/* stylelint-disable */
/***** Recent activity *****/

.recent-activity {
  &-header {
    margin-bottom: 10px;
    text-align: center;
  }

  &-list { padding: 0; }

  &-item {
    padding: 20px 0;
    overflow: auto;
    border-bottom: 1px solid $border-color;
  }

  &-item-parent {
    font-size: $font-size-bigger;
  }

  &-item-parent,
  &-item-link {
    @include tablet {
      width: 70%;
      margin: 0;
    }
    display: inline-block;
    width: 100%;
    margin: 6px 0;
    color: $text_color;
  }

  &-item-link {
    font-size: 14px;
    font-weight: $font-weight-light;
  }

  &-item-meta {
    @include tablet {
      margin: 0;
      float: right;

      [dir='rtl'] & { float: left; }
    }
    margin: 15px 0 0;
    float: none;
  }

  &-item-time,
  &-item-comment {
    display: inline-block;
    color: $secondary-text-color;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
  }

  &-item-comment {
    padding-left: 5px;

    [dir='rtl'] & { padding: 0 5px 0 0; }

    &::before {
      display: inline-block;
    }

    span::before {
      @extend .icon;
      content: '\1F4AC';
      display: inline-block;
      padding-right: 3px;
      color: $brand_color;
      font-size: $font-size-base;
      vertical-align: middle;

      [dir='rtl'] & {
        padding-left: 3px;
      }
    }
  }

  &-controls {
    padding-top: 15px;
  }
}
