/***** Request *****/
.request {
  
  background: #FFFFFF;
  padding: $padding;
  flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11
  box-shadow: 1px 18px 20px #00000033;
  margin-bottom: 80px;
  position: relative;

  &-form {
    width: 100%;
  }

  &-container {
    @include desktop {
      align-items: flex-start;
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    .comment-container {
      min-width: 0;
    }
  }

  &-breadcrumbs {
    @include desktop { margin-bottom: 60px; }
    margin-bottom: 40px;
  }

  &-main {
    flex: 1 0 auto;
    order: 1;

    .comment-fields, .request-submit-comment {
      display: none;
    }

    .comment-fields.shown { display: block; }
    .request-submit-comment.shown { display: inline; }

    @include desktop {
      flex: 0 0 66%; // 4% spacing
      order: 0;
      min-width: 0; // Tricky detail to show truncated text https://css-tricks.com/flexbox-truncated-text/
    }

    .comment-form-controls {
      display: block;
    }
    .comment-ccs { display: block; }

    .comment-show-container {
      border-radius: 2px;
      border: 1px solid $low-contrast-border-color;
      color: $secondary-text-color;
      text-align: inherit;
      padding: 8px 25px;
      width: 100%;

      &.hidden {
        display: none;
      }
    }

    .form-field.comment-ccs {
      & > ul {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;

        &[data-hc-focus="true"] {
          border: 1px solid $brand-color;
        }
      }

      & > input[type="text"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
      }
    }

    .comment-ccs + textarea {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 0;

      &:focus {
        border-top: 1px solid $brand-color;
      }
    }

    input#mark_as_solved { display: none; }
  }

  &-title {
    @include desktop {
    }

    width: 100%;
  }

  &-sidebar {
    @include desktop {
      background-color: $primary-shade;
      border: 0;
      font-size: $font-size-small;
      flex: 0 0 auto;
      padding: 0 20px;
      width: 30%; //IE11 fix
    }

    border-bottom: 1px solid $low-contrast-border-color;
    border-top: 1px solid $low-contrast-border-color;
    flex: 1 0 auto;
    order: 0; //Bring to top

    h2 {
      @include desktop {
        display: none;
      }

      font-size: $font-size-base;
      font-weight: $font-weight-semibold;
      position: relative;
    }
  }

  &-details {
    font-size: 0; // To remove whitespace and do a 40%/60% split
    margin: 0;
    padding-bottom: 20px;

    &:last-child { border: 0; }

    dt, dd {
      display: inline-block;
      vertical-align: top;
      font-size: $font-size-small;
      margin: 20px 0 0 0;
    }

    dd {
      padding: 0 10px;
      width: 60%;

      &::after {
        content: "\A";
        white-space: pre;
      }
    }

    dt {
      color: $secondary-text-color;
      width: 40%;
    }

    .request-collaborators {
      display: inline-block;
    }
  }

  &-attachments {
    dt, dd {
      width: 100%;
    }

    dd {
      margin: 10px 0 0 0;
    }
  }

  &-form textarea {
    min-height: 120px;
  }

  &-follow-up {
    padding-top: 20px;
  }
}


.requests {
  /*
  * The article grid is defined this way to optimize readability:
  * Sidebar | Content | Free space
  * 25%     | 75%     | 0%
  */
  @include tablet {
    flex: 1 1 75%;
    max-width: 75%;
    min-width: 640px;
    padding: $padding;
  }

  background: #FFFFFF;
  padding: calc($padding / 2);
  flex: 1 0 auto; //Explicit values needed whith flex-direction: column for IE11
  // box-shadow: 1px 18px 20px #00000033;
  margin-bottom: 80px;

  &-container {
    @include tablet {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  &-subheading {
    @extend h3;
  }

  &-sidebar {
    @extend .table-of-contents-container;

    @include tablet {
      border: 0;
      flex: 0 0 25%;
      height: auto;
      max-width: 25%;
      margin-right: $gutter;
    }

    flex: 1 0 auto; //Explicit values needed with flex-direction: column for IE11
    margin-bottom: $gutter;
    position: sticky;
    top: 0px;

    &-sticky {
      position: sticky;
      top: 71px;
    }

    section {
      margin-bottom: $gutter;
    }

    .search-container {
      margin-bottom: $gutter;
    }
  }
}