.scroll-nav {
  position: sticky;
  top: 10px;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    padding-bottom: 10px;
  }

  .scroll-nav__link {
    color: $secondary-text-color;
    text-decoration: none;

    &:before {
      content: url($assets-ic_circle_8x8-svg);
      padding-right: 10px;
    }
  }

  &__item:hover,
  &__item:focus,
  &__item--active {
    .scroll-nav__link {
      color: $brand_color;

      &:before {
        content: url($assets-ic_circle_highlighted_8x8-svg);
        padding-right: 10px;
      }
    }
  }
}
