/***** Search results *****/
.search-results {
  @include desktop {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  &-column {
    @include desktop {
      flex: 0 0 75%;
    }

    flex: 1;
  }

  &-sidebar {
    border-top: 1px solid $low-contrast-border-color;
    flex: 1 0 auto;
    margin-bottom: 20px;
    padding: 0;

    @include desktop {
      border: 0;
      flex: 0 0 20%;
      height: auto;
    }

    .sidenav-item {
      display: block;
      border-radius: 4px;
      padding: 10px 36px;
      margin-bottom: 10px;
      color: $text_color;
      text-decoration: none;
      background-color: transparent;
      border: 1px solid #B8C2CC;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }

      &.current {
        background-color: #F3F4F8;
        text-decoration: none;
        color: $text_color;
      }
    }

    .sidenav-subitem {
      unicode-bidi: embed;
    }

    .sidenav-tag {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-grow: 0;

      .content-tag {
        background: #E9EBED;
        border-radius: 4px;
        padding: 4px 12px;
        text-decoration: none;

        .label {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.000427656px;
          color: #49545C;
          flex-grow: 0;
          vertical-align: middle;
          display: inline-block;
        }

        .close-icon {
          color: #555555;
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .collapsible-sidebar {
      margin-bottom: 30px;

      &[aria-expanded="false"] {
        .multibrand-filter-list {
          display: none;
          @include desktop { display: block; }
        }
      }
    }
    
    .sidenav-title {
      font-size: 24px;
      font-weight: 700;
      color: black;
      margin-bottom: 16px;
      margin-top: 0;
    }

    .multibrand-filter-list--collapsed li:nth-child(1n + 6) {
      display: none;
    }


    .see-all-filters {
      background: none;
      border: none;
      cursor: pointer;
      display: block;
      padding: 10px;
      color: $link_color;

      &[aria-hidden="true"] {
        display: none;
      }

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: ' \2304';
        font-weight: bold;
      }
    }
  }

  &-subheading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    color: black;
  }

  &-list {
    margin-bottom: 25px;
    list-style: none;
    padding: 0;
    
    > li {
      padding: 24px 0;
      border-bottom: 1px solid #E9EBED;
      
      &:first-child {
        border-top: 1px solid #E9EBED;
      }
      
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 8px;
    border: solid 1px #DDE1E6;
    border-radius: 8px;
    padding: 32px;
    margin-bottom: 56px;

    .no-results-icon {
      width: 80px;
      height: 80px;
      display: block;
      margin-bottom: 8px;
    }

    .headline {
      color: black;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.45px;
    }

    .action-prompt {
      color: #212326;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.154px;

      a {
        color: $link_color;

        &:visited {
          color: $link_color;
        }
      }
    }

    .help-center {
      margin-top: 16px;
      border: solid 1px #B8C2CC;
      border-radius: 24px;
      padding: 12px 24px;
      
    }
  }
}

.search-result {
  &-title-container {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    
    a {
      color: #A31F34;
      text-decoration: none;
      
      &:hover,
      &:focus {
        color: #750014;
        text-decoration: underline;
      }
      
      &:visited {
        color: #A31F34;
      }
    }
  }

  &-votes,
  &-meta-count {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;

    &-icon {
      color: #C41230;
      vertical-align: middle;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }
  
  &-votes &-votes-icon {
    color: #C41230;
  }
  
  &-meta-count &-meta-count-icon {
    color: #999999;
  }

  &-meta-container {
    color: #626A73;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    nav {
      @include desktop { flex: 1; }
    }

  }
  
  &-meta-data {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    
    .meta-data {
      font-size: 14px;
      color: #626A73;
      margin: 0;
      
      &::after {
        content: none;
      }
    }
  }

  &-breadcrumbs {
    margin: 0;
    font-size: 14px;
    color: #626A73;

    li:first-child a {
      color: #A31F34;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      color: #626A73;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-description {
    margin-top: 0;
    margin-bottom: 0;
    word-break: break-word;
    font-size: 14px;
    color: #212326;
  }
}

/* By default use bold instead of italic to highlight */
.search-results-description em {
  font-style: normal;
  font-weight: bold;
}

/* Add a yellow background for Chinese */
html[lang|="zh"] {
  .search-results-description em {
    font-style: normal;
    background: yellow;
  }
}
