/***** Search field *****/
.search {
  position: relative;

  &-artstor-box {
    background-color: #e8e8e8;
  	padding-left: 20px;
  	padding-top: 10px;
  	padding-bottom: 10px;
  	padding-right: 10px;
  }

  input[type="search"] {
    border: 1px solid $med-gray;
    border-radius: 3px 0 0 3px;
    box-shadow: inset 1px 0 10px -3px $med-gray;
    box-sizing: border-box;
    color: $field-text-color;
    height: 40px;
    padding-left: 15px;
    padding-right: 20px;
    -webkit-appearance: none;
    width: 100%;

    [dir="rtl"] & {
      padding-right: 15px;
      padding-left: 20px;
    }

    &:focus {
      color: $field-text-focus-color;
    }
  }


  &::before {
    @extend .icon;
    @include vertical-align;
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 18px;
    position: absolute;
    right: 15px;

    [dir="rtl"] & {
      right: 15px;
      left: auto;
    }
  }
}
