/***** Search results *****/
.search-results {
  @include desktop {
    flex-direction: row;
    flex: 1 1 75%;
    max-width: 75%;
    min-width: 640px;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;    
  padding: $padding;
  margin-top: $gutter;

  &-column {
    @include desktop {
      flex: 0 0 75%;
    }

    flex: 1;
  }

  &-container {
    display: flex;
    flex-direction: column;
    position: relative;

    @include desktop {        
      flex-direction: row;
    }
  }


  &-sidebar {
    @extend .table-of-contents-container;

    @include desktop {
      border: 0;
      flex: 0 0 25%;
      height: auto;
      max-width: 25%;
      margin-right: $gutter;
    }

    section {
      margin-bottom: $gutter;  
    }

    

    flex: 1 0 auto; //Explicit values needed with flex-direction: column for IE11
    margin-bottom: $gutter;

 // &-sidebar {
 //   border-top: 1px solid $low-contrast-border-color;
 //   flex: 1 0 auto;
  //  margin-bottom: 20px;
  //  padding: 0;



//    @include desktop {
//      border: 0;
//      flex: 0 0 20%;
//      height: auto;
//    }

//    .sidenav-item {
//
//
//      border-radius: 4px;
//      padding: 10px 36px;
//      margin-bottom: 4px;
//      color: $text_color;
//
//      &:hover,
//      &.current {
//        background-color: #e9ebed;
//        text-decoration: none;
//      }
//    }

//    .sidenav-subitem {
//      unicode-bidi: embed;
//    }

//    .sidenav-tag {
//      display: flex;
//      flex-direction: row;
//      align-items: flex-start;
//      flex-grow: 0;
//
//      .content-tag {
//        background: #E9EBED;
//        border-radius: 4px;
//        padding: 4px 12px;
//        text-decoration: none;
//
//        .label {
//          font-style: normal;
//          font-weight: 600;
//          font-size: 12px;
//          line-height: 24px;
//          text-align: center;
//          letter-spacing: -0.000427656px;
//          color: #49545C;
//          flex-grow: 0;
//          vertical-align: middle;
//          display: inline-block;
//        }
//
//        .close-icon {
//          color: #555555;
//          vertical-align: middle;
//          display: inline-block;
//        }
//      }
//    }

//    .collapsible-sidebar {
//      margin-bottom: 30px;
//
//      &[aria-expanded="false"] {
//        .multibrand-filter-list {
//          display: none;
//          @include desktop { display: block; }
//        }
//      }
//    }

//    .multibrand-filter-list--collapsed li:nth-child(1n + 6) {
//      display: none;
//    }
//
    .multibrand-filter-list .doc-count {
      @extend .badge-primary;
    }

    .see-all-filters {
      @extend .button-primary;

      &[aria-hidden="true"] {
        display: none;
      }

    }
  }

  &-subheading {
    @extend h3;

    a, a:visited {
      color: $link_color;
    }
  }

  &-list {
    margin-bottom: 25px;
    > li {
      padding: 24px 0;
      &:not(:last-of-type) {
        border-bottom: 1px solid $q-border-weak;
      }
    }
  }
}

.search-result {
  &-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $gutter;
  }

  &-title {
    @extend h5;
    margin-bottom: 0;
  }

  &-votes,
  &-meta-count {
    color: $secondary-text-color;
    font-size: $font-size-small;

    &-icon {
      color: $brand-color;
      vertical-align: middle;
      width: 13px;
      height: 13px;
    }

    [dir="ltr"] & {
      margin-left: 20px;
    }

    [dir="rtl"] & {
      margin-right: 20px;
    }
  }

  &-meta-container {
    display: flex;
    flex-direction: column;

    .vr {
      height: auto;
      border-right: 1px solid currentColor;
      margin: 2px $gutter;
      align-self: stretch;

    }

    @include desktop {
      flex-direction: row;
      align-items: center;
    }

    nav {
      @include desktop { flex: 1; }
    }

    .meta-data {
      &::after {
        content: none;
      }
    }
  }

  &-breadcrumbs {
    @extend .breadcrumbs;
    li {
      font-weight: 400;
      color: $text_color;
    }
  }

  &-description-container {

    margin-top: calc($gutter/2);
    margin-bottom: calc($gutter/2);
    background-color: $background-subtle;
    padding: calc($padding/2);
    word-break: break-word;
    line-height: 1.5;

    }
    &-description {
      height: 1.5em;
      overflow: hidden;    
      margin: 0;
      em {
        font-style: normal;
        background-color: $q-bg-brand-weak;
        padding: 0 4px;
        color: $q-text-brand-strong;
        font-weight: 800;
      }
  }

}



.no-results {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: $padding 0;
  margin-top: $gutter;

//  .headline {
//    color: #2F3941;
//    font-weight: 400;
//    font-size: 18px;
//    line-height: 24px;
//    letter-spacing: -0.45px;
//  }

  .action-prompt {
//    color: #68737D;
//    font-weight: 400;
//    font-size: 14px;
//    line-height: 20px;
//    letter-spacing: -0.154px;

    a {
      color: $link_color;

      &:visited {
        color: $link_color;
      }
    }
  }
}

/* By default use bold instead of italic to highlight */
.search-results-description em {
  font-style: normal;
  font-weight: bold;
}

/* Add a yellow background for Chinese */
html[lang|="zh"] {
  .search-results-description em {
    font-style: normal;
    background: yellow;
  }
}
