/***** Search field *****/
.search {
  position: relative;

  input[type="search"] {
    border: 1px solid $border-color;
    border-radius: 8px;
    box-sizing: border-box;
    color: $field-text-color;
    height: 65px;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 60px;
    -webkit-appearance: none;
    width: 100%;

    [dir="rtl"] & {
      padding-right: 20px;
      padding-left: 60px;
    }

    &:focus {
      border: 1px solid $brand_color;
      color: $field-text-focus-color;
    }
  }


  &::before {
    @extend .icon;
    @include vertical-align;
    background-color: #fff;
    color: #777;
    content: "\1F50D";
    font-size: 30px;
    position: absolute;
    right: 15px;

    [dir="rtl"] & {
      left: 15px;
      right: auto;
    }
  }

  &-full input[type="search"] {
    border: 1px solid #fff;
  }
}
