/***** Section pages *****/
.section {

  &-container {
    display: flex;
    justify-content: flex-end;

    h1 {margin-bottom: 40px;}

  }

  &-content {
    flex: 1;
  }

  &-subscribe {
    .dropdown-toggle::after {
      display: none;
    }
  }
}

.section-list {
  margin: 20px 0;
}

.section-list--collapsed .section-list-item:nth-child(1n + 6) {
  display: none;
}

.section-list-item {
  a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    color: $text_color;
  }

  .page-header-description {
    font-size: $font-size-base;
  }
}

.see-all-sections-trigger {
  cursor: pointer;
  display: block;
  padding: 15px;
  text-align: center;

  &[aria-hidden="true"] {
    display: none;
  }
}
