.service-catalog {
  &-hero {
    background-image: url($service_catalog_hero_image);
    margin-bottom: 10px;
    height: 320px;
  }

  &-description {
    @include content-body;
  }

  &-main-content {
    display: flex;
    gap: 32px;
  } 

  &-list {
    width: 100%;
  }
}
