/***** Social share links *****/

.share {
  padding: 0;
  white-space: nowrap;
}

.share li, .share a {
  display: inline-block;
}

.share a {
  height: 22px;
  line-height: 22px;
  margin-right: 3px;
  overflow: hidden;
  text-decoration: none;
  width: 22px;
  
}

.share a::before {
  font-family: 'FontAwesome' !important;
  color: $text-color;
  display: block;
  font-size: 18px;
  line-height: 1em;
  text-align: center;
  width: 100%;
}

.share a:hover {
  text-decoration: none;
  &::before { color: $brand_color; }
}

.share-twitter::before {
  content: "\f099";
}

.share-facebook::before {
  content: "\f09a";
}

.share-linkedin::before {
  content: "\f0e1";
}
