.step-info {
  display: inline-flex;
  gap: 0 .25rem;

  &.note {
    background: #FFFFFF;
  }

  &.important {
    background: #EEEEEE; // or #E0E0E0
  }

  &.tip {
    background: #C8E6C9; // or #E8F5E9
  }

  &-prefix {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 0.25rem;
    height: 26px;

    svg {
      height: 18px;
    }
  }
}

.step-result {
  display: inline-flex;
  gap: 0 .25rem;

  &-prefix {
    align-items: center;
    display: flex;
    font-weight: 600;
    gap: 0.25rem;
    height: 26px;

    svg {
      height: 18px;
    }
  }
}