.sub-nav {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //Inner pages search field
  input[type="search"] {
    @include tablet {
      min-width: 300px;
    }

    &::after { font-size: $font-size-base; }
  }
}
