.sub-nav {
  @include tablet {
    align-items: baseline;
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 50px;
}
