.sub-nav {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px 30px;
  justify-content: space-between;

  @include tablet {
    flex-direction: row;
    margin-bottom: 1rem;
  }

  // Inner pages breadcrumbs
  .breadcrumbs {
    margin: 0;
  }

  // Inner pages search field
  .search-container {
    max-width: 300px;
    width: 100%;

    @include tablet {
      flex: 0 1 300px;
    }
  }

  input[type="search"] {
    &::after {
      font-size: $font-size-base;
    }
  }
}

.sub-hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0rem 1rem;

  .sub-nav {
    flex-grow: 1;
    margin: 0;
  }

  margin-bottom: 1rem;
}