@use "sass:math";

/***** Tables *****/
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $padding;

  &-scroll {
    overflow: auto;
  }

  th,
  th a {
    color: $secondary-text-color;
    font-size: $font-size-small;
    text-align: left;

    [dir="rtl"] & { text-align: right; }
  }

  &--color-header {
    th {
      background-color: $q-bg-brand-strong;
      color: $q-text-onbrand-strong;
    }

    th, td {
      padding: 4px 8px;
    }
  }

  &--bordered {

      border: 1px solid $q-border-weak;

    :dir(ltr) {
      td, th {
        border-left: 1px solid $q-border-weak;
      }
    }

    :dir(rtl) {
       td, th {
        border-right: 1px solid $q-border-weak;
      }
    }
  }

  &--striped {
    th, td, thead th {
      border-color: #fff;
    }

    tbody tr:nth-child(even) {
      color: inherit;
      background-color: $q-bg-subtle;
    }
  }

  &--hover tbody tr:hover {
    color: inherit;
    background-color: $q-bg-subtle;
  }

  thead tr {
    border-bottom: 1px solid $q-border-weak;
  }


  td, th {
    @include tablet {
      padding: math.div($gutter, 4) math.div($gutter, 2);
    }
    @include desktop {
      padding: math.div($gutter, 2) $gutter;
    }
  }
}
