/* TOC */


.table-of-contents-container, .activity-filter-container, .request-filter-container {
  
  background: #FFFFFF;
  padding: $gutter;
  padding-bottom: 0;
  

  @include desktop {
    padding: $padding;
  }

  li {
    a {
          font-size: 1rem;
          padding: 5px 5px 5px 16px;
          border-left: 1px solid #cbcbcb;
          color: #000;
          display: flex;
          justify-content: space-between;
          align-items: center;
      &.active {
        border-left: 1px solid #515ba5;
        background-color: $background-subtle;
      }
      &:hover {
        background-color: $background-subtle;
      }

      &.toc-level-2 {
        padding-left: 32px;
      }
    }
  }
}

