/***** Tables *****/
table {
  @include tablet { table-layout: auto; }

  margin-top: 10px;
  width: 100%;
  table-layout: fixed;

  th {
    color: $text-color;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
    text-align: left;

    [dir="rtl"] & { text-align: right; }
  }

  tr {
    @include tablet { display: table-row; }

    display: block;
  }

  td {
    @include tablet {
      display: table-cell;
    }

    display: block;
  }

  td, th {
    padding: 10px;
    border: 1px solid $med-gray;
    vertical-align: top;
    text-align: left;
  }
}
