@use "sass:math";

/***** Tables *****/
.table {
  @include tablet { table-layout: auto; }

  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  &-scroll {
    overflow: auto;
  }

  th,
  th a {
    color: $secondary-text-color;
    font-size: $font-size-small;
    text-align: left;

    [dir="rtl"] & { text-align: right; }
  }

  &--color-header {
    th {
      background-color: $q-bg-brand-strong;
      color: $q-text-onbrand-strong;
    }
  }

  tr {
    @include tablet { display: table-row; }

    border-bottom: 1px solid $low-contrast-border-color;
    display: block;
  }

  td {
    @include tablet {
      display: table-cell;
    }

    display: block;
  }

  td, th {
    @include desktop {
      padding: math.div($gutter, 2) $gutter;
    }
    @include tablet {
      padding: math.div($gutter, 4) math.div($gutter, 2);
    }
  }
}
