/***** Tables *****/
.article-body {
  table {
    display: inline-block;
    max-width: 100%;
    overflow-x: scroll;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: 2px 2px 4px hsla(0, 0%, 80%, .15);
    vertical-align: top;
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    // optional - looks better for small cell values
    white-space: nowrap;
  }

  caption {
    font-weight: $font__weight--bold;
    text-align: left;
  }

  th {
    border: solid $border--width $grey--light;
    @include fluid-value( padding, $min-width, $max-width, 5px, 10px );
    background-color: $grey--lightest;
    font-weight: $font__weight--bold;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    border: solid $border--width $grey--light;
    @include fluid-value( padding, $min-width, $max-width, 5px, 10px );
  }
  @media print {
    table {
      position: relative;
      width: 100%;
      page-break-inside: avoid;
      overflow: visible;
      table-layout: fixed;
      white-space: normal;
    }

    td {
      position: relative;
      page-break-inside: avoid;
    }
  }
}
