/***** User info in header *****/
.user-info {
  display: inline-block;

  .dropdown-toggle::after {
    @include tablet { display: inline-block;}
    display: none;
  }

  > button {
    font-family: $text_font_medium;
    font-weight: $font-weight-semibold;
    border: 0;
    color: $brand_text_color;
    min-width: 0;
    padding: 0;
    white-space: nowrap;
    font-size: $font-size-navigation;
    line-height: 21px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    &:hover,
    &:focus {
      color: $link_color_hover;
      background-color: transparent;
    }

    &::before {
      content: " ";
      display: block;
      position: relative;
      top: 2px;
      margin-right: 5px;
      width: 16px;
      height: 16px;
      background-image: url($assets-user-png);
      background-size: contain;
      background-repeat: no-repeat;
    }

    &::after {
      color: $link_color;
      padding-right: 15px;

      [dir="rtl"] & {
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
}

// Selector is this strong to override the styles set with ids
#user #user-name {
  @include tablet { display: inline-block; }
  display: none;
  font-size: 14px;

  &:hover { text-decoration: underline; }
}

/***** User avatar *****/
.user-avatar {
  height: 25px;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
  background-image: url($assets-user-png);
  background-size: contain;
  background-repeat: no-repeat;
  display: none !important;
}

.avatar {
  display: inline-block;
  position: relative;

  img {
    height: 40px;
    width: 40px;
  }

  .icon-agent {
    color: $brand_color;
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: -4px;
    background-color: $brand_text_color;
    font-size: 17px;
    height: 17px;
    line-height: 17px;
    position: absolute;
    right: -2px;
    text-align: center;
    width: 17px;
  }
}
