// Variables

// Colors
$brand_color: #C9510D !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #000 !default;
$link_color: $brand_color !default;
$secondary_link_color: #555555;
$secondary_link_hover: #333333;
$background_color: #fff !default;

$visited-link-color: #993e0a;
$hover-button-color: $visited-link-color;
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

//added colors
$hero-background: url($homepage_background_artstor); //file in settings
$hero-text-color: $brand_text_color;
$hero-link-text-color: $brand_text_color;
$hero-link-text-hover: $brand_text_color;
$dark-gray: #333333;
$med-gray: #cccccc;
$gray: #e8e8e8; //article anchor box, bottom of footer
$lighter-gray: #f9f9f9;
$alert-color: #ffefc3;

$font-size-bigger: 18px;
$font-size-base: 16px;
$font-size-navigation: 14px;
$font-size-small: 14px;
$font-size-smaller: 11px;

$border-color: #000;

$button-color: $brand_color;
$vote-up: #6EB032;
$vote-down: #E04A35;

$input-font-size: 14px;
$field-text-color: #333;
$field-text-focus-color: #000;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: 'Arial Black', Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$text_font: Arial, 'Helvetica Neue', Helvetica, sans-serif !default;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;
$font-weight-bold: 700;
