// Variables

// Colors
$brand_color: #222 !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #222 !default;
$link_color: #45be76 !default;
$background_color: #fff !default;

$hover-link-color: #59d28a;

$button-color: $link_color;
$hover-button-color: $hover-link-color;

$color-gray-dark: #888;
$color-gray-main: #ddd;
$color-red: #ed1c24;

$line-height-default: 1.5;
$line-height-small: 1.2;

$secondary-text-color: $color-gray-dark;

$primary-shade: zass-darken($background_color, 4%); //#f5f5f5
$secondary-shade: zass-darken($background_color, 4%); //#f5f5f5

$font-size-bigger: 16px;
$font-size-base: 16px;
$font-size-navigation: 14px;
$font-size-small: 14px;
$font-size-smaller: 12px;

$border-radius: 5px;
$border-color: $color-gray-main;

$input-font-size: $font-size-small;
$field-text-color: #222;
$field-text-focus-color: #222;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: "Styrene B Bold", Verdana, sans-serif !default;
$text_font: "Styrene B Regular", Verdana, sans-serif !default;
$text_font_medium: "Styrene B Medium", Verdana, sans-serif !default;
$font-weight-bold: 700;
$font-weight-semibold: 500;
