// Variables

// CUSTOM JOBBER VARIABLES FOR THE 2019 THEME

$base-font-size: 16px;
$base-font-size--desktop: 20px;
$typescale__step0: $base-font-size;
$typescale__step1: 24px;
$typescale__step2: 32px;
$typescale__step3: 48px;
$typescale__step4: 72px;


$min-width: 320px;
$max-width: 1366px;
$max-width-page-container: 1440px;

$primary: #012939;
$primary--light: #4d6974;
$primary--lighter: #99a9b0;
$primary--lightest: #3ca2e0;
$primary--dark: #011b25;

$secondary: #7db00e;
$secondary--light: #a0d72a;
$secondary--dark: #649700;

$tertiary: #ef5733;
$tertiary--light: #fef3f0;

$grey: #b8b8b8;
$grey--light: #888;
$grey--lighter: #e9e9e9;
$grey--lightest: #f3f3f3;

$yellow: #ddc30f;
$yellow-lightest: #faf6db;

$white: #fff;
$black: #000;

$transition-speed: 300ms;

$font--heading: "Poppins", sans-serif;
$font--default: "Source Sans Pro", sans-serif;
$font--print: "Garmond, serif";
$font--print-heading: "Bookman, serif";
$font__weight--regular: 400;
$font__weight--bold: 700;
$font__weight--extra-bold: 800;
$font__weight--black: 900;

$spacing: 15px;
$spacing--desktop: 30px;
$whitespace-small: 32px;
$whitespace-medium: 48px;
$whitespace-large: 72px;
$whitespace-small--desktop: 48px;
$whitespace-medium--desktop: 72px;
$whitespace-large--desktop: 96px;

$border--width: 1px;
$border--radius: 8px;
$focus--width: 5px;
$font-zendesk-icons: "copenhagen-icons";

/* HEADER SPECIFIC VARIABLES */
$header__height--min: 80px;
$header__height--max: 138px;
$header__padding--max: 16px;
$header__icon-menu--dimension: 40px;

/* ZENDESK DEFAULTS */
// Colors
$brand_color: #0072ef !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #333 !default;
$link_color: #0072ef !default;
$background_color: #fff !default;

$visited-link-color: zass-darken($link_color, 20%);
$hover-button-color: zass-darken($brand_color, 20%);
$secondary-text-color: zass-lighten($text_color, 20%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$font-size-bigger: 16px;
$font-size-base: 15px;
$font-size-navigation: 14px;
$font-size-small: 13px;
$font-size-smaller: 11px;

$border-color: #ddd;

$button-color: $brand_color;

$input-font-size: 14px;
$field-text-color: #999;
$field-text-focus-color: #555;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1195px;

// Fonts
$heading_font: 'Poppins', sans-serif !default;
$text_font: 'Open Sans Pro', sans-serif !default;
$font-weight-base: 400;
$font-weight-light: 300;
$font-weight-semibold: 600;

