// Variables

// Colors
$brand_color: #222 !default;
$brand_text_color: #fff !default; //Color for text with an accent color background
$text_color: #222 !default;
$link_color: #45be76 !default;
$background_color: #fff !default;

$link_color_hover: #59d28a;

$hover-button-color: zass-darken($brand_color, 50%);
$secondary-text-color: zass-lighten($text_color, 50%);

$primary-shade: zass-darken($background_color, 3%); //#f8f8f8 for the default background_color
$secondary-shade: zass-darken($background_color, 5%); //#f2f2f2 for the default background_color

$border-radius: 5px;
$color-gray-dark: #888;
$color-gray-main: #ddd;
$color-red: #ed1c24;

$font-size-bigger: 16px;
$font-size-base: 16px;
$font-size-navigation: 14px;
$font-size-small: 14px;
$font-size-smaller: 12px;

$border-color: #fff;

$button-color: $brand_color;

$input-font-size: 16px;
$field-text-color: #222;
$field-text-focus-color: #222;

// Breakpoints variables
$tablet-width: 768px;
$desktop-width: 1024px;
$max-width-container: 1160px;

// Fonts
$heading_font: "Styrene B Bold", BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$text_font: "Styrene B Regular", BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$text_font_medium: "Styrene B Medium", BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif !default;
$font-weight-semibold: 500;
