/* WYSIWYG styling inside certain elements only */

.article-body {

  /* HEADINGS */
  h1, h2, h3, h4, h5, h6, .h2, .h3, .h4 {
    margin-bottom: .25em;
  }

  /* LINKS */

  /* stylelint-disable-next-line selector-max-specificity */
  a[href*='//']:not([href*='cloudinary.com']):not([href*='getjobber.com']) {
    /* stylelint-disable-next-line selector-max-specificity */
    &::after {
      content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M18 14v5a2 2 0 01-2 2H5a2 2 0 01-2-2V8c0-1.1.9-2 2-2h5m5-3h6v6m-11 5L20.2 3.8' fill-rule='evenodd'/></svg>");
      width: 15px;
      height: 15px;
      margin-left: 5px;
      color: inherit;
      /* stylelint-disable-next-line max-nesting-depth */
      @media print {
        content: ' [' attr(href) ']';
        color: $black;
      }
    }
  }

  a {
    @media print {
      border-bottom: dotted 1px $grey--light;
      box-shadow: none;
      color: $grey--light;
      /* stylelint-disable-next-line max-nesting-depth */
      &::after {
        content: ' [' attr(href) ']';
        color: $black;
      }
    }
  }

  .popup {
    box-shadow: none;

    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
    }
    @media print {
      cursor: not-allowed;
    }
  }

  /* MEDIA */
  img {
    max-width: 98%;
    height: auto;
    border: solid 2px $grey--lighter;
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
    @media print {
      display: block;
      max-width: 90%;
      page-break-inside: avoid;
      /* stylelint-disable-next-line max-nesting-depth */
      &::after {
        content: ' [Image source: ' attr(href) ']';
      }
    }

    &.mfp-img {
      border: none;
    }
  }

  iframe[src*='youtube'] {
    max-width: 100%;
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
    @media print {
      display: none;
    }
  }

  .wistia_responsive_padding {
    margin: 3rem auto;
    @media print {
      display: none;
    }
  }

  .this-is-a-vertical-video {
    max-width: 400px;
    margin: 3rem auto;
    /* stylelint-disable-next-line declaration-no-important */
    padding: 0 !important;
    @media print {
      display: none;
    }
  }

  .this-is-a-vertical-video > div {
    /* stylelint-disable-next-line declaration-no-important */
    position: relative !important;
  }

  /** LISTS **/
  & > ul,
  & > ol {
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
  }

  ul {
    padding: 0;
    list-style-position: inside;
    list-style-type: disc;
    @include fluid-value( margin-left,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
  }

  ol {
    padding: 0;
    list-style-position: inside;
    list-style-type: decimal;
    @include fluid-value( margin-left,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
  }

  ul ul, ol ul {
    margin-left: $spacing--desktop;
    list-style-position: inside;
    list-style-type: circle;
  }

  ol ol, ul ol {
    margin-left: $spacing--desktop;
    list-style-position: inside;
    list-style-type: lower-latin;
  }

  li > p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  /** CODE SAMPLE **/
  pre {
    width: inherit;
    max-width: 100%;
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    padding: $spacing;
    border: solid $border--width $grey;
    border-radius: $border--radius;
    background-color: $grey--lightest;
    word-wrap: break-word;
    white-space: pre-wrap;
    @media print {
      border: solid $border--width $black;
      background-color: $white;
      white-space: normal;
    }
  }

  /** Zendesk Classes **/
  .wysiwyg-underline {
    text-decoration: underline;
  }

  .wysiwyg-text-align-center {
    text-align: center;
  }

  .wysiwyg-text-align-right {
    text-align: right;
  }

  .wysiwyg-text-align-left {
    text-align: left;
  }

  .wysiwyg-font-size-small {
    font-size: .875em;
  }

  .wysiwyg-font-size-medium {
    font-size: 1em;
  }

  .wysiwyg-font-size-large {
    font-size: 1.25em;
  }

  .wysiwyg-font-size-x-large {
    font-size: 1.5em;
  }

  .wysiwyg-indent2 {
    margin-left: 2em;
  }

  .toc {
    background-color: $grey--lightest;
    @include fluid-value( padding,
    $min-width,
    $max-width,
    $spacing,
    $spacing--desktop
  );
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );

    > ol {
      margin: 0;
    }

    h2 {
      @extend .h4;
    }

    a {
      @extend .greyLink;
    }
  }

  .accordion-section:not(:first-child) {
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
  }

  .accordion-title {
    @extend .h3;
    text-transform: none;
  }

  .jobber-info {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    @include fluid-value( margin-top,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    @include fluid-value( margin-bottom,
    $min-width,
    $max-width,
    $whitespace-small,
    $whitespace-small--desktop
  );
    padding: $spacing;
    border: solid $border--width $grey;
    border-radius: $border--radius;
    background-color: $grey--lightest;
    color: $black;
    font-size: 90%;
    @media print {
      border: solid $border--width $black;
      background-color: $white;
      white-space: normal;
    }
  }

  .jobber-info p {
    margin: $spacing 0;
  }

  .jobber-info *:last-child {
    margin-bottom: 0;
  }

  .jobber-info p:first-child {
    margin-top: 0;
  }
}
