// Common
@import "normalize";
@import "./theme/index.scss";

@import "../node_modules/font-awesome/scss/font-awesome";
@font-face {
  font-family: 'FontAwesome';
  src: url($assets-fontawesome-webfont-woff2) format('woff2');
  /*
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?v=#{$fa-version}');
  src: url('#{$fa-font-path}/fontawesome-webfont.eot?#iefix&v=#{$fa-version}') format('embedded-opentype'),
    url('#{$fa-font-path}/fontawesome-webfont.woff2?v=#{$fa-version}') format('woff2'),
    url('#{$fa-font-path}/fontawesome-webfont.woff?v=#{$fa-version}') format('woff'),
    url('#{$fa-font-path}/fontawesome-webfont.ttf?v=#{$fa-version}') format('truetype'),
    url('#{$fa-font-path}/fontawesome-webfont.svg?v=#{$fa-version}#fontawesomeregular') format('svg');
//  src: url('#{$fa-font-path}/FontAwesome.otf') format('opentype'); // used when developing fonts
*/
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "mixins";
@import "base";


// Components
@import "buttons";
@import "split_button";
@import "tables";
@import "forms";

@import "article_list";
@import "blocks";
@import "collapsible-nav";
@import "collapsible-sidebar";
@import "metadata";
@import "scrollnav";
@import "sub-nav";
@import "follow";
@import "tips_modal";

// Filters
@import "breadcrumbs";
@import "search";

// Uncategorized
@import "page_header";
@import "recent-activity";
@import "category";
@import "section";

@import "attachments";
@import "share";
@import "comments";
@import "vote";
@import "actions";
@import "community";
@import "striped_list";
@import "status-label";
@import "post";
@import "my-activities";
@import "request";
@import "pagination";
@import "user-profiles";
@import "search_results";
@import "notifications";
@import "dropdowns";

// Header
@import "user";
@import "header";

// Footer
@import "footer";

// Home
@import "hero";
@import "home-page";

// Article
@import "article";
